<StackLayout class="active-container">
    <GridLayout rows="36" columns="*,auto,auto">
        <Label *ngIf="categoryList" text="{{categoryList.join(', ')}}"
            row="0" col="0" class="cat-title"></Label>

        <StackLayout row="0" col="1" horizontalAlignment="right">
            <AbsoluteLayout *ngIf="game?.gameOptions.isBadgeWithCategory">
                <Image *ngFor="let badge of earnedBadgesByOtherUser; let i = index"  left="{{24 + ((earnedBadgesByOtherUser.length - (i+1)) * 12)}}" top="5" src="res://{{applicationSettings?.badges[badge]?.image?.name}}"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image> 
                <StackLayout left="5" top="5">
                    <app-user-card [userId]="otherUserId" [type]="userCardType.USER_IMAGE_30X30" [width]="30" [height]="30">
                    </app-user-card>
                </StackLayout>   
            </AbsoluteLayout>
            <AbsoluteLayout *ngIf="!game?.gameOptions.isBadgeWithCategory">
                <Image *ngIf="game.stats[otherUserId]?.score >= 5" left="74" top="5" src="res://badge5"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[otherUserId]?.score >= 4" left="62" top="5" src="res://badge4"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[otherUserId]?.score >= 3" left="50" top="5" src="res://badge3"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[otherUserId]?.score >= 2" left="38" top="5" src="res://badge2"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[otherUserId]?.score >= 1" left="25" top="5" src="res://badge1"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>
                <StackLayout left="5" top="5">
                    <app-user-card [userId]="otherUserId" [type]="userCardType.USER_IMAGE_30X30" [width]="30" [height]="30">
                    </app-user-card>
                </StackLayout>
            </AbsoluteLayout>
        </StackLayout>

        <StackLayout row="0" col="2" horizontalAlignment="right">
            <AbsoluteLayout *ngIf="game?.gameOptions.isBadgeWithCategory">
                <Image *ngFor="let badge of earnedBadges; let i = index" left="{{24 + ((earnedBadges.length - (i+1)) * 12)}}" top="5" src="res://{{applicationSettings?.badges[badge]?.image?.name}}"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>
                <StackLayout left="5" top="5">
                    <app-user-card [userId]="user.userId" [type]="userCardType.USER_IMAGE_30X30" [width]="30" [height]="30">
                    </app-user-card>
                </StackLayout>
            </AbsoluteLayout>
            <AbsoluteLayout *ngIf="!game?.gameOptions.isBadgeWithCategory">
                <Image *ngIf="game.stats[user.userId]?.score >= 5" left="74" top="5" src="res://badge5"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[user.userId]?.score >= 4" left="62" top="5" src="res://badge4"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[user.userId]?.score >= 3" left="50" top="5" src="res://badge3"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[user.userId]?.score >= 2" left="38" top="5" src="res://badge2"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <Image *ngIf="game.stats[user.userId]?.score >= 1" left="25" top="5" src="res://badge1"
                    height="30" width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" borderRadius="50"></Image>

                <StackLayout left="5" top="5">
                    <app-user-card [userId]="user.userId" [type]="userCardType.USER_IMAGE_30X30" [width]="30" [height]="30">
                    </app-user-card>
                </StackLayout>
            </AbsoluteLayout>
        </StackLayout>

    </GridLayout>

    <FlexboxLayout horizontalAlignment="left" justifyContent="space-between" width="85%" *ngIf="(game.gameOptions.playerMode == PlayerMode.Opponent && game.playerIds.length > 1) ||
            (game.gameOptions.playerMode == PlayerMode.Single)">
        
                <StackLayout alignSelf="center" orientation="horizontal" [visibility]="myTurn ? 'visible' : 'hidden' ">
                    <Label class="fa active-game-timer" text="&#xf017; {{remainingHours }}:{{remainingMinutes}}" textWrap="true"
                        android:paddingTop=""></Label>
                </StackLayout>
        
                <FlexboxLayout alignSelf="center">
                    <Image src="~/assets/images/mobile/tally.png" width="20" marginRight="2"></Image>
                    <Label text="{{game.round}} / {{totalRound}}" class="active-game-timer" textWrap="true"></Label>
                </FlexboxLayout>
        
                <StackLayout alignSelf="center" orientation="horizontal">
                    <app-user-card *ngIf="myTurn" [userId]="user.userId" [type]="userCardType.USER_IMAGE_30X30" [width]="20"
                        [height]="20">
                    </app-user-card>
                    <app-user-card *ngIf="!myTurn && otherUserId" [userId]="otherUserId" [type]="userCardType.USER_IMAGE_30X30"
                        [width]="20" [height]="20">
                    </app-user-card>
                    <Label *ngIf="myTurn" text="Your Turn " class="active-game-timer"></Label>
                    <Label *ngIf="!myTurn && otherUserId" text="{{otherUserInfo?.displayName}} 's Turn"
                        class="active-game-timer"></Label>
                </StackLayout>
            </FlexboxLayout>

    <Label *ngIf="myTurn && !isHidePlayNow" text="Play Now" textWrap="true" class="active-play-now" [nsRouterLink]="['/game-play', game.gameId]"
        clearHistory="true"></Label>

    <Label *ngIf="(game.GameStatus === gameStatus.AVAILABLE_FOR_OPPONENT || game.GameStatus === gameStatus.WAITING_FOR_FRIEND_INVITATION_ACCEPTANCE || game.GameStatus === gameStatus.WAITING_FOR_RANDOM_PLAYER_INVITATION_ACCEPTANCE)"
        text="Waiting for Opponent" textWrap="true" class="active-waiting-opponent"></Label>

    <Label *ngIf="!myTurn && game.GameStatus === gameStatus.WAITING_FOR_NEXT_Q"
    text="Opponent's Turn" textWrap="true" class="active-waiting-opponent"></Label>
</StackLayout>