
.font-size-16{
  font-size: 14px !important;
  border:1px solid #FFF !important;
}

.cursor{
  cursor: pointer;
}

.startupload{ width: 100%} 
.btn-share{ 
  font-size: 14px;
  font-family: 'hindsemibold';
   border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 8px 23px;
  margin-right: 2%;
  border-width: 1px;
	border-style: solid;
} 
.align-right
{
  text-align: right;
}