.startupload{ font-family:'hindsemibold' ; text-transform: uppercase; box-shadow:0 2px 5px rgba(0,0,0,0.3); height: 42px; line-height: 42px; border-radius: 4px; display: inline-block; text-align: center; letter-spacing: 1px; width: 100%} 
@media (min-width: 767px){
  .startupload{ padding: 0 15px; width: auto;}
}


.cursor{
  cursor: pointer;
}