

.social-icons-blog{ 
  position: absolute;
  top: 260px;
  left: 75%;
  border-style: solid;
  border-width: 1px;
  width: 56px;
  z-index: 1;
  border-radius: 5px;
  }
  .social-icons-gameOver{ 
    // position: fixed;
    // top: 46%;
    // left: 43%;
    // border-style: solid;
    // border-width: 1px;
    // width: 56px;
     z-index: 1;
    // border-radius: 5px;
    position: relative;
    /* top: 46%; */
    /* left: 43%; */
    border-style: solid;
    border-width: 1px;
    width: 56px;
    /* z-index: 1; */
    border-radius: 5px;
    }
  .facebookicon,.twiticon,.linkdenicon
  {
    height: 40px;
    width:40px;
  }
  .icon-spacing
  {
    margin-top: 25%;
  }
  .btn-spacing
  {
    padding: 10px 0px 0px 0px;
  }
  .close-div
  {
    cursor: pointer;
    border-top-style: solid;
    border-top-width: 1px;
  }
