<!-- My setting -->
<div class="mainpage submitpage mysetting" *ngIf="user">
  <div class="row hidden-xs">
    <div class="pageheading col-sm-6 col-xs-12">My Settings</div>
  </div>
  <section id="curentactive" class="card">
    <div class="h1block">
      <h1>My Settings</h1>
      <p>Control You profile information, both what is says and what other people see</p>
    </div>
    <div class="optionbox">
      <!-- Prefered Categories -->
      <div class="pcategories row">
        <div class="col-sm-6 col-xs-12">
          <h2>
            <span>{{user.displayName}}</span>
          </h2>
        </div>
      </div>
      <!-- Prefered Categories end -->
    </div>
    <form *ngIf="userForm" [formGroup]="userForm" novalidate>
      <!-- Profile pik -->
      <div class="enterquestion secondbg">
        <div class="optionbox">
          <h3>Upload Avatar :-</h3>
          <!-- Upload avatar -->
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <label for="file-upload" class="custom-file-upload">
                <img [src]="profileImage.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" alt="Avatar"
                />
              </label>
              <div>
                <button *ngIf="profileImageFile && !profileImageValidation" class="btn" (click)="saveProfileImage()">Save</button>
              </div>
            </div>
            <div class="col-sm-9 col-xs-12 avatarinput">
              <div>
                <input id="file-upload" name='upload_cont_img' type="file" (change)="onFileChange($event)" class="hide" aria-label="file">
              </div>
              <P *ngIf="profileImageValidation" class="error">
                {{profileImageValidation}}
              </P>
              <p *ngIf="!profileImageFile || profileImageValidation">Once Uploaded, You can adjust the cropped image Recommend
                an image 263 px or larger. Allowed formats: jpeg, gif and png</p>
              <div>
                <div class="file-upload">
                </div>
                <img-cropper *ngIf="profileImageFile && !profileImageValidation" #cropper [image]="profileImage" [settings]="cropperSettings"></img-cropper>
                <br>
              </div>
            </div>
          </div>
          <div class="clearfix namefield">
            <div class="formfield">
              <label>Name</label>
              <input formControlName="name" type="text" placeholder="Enter Name" class="required" aria-label="name">
              <p>Enter your real name, so people you know and recognize you</p>
            </div>
            <div class="formfield">
              <label>Display Name</label>
              <input formControlName="displayName" placeholder="Enter Display Name" type="text" class="required" aria-label="display-name">
              <p *ngIf="userForm.controls.displayName.errors && !userForm.controls.displayName.pristine" class="error">Display
                Name is required!</p>
            </div>
            <div class="formfield">
              <label>Location</label>
              <input formControlName="location" placeholder="Enter Location" type="text" class="required" aria-label="location">
              <p>Where in the world you are</p>
            </div>
          </div>
          <!-- Upload avatar end -->

          <!-- Categories -->
          <div class="row pcategories">
            <div class="col-sm-3">
              <h3>Categories</h3>
            </div>
            <div class="col-sm-9" formArrayName="categoryList">
              <div class="formfield" *ngFor="let category of categoryList.controls; let i=index" [formGroupName]="i">
                <label>
                  <input formControlName="isSelected" type="checkbox" name="">{{categoryDict[category.value['category']].categoryName}}
                </label>
              </div>
            </div>
          </div>
          <!-- Categories end -->

          <!-- Tags -->
          <div class="row pcategories">
            <div class="col-sm-3">
              <h3>Tags</h3>
            </div>
            <div class="col-sm-9">
              <div class="tags">
                <p>Tags associated categories</p>
                <div data-tags-input-name="tag" id="tagBox" class="tagging">
                  <mat-chip-list>
                    <mat-basic-chip *ngFor="let tag of autoTags" class="tag">
                      {{tag}}
                    </mat-basic-chip>
                    <mat-basic-chip *ngFor="let tag of enteredTags" class="tag">
                      {{tag}}
                      <span (click)="removeEnteredTag(tag)" class="remove-tag">x</span>
                    </mat-basic-chip>
                  </mat-chip-list>

                  <input matInput class="type-zone margin-bottom-8" contenteditable="true" formControlName="tags" [matAutocomplete]="tagAuto"
                    aria-label="tags">
                  <mat-autocomplete #tagAuto="matAutocomplete">
                    <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
                      {{tag}}
                    </mat-option>
                  </mat-autocomplete>
                  <button mat-button class="add-tag-button matHeader margin-top-10" color="primary" [disabled]="userForm.controls.tags.value==''"
                    (click)="addTag()">ADD</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Categories end -->


          <!-- Social Accounts -->
          <div class="row pcategories saccount">
            <div class="col-sm-3">
              <h3>Social Accounts </h3>
            </div>
            <div class="col-md-6 col-sm-9">
              <div class="formfield">
                <input type="url" formControlName="facebookUrl" placeholder="Facebook" aria-label="facebook-url">
                <p *ngIf="userForm.controls.facebookUrl.errors && !userForm.controls.facebookUrl.pristine" class="error">Invalid
                  facebook url</p>
              </div>

              <div class="formfield">
                <input formControlName="twitterUrl" placeholder="Twitter" aria-label="twitter-url">
                <p *ngIf="userForm.controls.twitterUrl.errors && !userForm.controls.twitterUrl.pristine" class="error">Invalid
                  twitter url</p>
              </div>

              <div class="formfield">
                <input formControlName="linkedInUrl" placeholder="Linkedin" aria-label="linkedin-url">
                <p *ngIf="userForm.controls.linkedInUrl.errors && !userForm.controls.linkedInUrl.pristine" class="error">Invalid
                  linkedin url</p>
              </div>

            </div>

            <div class="col-xs-12">

              <div class="row">
                <!-- Security Setting -->
                <div class="col-sm-3">
                  <h3>Security Setting </h3>
                </div>
                <div class="col-md-9 col-sm-9">
                  <div class="formfield">
                    <label>Profile:</label>
                    <select placeholder="Select Profile" formControlName="profileSetting">
                      <option *ngFor="let profileOption of profileOptions" [value]="profileOption">
                        {{profileOption}}
                      </option>
                    </select>
                  </div>

                  <div class="formfield">
                    <label>Location:</label>
                    <select placeholder="Select Location" formControlName="profileLocationSetting">
                      <option *ngFor="let profileOption of profileOptions" [value]="profileOption">
                        {{profileOption}}
                      </option>
                    </select>
                  </div>

                  <div class="formfield">
                    <label>Privacy:</label>
                    <label>
                      <input formControlName="privateProfileSetting" type="checkbox"> Keep your profile activity private
                    </label>
                    <p>This means no one can invite you or can see you profile.</p>
                  </div>
                  <!-- Security Setting end -->
                </div>
              </div>
            </div>

            <div class="col-xs-12">

              <div class="row">
                <!-- Bulk Uploader Request -->
                <div class="col-sm-3">
                  <h3>Access</h3>
                </div>
                <div class="col-md-4 col-sm-9">
                  <div class="formfield">
                    <label></label>
                    <label>
                      <input formControlName="requestForBulkUpload" type="checkbox" (change)="setBulkUploadRequest()"> Bulk
                      Upload Request
                    </label>
                  </div>
                  <!-- Security Setting end -->
                </div>
              </div>
            </div>
          </div>
          <!-- Social Accounts end -->
        </div>
      </div>
      <!-- Profile pik end -->
      <div class="savebox textcenter">
        <button type="button" [disabled]="!userForm.valid" class="btn save" (click)="onSubmit()">Save</button>
        <!-- <button type="button" class="btn margin-top-10" (click)="resetUserProfile()">Cancel</button> -->
      </div>
    </form>
  </section>
</div>
<!-- My setting end -->