<!-- My setting -->
<div class="mainpage submitpage mysetting" *ngIf="user">
  <div class="row hidden-xs">
    <div class="pageheading col-sm-6 col-xs-12">My Profile</div>
  </div>
  <section id="curentactive" class="card">
    <div class="h1block">
      <h1>{{user.displayName}}</h1>
      <p>View / change your public profile</p>
    </div>
    <form *ngIf="userForm" [formGroup]="userForm" novalidate>

      <!-- Profile pik -->
      <div class="enterquestion secondbg">
        <div class="optionbox">
          <div class="row" [ngClass]="{'error':errorStatus, 'success':!errorStatus}">
            <div class="col-sm-3 col-xs-12">
            </div>
            <div class="col-sm-9 col-xs-12">
              <label>
                {{notificationMsg}}
              </label>
            </div>
          </div>
          <h3>Upload Avatar *</h3>
          <!-- Upload avatar -->
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <label for="file-upload" class="custom-file-upload">
                <img [src]="profileImage.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"
                 alt="Avatar" />
              </label>
              <div>
                <button *ngIf="profileImageFile && !profileImageValidation" class="btn"
                  (click)="saveProfileImage()">Save</button>
              </div>
            </div>
            <div class="col-sm-9 col-xs-12 avatarinput">
              <div>
                <input id="file-upload" name='upload_cont_img' type="file" (change)="onFileChange($event)" class="hide"
                  aria-label="file">
              </div>
              <P *ngIf="profileImageValidation" class="error">
                {{profileImageValidation}}
              </P>
              <p *ngIf="!profileImageFile || profileImageValidation">Once Uploaded, You can adjust the cropped image
                Recommend
                an image 263 px or larger. Allowed formats: jpeg, gif and png</p>
              <div>
                <div class="file-upload">
                </div>
                <img-cropper *ngIf="profileImageFile && !profileImageValidation" #cropper [image]="profileImage"
                  [settings]="cropperSettings"></img-cropper>
                <br>
              </div>
            </div>
          </div>
          <div class="clearfix namefield">
            <div class="formfield">
              <label>Name *</label>
              <input formControlName="name" type="text" placeholder="Enter Name" class="required" aria-label="name">
              <p>Enter your real name, so people you know and recognize you</p>
              <p *ngIf="userForm.controls.name.errors && !userForm.controls.name.pristine" class="error">Name is
                required!</p>
            </div>
            <div class="formfield">
              <label>Display Name *</label>
              <input formControlName="displayName" placeholder="Enter Display Name" type="text" class="required"
                aria-label="display-name">
              <p *ngIf="userForm.controls.displayName.errors && !userForm.controls.displayName.pristine" class="error">
                Display
                Name is required!</p>
            </div>
            <div class="formfield">
              <label>Location *</label>
              <input formControlName="location" placeholder="Enter Location" type="text" class="required"
                aria-label="location">
              <p>Where in the world you are</p>
              <p *ngIf="userForm.controls.location.errors && !userForm.controls.location.pristine" class="error">
                Location
                is required!</p>
            </div>
          </div>
          <!-- Upload avatar end -->

          <!-- Categories -->
          <div class="row pcategories">
            <div class="col-sm-3 add-space">
              <h3>Preferred Categories</h3>
            </div>
            <div class="col-sm-9" formArrayName="categoryList">
              <div class="formfield" *ngFor="let category of categoryList.controls; let i=index" [formGroupName]="i">
                <label>
                  <input formControlName="isSelected" type="checkbox"
                    name="">{{categoryDict[category.value['category']].categoryName}}
                </label>
              </div>
            </div>
          </div>
          <!-- Categories end -->

          <!-- Tags -->
          <div class="row pcategories">
            <div class="col-sm-3 add-space">
              <h3 >Preferred Tags</h3>
            </div>
            <div class="col-sm-9">
              <div class="tags">
                <div data-tags-input-name="tag" id="tagBox" class="tagging">
                  <mat-chip-list>
                    <mat-basic-chip *ngFor="let tag of autoTags" class="tag">
                      {{tag}}
                    </mat-basic-chip>
                    <mat-basic-chip *ngFor="let tag of enteredTags" class="tag">
                      {{tag}}
                      <span (click)="removeEnteredTag(tag)" class="remove-tag">x</span>
                    </mat-basic-chip>
                  </mat-chip-list>

                  <input matInput class="type-zone margin-bottom-8" contenteditable="true" formControlName="tags"
                    [matAutocomplete]="tagAuto" aria-label="tags">
                  <mat-autocomplete #tagAuto="matAutocomplete">
                    <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
                      {{tag}}
                    </mat-option>
                  </mat-autocomplete>
                  <button mat-button class="add-tag-button matHeader margin-top-10" color="primary" [disabled]="userForm.controls.tags.value==''" 
                  (click)="addTag()">ADD</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Categories end -->


          <!-- Social Accounts -->
          <div class="row pcategories saccount">
            <div class="col-sm-3">
              <h3>Social Profile </h3>
            </div>
            <div class="col-md-9 col-sm-9" *ngIf="socialProfileSettings">
              <div *ngFor="let profiles of socialProfileSettings; let i=index">
                <div class="formfield" *ngIf="profiles.enable && i <= socialProfileShowLimit">
                  <h2 class="social-profile-name">{{profiles.display}}</h2>
                  <div class="social-input-field">
                    <div class="social-url-contain" (click)="onSocialProfileInputFocus(i)">
                      <span class="social-url">{{profiles.url}}</span>
                    </div>
                    <input #myInput class="social-profile col-md-6"
                      [formControlName]="profiles.social_name">
                  </div>
                  <p *ngIf="userForm.get(profiles.social_name).errors" class="social-profile-error">Please enter valid profile id</p>
                </div>
              </div>
              <div>
                <a *ngIf="enableSocialProfile > socialProfileShowLimit + 1" class="viewall show-more"
                  (click)="showMoreSocialProfile()">Show more</a>
              </div>
            </div>
            <div class="col-xs-12">

              <div class="row">
                <!-- Bulk Uploader Request -->
                <div class="col-sm-3">
                  <h3>Access</h3>
                </div>
                <div class="col-md-9 col-sm-9 bulk-upload-request">
                  <label>
                    <button *ngIf="(!user.bulkUploadPermissionStatus
                     || user.bulkUploadPermissionStatus === NONE
                     || user.bulkUploadPermissionStatus === PENDING)
                     && !user.isRequestedBulkUpload"
                     type="button" class="btn" (click)="setBulkUploadRequest()">{{bulkUploadBtnText}}</button>
                    <p *ngIf="user.bulkUploadPermissionStatus === PENDING">Bulk upload requested on
                      {{user.bulkUploadPermissionStatusUpdateTime | date : 'medium' }}.</p>
                    <p *ngIf="user.bulkUploadPermissionStatus === APPROVED">User has bulk upload
                      privilege</p>

                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- Social Accounts end -->
        </div>
      </div>
      <!-- Profile pik end -->
      <div class="savebox textcenter">
        <button type="button" class="btn save" (click)="onSubmit()">Save</button>
        <!-- <button type="button" class="btn margin-top-10" (click)="resetUserProfile()">Cancel</button> -->
      </div>
    </form>
  </section>
</div>
<!-- My setting end -->