<ns-action-bar title="Leaderboard" showAdd="true" (open)="openDrawer()"></ns-action-bar>
<RadSideDrawer #drawerComponent tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <ns-drawer-component (output)="onCloseDrawerTap()"></ns-drawer-component>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent backgroundColor="#f8f8f8">
        <ScrollView>
            <StackLayout>
                <CardView margin="10" elevation="20" radius="15" class="gameplay">
                    <StackLayout class="cardStyle" orientation="vertical" verticalAlignment="center" backgroundColor="#ffffff"
                        height="100%" margin="15">
                        <StackLayout horizontalAlignment="center" verticalAlignment="center">
                            <Label text="Programming" textWrap="true" class="title" verticalAlignment="center"></Label>
                        </StackLayout>
                         <StackLayout margin="10">
                            <GridLayout rows="*" columns="auto,auto,*,auto"  marginTop="10">
                                <Label text="#1" row="0" col="0" class="padding-10 text-black" ></Label>
                                <Image row="0" col="1" src="{{photoUrl}}" backgroundColor="gray" stretch="aspectFill" height="64" width="64"
                                marginLeft="10" verticalAlignment="center" marginRight="10"></Image>
                                <GridLayout  row="0" col="2" rows="*, *" columns="*" class="padding-10">
                                    <Label text="William" row="0" col="0" class="text-black"></Label>
                                    <Label text="SpringFields" row="1" col="0" class="text-gray"></Label>
                                </GridLayout>
                                <GridLayout  row="0" col="3" rows="*, *" columns="*" class="padding-10">
                                    <Label text="25879" row="0" col="0" class="text-black"></Label>
                                    <Label text="Points" row="1" col="0" class="text-gray"></Label>
                                </GridLayout>
                            </GridLayout>

                            <GridLayout rows="*" columns="auto,auto,*,auto" marginTop="10">
                                <Label text="#2" row="0" col="0" class="padding-10 text-black"></Label>
                                <!-- <Label text="0, 1" row="0" col="1" class="padding-10"></Label> -->
                                <Image row="0" col="1" src="{{photoUrl}}" backgroundColor="gray" stretch="aspectFill" height="64" width="64"
                                marginLeft="10" verticalAlignment="center" marginRight="10"></Image>
                                <GridLayout  row="0" col="2" rows="*, *" columns="*" class="padding-10">
                                    <Label text="Michael" row="0" col="0" class="text-black"></Label>
                                    <Label text="Franklin" row="1" col="0" class="text-gray"></Label>
                                </GridLayout>
                                <GridLayout  row="0" col="3" rows="*, *" columns="*" class="padding-10">
                                    <Label text="24589" row="0" col="0" class="text-black"></Label>
                                    <Label text="Points" row="1" col="0" class="text-gray"></Label>
                                </GridLayout>
                            </GridLayout>

                         </StackLayout>
                    </StackLayout>
                </CardView>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>