<mat-card>
  <mat-card-content>

    <div fxLayoutAlign="center">
      <img class="mail-icon" src="assets/images/mail-icon.png">
    </div>
    <div fxLayoutAlign="left">

      <form [formGroup]="invitationForm" class="row col-sm-12">
        <!-- <div class="clearfix namefield">
          <div class="formfield">
            <input type="text" formControlName="email" placeholder="Email address" class="required">
          </div>
        </div> -->
        <div class="wrapper ">
          <input type="text" formControlName="email" placeholder="Email address" class="required">
          <button>Search</button>
        </div>
      </form>
    </div>

  </mat-card-content>

</mat-card>