<h1 mat-dialog-title>Sign In</h1>

<form *ngIf="mode === 0" (ngSubmit)="onSigninSubmit()" class="sign-in-form" [formGroup]="signinForm" novalidate>
  <mat-input-container class="full-width required">
    <input matInput placeholder="Email" formControlName="email" class="required">
    <mat-hint align="end" *ngIf="signinForm.controls.email.errors && !signinForm.controls.email.pristine" class="error">Invalid Email!</mat-hint>
  </mat-input-container>

  <mat-input-container class="full-width required">
    <input type="password" matInput placeholder="Password" class="required" formControlName="password">
    <mat-hint align="end" *ngIf="signinForm.controls.password.errors && !signinForm.controls.password.pristine" class="error">Password must be atleast 6 characters</mat-hint>
  </mat-input-container>

  <button mat-raised-button color="primary" type="submit" [disabled]="!signinForm.valid">SIGN IN</button>
</form>

<form *ngIf="mode === 1" (ngSubmit)="onSignupSubmit()" class="sign-up-form" [formGroup]="signupForm" novalidate>
  <mat-input-container class="full-width required">
    <input matInput placeholder="Email" formControlName="email" class="required">
    <mat-hint align="end" *ngIf="signupForm.controls.email.errors && !signupForm.controls.email.pristine" class="error">Invalid Email!</mat-hint>
  </mat-input-container>

  <mat-input-container class="full-width required">
    <input type="password" matInput placeholder="Password" class="required" formControlName="password">
    <mat-hint align="end" *ngIf="signupForm.controls.password.errors && !signupForm.controls.password.pristine" class="error">Password must be atleast 6 characters</mat-hint>
  </mat-input-container>

  <mat-input-container class="full-width required">
    <input type="password" matInput placeholder="Confirm Password" class="required" formControlName="confirmPassword">
    <mat-hint align="end" *ngIf="signupForm.controls.password.valid && signupForm.hasError('passwordmismatch')" class="error">Must match Password</mat-hint>
  </mat-input-container>

  <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">SIGN UP</button>
</form>

<form *ngIf="mode === 2" (ngSubmit)="onForgotPasswordSubmit()" class="forgot-password-form" [formGroup]="forgotPasswordForm" novalidate>
  <mat-input-container class="full-width required">
    <input matInput placeholder="Email" formControlName="email" class="required">
    <mat-hint align="end" *ngIf="forgotPasswordForm.controls.email.errors && !forgotPasswordForm.controls.email.pristine" class="error">Invalid Email!</mat-hint>
  </mat-input-container>

  <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">FORGOT PASSWORD</button>
</form>

<mat-dialog-actions class="flex-container" 
                   fxLayout="row"
                   fxLayoutAlign="space-around">
  <a class="flex-item" mat-button *ngIf="mode !== 0" (click)="this.mode=0">Sign In</a>
  <span *ngIf="mode === 2" class="flex-item" fxFlex></span>
  <a class="flex-item" mat-button *ngIf="mode !== 1" (click)="this.mode=1">Sign Up</a>
  <span *ngIf="mode !== 2" class="flex-item" fxFlex></span>
  <a class="flex-item" mat-button *ngIf="mode !== 2" (click)="this.mode=2">Forgot Password</a>
</mat-dialog-actions>

