<ns-action-bar title="Dashboard" class="Roboto-Regular" showAdd="true"></ns-action-bar>
<StackLayout class="mobile" backgroundColor="#f1f2f2" *ngIf="renderView">
    <ScrollView>
        
        <StackLayout>       
            <DockLayout margin="10 15 0 15"  *ngIf="user && applicationSettings?.tokens?.enable">
                <DockLayout  dock="left" *ngIf="user" backgroundColor="#3b5998" class="points-container"  [style.width] = "this.account.bits > 9999999 ? '150' : '135'">
                        <Label text="BITS" class="Roboto-Medium points-label" verticalAlignment="center"></Label>
                        <Label [ngClass]="{'points-m-f-15': this.account.bits > 9999}" [text]="this.account.bits"android:paddingTop="9" class="Roboto-Medium points-m" textAlignment="center" horizontalAlignment="right"></Label>
                </DockLayout>

                <DockLayout dock="right" horizontalAlignment="right" *ngIf="account?.bytes && user" backgroundColor="#71b02f" class="points-container" [style.width] = "this.account.bytes >= 9999999 ? '150' : '135'">
                        <Label text="BYTES" class="Roboto-Medium points-label" verticalAlignment="center"></Label>
                        <Label [ngClass]="{'points-m-f-15': this.account.bytes > 9999}" [text]="this.account.bytes" android:paddingTop="9" class="Roboto-Medium points-m" textAlignment="center" horizontalAlignment="right"></Label>
                </DockLayout>
            </DockLayout>             
            <GridLayout rows="*, *, *, *, *, *, *" columns="*" iosOverflowSafeArea="false">
                
                <Label text="START A NEW GAME {{timeoutLive}}" android:paddingTop="22" [ngClass]="{'btn-red':!gamePlayBtnDisabled, 'disabled-btn':gamePlayBtnDisabled}" class="Roboto-Medium text-center" height="70" margin="10" (tap)="startNewGame()" textWrap="true"></Label>

                    <StackLayout row="1" col="0" *ngIf="user && (twoPlayerCount > 0 || singlePlayerCount > 0)" iosOverflowSafeArea="false">
                    <CardView class="cardStyle" margin="10" android:elevation="20" ios:elevation="40" radius="5" class="gameplay" backgroundColor="white">
                        <GridLayout rows="auto, auto" columns="*">
                            <StackLayout row="0" col="0" *ngIf="activeGames && userDict">
                                <Label text="My Games" orientation="horizontal" horizontalAlignment="center" padding="10"
                                    textWrap="true" class="title Roboto-Bold"> </Label>
                                <StackLayout *ngFor="let game of activeGames | gameFilter: filterSinglePlayerGame ;let last = last;">
                                    <game-card [game]="game" [cardType]="'singlePlayer'"></game-card>
                                    <StackLayout class="hr-light m-10" *ngIf="!last"></StackLayout>
                                    <StackLayout class="hr-light m-10" *ngIf="last && twoPlayerCount > 0"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout row="1" col="0" *ngIf="activeGames && userDict" iosOverflowSafeArea="false">
                                <StackLayout *ngFor="let game of activeGames | gameFilter: filterTwoPlayerGame;let last = last;let index = index;">
                                    <game-card [game]="game" [cardType]="'twoPlayer'"></game-card>
                                    <StackLayout class="hr-light m-10" *ngIf="!last"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </GridLayout>
                    </CardView>
                </StackLayout>
                <StackLayout row="2" col="0" *ngIf="user && theirTurnCount">
                    <CardView class="cardStyle" margin="10" android:elevation="20" ios:elevation="40" radius="5" class="gameplay" backgroundColor="white">
                        <StackLayout *ngIf="activeGames && userDict" iosOverflowSafeArea="false">
                            <Label text="Their Turn" orientation="horizontal" horizontalAlignment="center" padding="10"
                                textWrap="true" class="title Roboto-Bold"> </Label>
                            <StackLayout *ngFor="let game of activeGames | gameFilter: filterTwoPlayerWaitNextQGame; let last = last;" iosOverflowSafeArea="false">
                                <game-card [game]="game" [cardType]="'theirTurn'"></game-card>
                                <StackLayout class="hr-light m-10"  *ngIf="!last"></StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                </StackLayout>
                <StackLayout row="3" col="0" *ngIf="user && waitingForOpponentCount">
                    <CardView class="cardStyle" margin="10" android:elevation="20" ios:elevation="40" radius="5" class="gameplay" backgroundColor="white">
                        <StackLayout *ngIf="activeGames && userDict" iosOverflowSafeArea="false">
                            <Label text="Waiting for Opponent" orientation="horizontal" horizontalAlignment="center"
                                padding="10" textWrap="true" class="title Roboto-Bold"> </Label>
                            <StackLayout *ngFor="let game of activeGames | gameFilter: filterGame; let last = last;" iosOverflowSafeArea="false">
                                <game-card [game]="game" [cardType]="'opponent'"></game-card>
                                <StackLayout class="hr-light m-10" *ngIf="!last"></StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                </StackLayout>

                <StackLayout row="4" col="0" *ngIf="user && gameInvites.length">
                    <CardView class="cardStyle" margin="10" android:elevation="20" ios:elevation="40" radius="5" class="gameplay" backgroundColor="white">
                        <StackLayout *ngIf="gameInvites">
                            <Label text="Invitation to play games" orientation="horizontal" horizontalAlignment="center"
                                padding="10" textWrap="true" class="title Roboto-Medium">
                            </Label>
                            <StackLayout *ngFor="let game of gameInvites">
                                <game-invite [userDict]="userDict" [game]="game"></game-invite>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                </StackLayout>

                <StackLayout row="5" col="0" *ngIf="user && userDict && friendInvitations.length > 0"  iosOverflowSafeArea="false">
                    <CardView class="cardStyle" margin="10" android:elevation="20" ios:elevation="40" radius="5" class="gameplay" backgroundColor="white">
                        <StackLayout *ngIf="friendInvitations">
                            <Label text="Friend Invitations" orientation="horizontal" horizontalAlignment="center"
                                padding="10" textWrap="true" class="title Roboto-Medium">
                            </Label>
                            <StackLayout *ngFor="let invitation of friendInvitations | slice:friendInviteSliceStartIndex:friendInviteSliceLastIndex"  iosOverflowSafeArea="false">
                                <app-friend-invite [userDict]="userDict" [invitation]="invitation" [user]="user"></app-friend-invite>
                            </StackLayout>
                            <Button text="View more" backgroundColor="#8ac541" color="#ffffff" margin="10" (tap)="displayMoreFriendInvites()"
                                *ngIf="friendInvitations && friendInvitations.length > 3 && friendInvitations.length!=friendInviteSliceLastIndex"></Button>
                        </StackLayout>
                    </CardView>
                </StackLayout>

                <StackLayout row="6" col="0"  iosOverflowSafeArea="false">
                    <question [userDict]="userDict"></question>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
