@import "./dashboard.component";

.submit-question {
  .q-button-extra {
    padding: 10;
  }
}

.game-buttons {
 
  .g-btn-extra {
    padding: 10;
  }

  .btn-1 {
    margin-right: 5;
  }

  .btn-2 {
    margin-left: 5;
  }
}
