<GridLayout rows="*" columns="*">
    <AbsoluteLayout row="0" backgroundColor="rgb(249,249,249)" android:rotate="150" translateY="-270" ios:rotate="152"
        height="80%" width="100%" borderRadius="15">
    </AbsoluteLayout>
    <GridLayout row="0" rows="*" columns="*">
        <AbsoluteLayout row="0" backgroundColor="rgb(249,249,249)" android:rotate="330" translateY="450"
            ios:rotate="152" height="80%" width="100%" borderRadius="15">
        </AbsoluteLayout>
        <WrapLayout row="0" class="mobile" id="dashboard" *ngIf="renderView">
            <GridLayout rows="auto" columns="auto,*,auto,auto" class="dashboard" iosOverflowSafeArea="false">
                <app-user-card *ngIf="user && user!==null" [user]="user" [userId]="user.userId"
                    [type]="userCardType.USER_IMAGE_NAME_PROFILE_HORIZONTAL"></app-user-card>
                <GridLayout rows="auto, auto" row="0" col="1" verticalAlignment="center" iosOverflowSafeArea="false"
                    class="dashboard_user">
                    <Label row="0" [text]="actionText" textWrap="true" class="dashboard_user-header"></Label>
                    <FlexboxLayout row="1" *ngIf="actionSubText && actionSubText.length>0">
                        <Label class="dashboard_user-subText" text="{{ actionSubText}}" stlRippleEffect
                            (rippleTap)="navigateToCategories()"></Label>
                    </FlexboxLayout>
                </GridLayout>
                <GridLayout *ngIf="user && user!==null" col="2" ios:margin="3" android:margin="10"
                    verticalAlignment="center" horizontalAlignment="right" android:width="24" ios:width="24" (tap)="navigateToProfileSettings()" >
                    <Label stlRippleEffect stlBackgroundColor="transparent" stlOpacity="0.5" stlBackgroundColorAfter="transparent"
                        text="&#xe901;" class="ico icon-noun-game" fontSize="20" color="#3b5998"></Label>
                </GridLayout>
                <GridLayout *ngIf="user && user!==null" class="index-0" col="3" ios:margin="3" android:margin="10"
                    verticalAlignment="center" horizontalAlignment="center" android:width="40" ios:width="40"
                    stlRippleEffect (rippleTap)="gotToNotification()" orientation="horizontal">
                    <Label horizontalAlignment="center" stlRippleEffect stlBackgroundColor="transparent"
                        stlOpacity="0.5" stlBackgroundColorAfter="transparent" verticalAlignment="center"
                        text="&#xee900;" class="ico icon-notification icon" fontSize="22" color="#3b5998"></Label>
                </GridLayout>
                <GridLayout *ngIf="user && user!==null && notifications.length > 0" col="4"
                    [ngClass]="{'notification-dot':notifications?.length > 0 }">
                    <Label
                        [text]="(notifications.length === 0 ? '' : (notifications.length > 0 && notifications.length > 99) ? '99+' : notifications.length)"
                        class="index-1"></Label>
                </GridLayout>
            </GridLayout>
            <ScrollView>
                <GridLayout rows="auto, auto" class="dashboard_body">
                    <GridLayout row="0" horizontalAlignment="left" rows="auto" columns="auto, *"
                        class="dashboard_body-bits" *ngIf="user && applicationSettings?.tokens?.enable">
                        <FlexboxLayout col="0" *ngIf="account && user" iosOverflowSafeArea="false">
                            <Image src="~/assets/images/mobile/bits.png" row="0" col="1"></Image>
                            <Label class="dashboard_body-text SF-Pro-Medium" [text]="account.bits || 0"
                                textWrap="true"></Label>
                        </FlexboxLayout>
                        <FlexboxLayout col="1" *ngIf="account && user" paddingLeft="30">
                            <Image src="~/assets/images/mobile/bytes.png" row="0" col="1"></Image>
                            <Label class="dashboard_body-text SF-Pro-Medium" [text]="account.bytes || 0"
                                textWrap="true"></Label>
                        </FlexboxLayout>
                    </GridLayout>
                    <GridLayout row="1" rows="*, *, *, *, *, *" columns="*" iosOverflowSafeArea="false"
                        class="dashboard_body-grid">
                        <render-box row="0" col="0" [setBackgroundColor]="'#283b66'" [theme]="'dark'">
                            <GridLayout rows="auto,auto,auto,auto,auto" class="dashboard_body-grid0">
                                <FlexboxLayout row="0" class="space-between dashboard_body-grid0-1">
                                    <Label text="Play your game" class="title" textWrap="true"></Label>
                                    <StackLayout orientation="horizontal"
                                        *ngIf="user && account && account?.lives >=0 && isLivesEnable">
                                        <Label verticalAlignment="center" text="&#xe938;"
                                            class="ico icon-life-icon icon"></Label>
                                        <Label verticalAlignment="center" class="dashboard_body-grid0-1-lives"
                                            text="{{ (account && account?.lives / 10 < 1) && (account && account?.lives / 10 > 0)  ? '0' : '' }}{{account && account?.lives}}"
                                            textWrap="true"></Label>
                                    </StackLayout>
                                </FlexboxLayout>
                                <FlexboxLayout row="1" class="space-between dashboard_body-grid0-2">
                                    <FlexboxLayout justifyContent="center" stlRippleEffect
                                        (rippleTap)="startNewGame('Single')"
                                        [isUserInteractionEnabled]="!gamePlayBtnDisabled"
                                        [ngClass]="{'game-btn': !gamePlayBtnDisabled,'game-btn-disabled': gamePlayBtnDisabled}">
                                        <Image src="~/assets/images/mobile/friends.png" *ngIf="!gamePlayBtnDisabled"
                                            width="15" height="15"></Image>
                                        <Image src="~/assets/images/mobile/friends-disabled.png"
                                            *ngIf="gamePlayBtnDisabled" width="15" height="15"></Image>
                                        <Label text="Single Player" paddingLeft="5" textWrap="true"></Label>
                                    </FlexboxLayout>
                                    <FlexboxLayout justifyContent="center" stlRippleEffect
                                        (rippleTap)="startNewGame('Two')"
                                        [isUserInteractionEnabled]="!gamePlayBtnDisabled"
                                        [ngClass]="{'game-btn': !gamePlayBtnDisabled,'game-btn-disabled': gamePlayBtnDisabled}">
                                        <Image src="~/assets/images/mobile/friends.png" width="15" height="15"
                                            *ngIf="!gamePlayBtnDisabled"></Image>
                                        <Image src="~/assets/images/mobile/friends.png" width="10" height="10"
                                            *ngIf="!gamePlayBtnDisabled"></Image>
                                        <Image src="~/assets/images/mobile/friends-disabled.png" width="15" height="15"
                                            *ngIf="gamePlayBtnDisabled"></Image>
                                        <Image src="~/assets/images/mobile/friends-disabled.png" width="10" height="10"
                                            *ngIf="gamePlayBtnDisabled"></Image>
                                        <Label text="Two Player" paddingLeft="5"></Label>
                                    </FlexboxLayout>
                                </FlexboxLayout>
                                <FlexboxLayout row="2" orientation="horizontal"
                                    *ngIf="user && applicationSettings && applicationSettings?.lives?.enable && timeoutLive"
                                    class="dashboard_body-grid0-3">
                                    <Label class="life-activated" text="The life will get activated again in "
                                        textWrap="true"></Label>
                                    <Label class="timeout" text="{{timeoutLive}}" textWrap="true"></Label>
                                </FlexboxLayout>
                                <FlexboxLayout *ngIf="account && !account?.signUpQuestionAnswered"
                                    row="3" orientation="horizontal" class="dashboard_body-grid0-4">
                                    <Label text="&#xe938;" class="ico icon-life-icon icon"></Label>
                                    <Label class="no-life" text="No Life will be deducted" textWrap="true"></Label>
                                </FlexboxLayout>
                                <GridLayout row="4" rows="*" columns="auto,auto,auto,auto"
                                    class="dashboard_body-grid0-5"
                                    *ngIf="user && applicationSettings && applicationSettings?.lives?.enable && account && account?.lives === 0 && false">
                                    <Label row="0" col="0" text="Activate time instantly" class="buy-lives"></Label>
                                    <Image row="0" col="1" src="~/assets/images/mobile/bits.png" width="25" height="25">
                                    </Image>
                                    <Label row="0" col="2" text="5000" class="lives-number"></Label>
                                    <Label row="0" col="3" text="BUY LIFE" class="buy-lives" fontWeight="bold"></Label>
                                </GridLayout>
                            </GridLayout>
                        </render-box>

                        <GridLayout row="1" col="0" *ngIf="user" iosOverflowSafeArea="false"
                            class="dashboard_body-grid1">
                            <GridLayout rows="auto, auto" columns="*" iosOverflowSafeArea="false">
                                <WrapLayout row="0" col="0" *ngIf="activeGames && userDict" iosOverflowSafeArea="false">
                                    <Label *ngIf="user && activeGames.length > 0" text="Active Games" textWrap="true"
                                        class="active-game p-15"></Label>
                                    <GridLayout *ngFor="let game of activeGames" iosOverflowSafeArea="false">
                                        <game-card [game]="game" [applicationSettings]="applicationSettings" [categoryDict]="categoryDict">
                                        </game-card>
                                    </GridLayout>
                                </WrapLayout>
                            </GridLayout>
                        </GridLayout>

                        <GridLayout row="2" col="0" class="dashboard_body-grid2">
                            <question [user]="user" [userDict]="userDict" [theme]="'dark'"></question>
                        </GridLayout>

                        <GridLayout row="3" col="0" iosOverflowSafeArea="false" class="dashboard_body-grid3"
                            *ngIf="user && yourQuestion">
                            <GridLayout rows="auto,auto,auto" class="q-title" iosOverflowSafeArea="false">
                                <Label row="0" text="Your Questions" textWrap="true" class="active-game"></Label>
                                <GridLayout rows="auto,auto,auto" row="1" class="box"
                                     (tap)="yourQuestion.toggleButton = !yourQuestion.toggleButton">
                                    <Label row="0" [text]="yourQuestion?.questionText" class="your-question"
                                        textWrap="true"></Label>
                                    <FlexboxLayout row="1" class="space-between"
                                        *ngIf="yourQuestion && yourQuestion?.createdOn">
                                        <Label text="Submitted {{ yourQuestion?.createdOn?.getTime() | timeAgo}}"
                                            class="submitted" textWrap="true"></Label>
                                        <Label *ngIf="!yourQuestion?.toggleButton" verticalAlignment="center"
                                            text="&#xf078;" class="fas icon" textWrap="true"></Label>
                                        <Label *ngIf="yourQuestion?.toggleButton" horizontalAlignment="right"
                                            text="&#xf077;" class="fas icon" textWrap="true"></Label>
                                    </FlexboxLayout>
                                    <FlexboxLayout row="2" class="toggle-screen" *ngIf="yourQuestion?.toggleButton">
                                        <FlexboxLayout class="content">
                                            <Label text="Appeared: " textWrap="true"></Label>
                                            <Label text="{{yourQuestion?.stats.appeared}} times" textWrap="true"></Label>
                                        </FlexboxLayout>
                                        <FlexboxLayout class="content">
                                            <Label text="Correct: " textWrap="true"></Label>
                                            <Label text="{{yourQuestion?.stats?.correct || 0}}" textWrap="true"></Label>
                                        </FlexboxLayout>
                                        <FlexboxLayout class="content">
                                            <Label text="Likes: " textWrap="true"></Label>
                                            <Label text="{{yourQuestion?.stats?.reactionsCount?.like || 0}}"
                                                textWrap="true"></Label>
                                        </FlexboxLayout>
                                        <FlexboxLayout class="content">
                                            <Label text="Wrong: " textWrap="true"></Label>
                                            <Label text="{{yourQuestion?.stats?.wrong || 0}}" textWrap="true"></Label>
                                        </FlexboxLayout>
                                        <FlexboxLayout class="content">
                                            <Label text="Dislikes: " textWrap="true"></Label>
                                            <Label text="{{yourQuestion?.stats?.reactionsCount?.dislike || 0}}"
                                                textWrap="true"></Label>
                                        </FlexboxLayout>
                                    </FlexboxLayout>
                                </GridLayout>
                                <WrapLayout row="2">
                                    <Label text="SUBMIT A QUESTION" horizontaAlignment="left"  class="btn-transparent blue-border" stlRippleEffect (rippleTap)="navigateToMyQuestion()"></Label>
                                </WrapLayout>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout row="4" col="0" iosOverflowSafeArea="false" class="dashboard_body-grid4">
                            <app-invite-to-play [userId]="user?.userId" *ngIf="user && user!==null">
                            </app-invite-to-play>
                        </GridLayout>
                        <GridLayout rows="auto, auto" *ngIf="!yourQuestion" row="5" col="0"
                            class="submit-question" iosOverflowSafeArea="false">
                            <GridLayout row="0" class="q-title" iosOverflowSafeArea="false">
                                <Label text="You can also submit questions and get a chance to win cash prizes"
                                    textWrap="true">
                                </Label>
                            </GridLayout>
                            <GridLayout row="1" orientation="horizontal" horizontalAlignment="left"
                                iosOverflowSafeArea="false">
                                <Label text="SUBMIT A QUESTION" class="btn-transparent blue-border" stlRippleEffect (rippleTap)="navigateToMyQuestion()"></Label>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ScrollView>
        </WrapLayout>
    </GridLayout>
</GridLayout>