# NativeScript
node_modules/
platforms/
hooks/
projects/trivia/src/**/*.js
ng-quill-tex-0.0.1.tgz
.migration_backup/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/test/coverage
/test/result
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


# System Files
.DS_Store
Thumbs.db
functions/node_modules/
functions/server/
functions/config/
functions/package-lock.json
functions/dist/
package-lock.json
firebase-debug.log
scheduler/node_modules/
scheduler/server/
scheduler/config/
scheduler/package-lock.json
functions/index.js

#mobile release files

certificates/*
release/*
/**/*.apk
/**/*.ipa

ng-quill-tex-0.0.1.tgz
