
<form (ngSubmit)="onSubmit()" class="new-game-form" [formGroup]="newGameForm" novalidate>
    <div class="mainpage">
    <div class="row hidden-xs">
        <div class="pageheading col-sm-6 col-xs-12">Game Options</div>          
    </div>
    <section id="curentactive" class="card textcenter">
        <div class="h1block">
            <h1>Game Options</h1>
            <p>Please select a player mode to start a new game</p>
        </div>
        <div class="optionbox">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Select <span>Player Mode</span></h2>
                </div>
                <div class="col-sm-9 radiobtn">
                    <input type="radio" id="p-radio1" name="Player">
                    <label for="p-radio1"><span class="sprite singlep-icon"></span> Single Player</label>

                    <input type="radio" id="p-radio2" name="Player">
                    <label for="p-radio2"><span class="sprite twop-icon"></span> Two Player</label>
                    <div class="twoplayer" style="display: none;">
                        <input type="radio" id="tp-radio1" name="TwoPlayer">
                        <label for="tp-radio1"><span class="sprite randomp-icon"></span>Random</label>
                        <input type="radio" id="tp-radio2" name="TwoPlayer">
                        <label for="tp-radio2"><span class="sprite friendsp-icon"></span>With Friends</label>
                        <input type="radio" id="tp-radio3" name="TwoPlayer">
                        <label for="tp-radio3"><span class="sprite computerp-icon"></span>With Computer</label>
                        <div class="withfriends" style="display: none;">
                            <ul class="friendsslider">
                                <li>
                                    <input type="radio" id="friends1" name="withfriends">
                                    <label for="friends1"><span class="labelimg"><img src="/assets/images/frnd/john.jpg" alt="John"></span> <span class="dark">John</span> 
                                    <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">PHP</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">C++</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="friends2" name="withfriends">
                                    <label for="friends2"><span class="labelimg"><img src="/assets/images/frnd/kaanishhk.jpg" alt="John"></span> <span class="dark">Kaanishhk</span> <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">C++, Java</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">Dot Net</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="friends3" name="withfriends">
                                    <label for="friends3"><span class="labelimg"><img src="/assets/images/frnd/user1.jpg" alt="John"></span> <span class="dark">Abram</span> <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">PHP, Java</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">C++</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="friends4" name="withfriends">
                                    <label for="friends4"><span class="labelimg"><img src="/assets/images/frnd/user2.jpg" alt="John"></span> <span class="dark">Rocky</span> <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">C++, PHP</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">Java</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="friends5" name="withfriends">
                                    <label for="friends5"><span class="labelimg"><img src="/assets/images/frnd/user3.jpg" alt="John"></span> <span class="dark">Miya</span> <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">PHP, Java</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">C++</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="friends6" name="withfriends">
                                    <label for="friends6"><span class="labelimg"><img src="/assets/images/frnd/john.jpg" alt="John"></span> <span class="dark">John</span> <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">C++</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">Java</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="friends7" name="withfriends">
                                    <label for="friends7">
                                        <span class="labelimg"><img src="/assets/images/frnd/kaanishhk.jpg" alt="John"></span> 
                                        <span class="dark">Kaanishhk</span> 
                                        <span class="expertise">
                                        <span class="light">Expertise</span>
                                        <span class="dark">Java</span>
                                    </span>
                                    <span class="light">Favorite</span>
                                    <span class="dark">C++</span>
                                    </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- Prefered Categories -->
                <div class="row pcategories">
                    <div class="col-sm-3">
                        <h2>Prefered <span>Categories</span></h2>
                    </div>
                    <div class="col-sm-9">                            
                        <div class="row" formArrayName="categoriesFA">
                            <div class="col-md-8">
                                <div class="row">
                                    <ng-container *ngFor="let category of categoriesFA.value; let i=index">
                                    <div [formGroupName]="i" class="formfield"> <!-- [class.hide]="!(categoriesFA.value[i].requiredForGamePlay || categoriesFA.value[i].categorySelected || showUncheckedCategories)" -->
                                        <label>
                                            <input type="checkbox" formControlName="categorySelected"><span>{{categoriesFA.value[i].categoryName}}</span>
                                        </label>                      
                                    </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="chancat" (click)="toggleShowUncheckedCategories()" [class.hide]="true">
                                  <span class="sprite chancaticon"></span><span class="chancat-text" [class.hide]="showUncheckedCategories">Change Category Preference</span>
                                  <!--<span class="chancat-text" [class.hide]="!showUncheckedCategories">Close</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="tags">
                            <p>Tags associated categories</p>
                            <div data-tags-input-name="tag" id="tagBox" class="tagging-js">
                                    <md-chip-list>
                                        <md-basic-chip *ngIf="selectedTags.length === 0" class="tag">
                                            None
                                        </md-basic-chip>
                                        <md-basic-chip *ngFor="let tag of selectedTags" class="tag">
                                            {{tag}}  <span (click)="removeEnteredTag(tag)" class="remove-tag">x</span>
                                        </md-basic-chip>
                                    </md-chip-list>
                                                                  
                            </div>
                            <input type="text" placeholder="Tag" mdInput formControlName="tagControl" [mdAutocomplete]="tagAuto"  (change)="autoOptionClick($event)">
                            <md-autocomplete #tagAuto="mdAutocomplete">
                            <md-option *ngFor="let tag of filteredTags | async" [value]="tag">
                                {{ tag }}
                            </md-option>
                            </md-autocomplete>
                            <a md-button class="add-tag-button" color="primary" (click)="addTag()">ADD</a>
                        </div>
                    </div>
                </div>
                <!-- Prefered Categories end -->

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div id="sidebar" class="col-sm-9 btnbox">
                        <button md-button class="btn startg">Start Game</button>
                    </div>
                </div>               
            </div> 
        </section>
    </div>        




<md-card *ngIf="false">
  <md-card-title>Start New Game</md-card-title>
  <md-card-content>

    <div>
      <h3 md-subheader>Player Mode</h3>
      <md-button-toggle-group #group="mdButtonToggleGroup" formControlName="playerMode" value="0">
        <md-button-toggle value="0">
          Single Player
        </md-button-toggle>
        <md-button-toggle value="1">
          Two Player
        </md-button-toggle>
      </md-button-toggle-group>

    </div>

    <div>
      <md-button-toggle-group #group="mdButtonToggleGroup" formControlName="opponentType">
        <md-button-toggle value="0">
          Against Computer
        </md-button-toggle>
        <md-button-toggle value="1">
          Random Opponent
        </md-button-toggle>
        <md-button-toggle value="2">
          Friend
        </md-button-toggle>
      </md-button-toggle-group>
    </div>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <div class="tag-container">
      <h3 md-subheader>Tag Preference</h3>
      <p> 
        <md-chip *ngIf="selectedTags.length === 0">
          None
        </md-chip>
        <md-chip-list>
          <md-chip *ngFor="let tag of selectedTags">
            {{tag}}  <span (click)="removeEnteredTag(tag)" class="remove-tag">x</span>
          </md-chip>
        </md-chip-list>
      </p> 

    </div>

    <button md-button color="primary">START</button>
  </md-card-content>
</md-card>
</form>
