<profile-card></profile-card>
<recent-games></recent-games>
<user-stats-card></user-stats-card>

<div class="card playwith">
  <a href="#">
    <span class="sprite playwithicon"></span>
    <span class="playtext">Play with your<span>Friends</span></span>
  </a>
</div>

<div class="card socialicon">
  <a href="#" class="sprite facebookicon"></a>
  <a href="#" class="sprite twiticon"></a>
  <a href="#" class="sprite linkdenicon"></a>
</div>
<div class="card playwith visible-xs">
  <a class="playtext" href="#"><span>Blog</span></a>
</div>
<div class="card playwith visible-xs">
  <a class="playtext" href="#"><span>System Stats</span></a>
</div>
