<profile-card [user]="user"></profile-card>
<recent-games></recent-games>
<div class="card playwith">
    <a [routerLink]="['/my/questions']">
      <span class="sprite myqestion"></span>
      <span class="playtext">Submit<span>Questions</span></span>
    </a>
  </div>
<user-stats-card></user-stats-card>


<div class="card playwith">
  <a [routerLink]="['/my/invite-friends']">
    <span class="sprite playwithicon"></span>
    <span class="playtext">Invite your<span>Friends</span></span>
  </a>
</div>

<div class="card socialicon">
  <a href="#" class="sprite facebookicon"></a>
  <a href="#" class="sprite twiticon"></a>
  <a href="#" class="sprite linkdenicon"></a>
</div>
<div class="card playwith visible-xs">
  <a class="playtext" href="#"><span>Blog</span></a>
</div>
<div class="card playwith visible-xs">
  <a class="playtext" href="#"><span>System Stats</span></a>
</div>
