<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="pageheading col-xs-12 hidden-xs col-md-4">Questions</div>
      <div class="archive-div col-md-5 col-xs-6 hidden-xs align-right">
        <label>Show Bulk Questions</label>
        <mat-button-toggle-group #group="matButtonToggleGroup" value="{{toggleValue}}">
          <mat-button-toggle value=true (click)="tapped(true)">
            On
          </mat-button-toggle>
          <mat-button-toggle value=false (click)="tapped(false)">
            Off
          </mat-button-toggle>

        </mat-button-toggle-group>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Published">
        <question-search [questionsSearchResults]="(questionsSearchResultsObs | async)" [categoryDictionary]="categoryDictObs | async"
          (onPageChanged)="pageChanged($event)" (onCategoryChanged)="categoryChanged($event)" (onTagChanged)="tagChanged($event)"
          (onSortOrderChanged)="sortOrderChanged($event)" class="flex-container" fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="center"
          fxLayoutAlign.xs="start">
        </question-search>
      </mat-tab>
      <mat-tab label="Unpublished">
        <question-list [questions]="unpublishedQuestionsObs | async" [categoryDictionary]="categoryDictObs | async" [showApproveButton]="true"
          (approveClicked)="approveQuestion($event)" [userDict]="userDict" class="flex-container" fxLayoutWrap="wrap" fxLayout="row"
          fxLayoutAlign="center" fxLayoutAlign.xs="start">
        </question-list>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>