<div>
  <div fxLayoutAlign="center" class="mail-icon-div">
    <img class="mail-icon" src="assets/images/mail-icon.png" alt="Mail Icon">
  </div>
  <div fxLayoutAlign="left">
    <form *ngIf="invitationForm" (ngSubmit)="onSubscribe()" [formGroup]="invitationForm" class="col-md-12 col-sm-12 col-lg-12 col-xs-12"
      #formDir="ngForm">
      <input type="text" formControlName="email" class="required" placeholder="Email address" aria-label="email">
      <button class="btn send-btn">Send Invite</button>
      <span *ngIf="invitationForm.controls.email.invalid && formDir.submitted" class="label">
        Email is required!
      </span>
      <span *ngIf="showErrorMsg" class="label row col-sm-12"> {{errorMsg}} </span>
      <span *ngIf="showErrorMsg" class="label row col-sm-12">{{invalidEmailList}}</span>
      <span *ngIf="showSuccessMsg!=undefined" class="success row col-sm-12">{{showSuccessMsg}}</span>
    </form>
  </div>
  <div class="mail-option-div">
    <!-- <mat-list role="list">
      <mat-list-item role="listitem">

        <img class="icon-size" src="assets/images/gmail.png" alt="Gmail Icon">
        <span class="text-alignment social-name">Gmail</span>

        <div class="col-xs-12 div-btn">
          <button class="invite-btn">Find Contacts</button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <img class="icon-size" src="assets/images/yahoo.png" alt="Yahoo Icon">
        <span class="text-alignment social-name">Yahoo</span>
        <div class="col-xs-12 div-btn">
          <button class="invite-btn">Find Contacts</button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <img class="icon-size" src="assets/images/hotmail.png" alt="Hotmail Icon">
        <span class="text-alignment social-name">Hotmail</span>
        <div class="col-xs-12 div-btn">
          <button class="invite-btn">Find Contacts</button>
        </div>
      </mat-list-item>
    </mat-list> -->

  </div>
</div>