<div *ngIf="showSort || showPaginator" fxLayout="row" fxLayoutAlign="space-between center" class="sort-page-header">
  <md-select *ngIf="showSort" placeholder="Sort Order" (change)="sortOrderChanged($event)">
    <md-option [value]="'Category'">Category</md-option>
    <md-option [value]="'Status'">Status</md-option>
    <md-option [value]="'CreatedTimeDesc'">Created On (Latest)</md-option>
    <md-option [value]="'CreatedTimeAsc'">Created On (Earliest)</md-option>
    <md-option [value]="'UpdatedTimeDesc'">Updated On (Latest)</md-option>
    <md-option [value]="'UpdatedTimeAsc'">Updated On (Earliest)</md-option>
  </md-select>

  <md-paginator *ngIf="showPaginator"
    [length]="totalCount"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[25, 50, 100, 200]"
    (page)="pageChanged($event)">
  </md-paginator>  
</div>

<md-table #table [dataSource]="questionsDS" mdSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container cdkColumnDef="chkBox">
    <md-header-cell *cdkHeaderCellDef><md-checkbox></md-checkbox></md-header-cell>
    <md-cell class="col-chkbox" *cdkCellDef="let row"> <md-checkbox></md-checkbox> </md-cell>
  </ng-container>

  <!-- Question Column -->
  <ng-container cdkColumnDef="questionText">
    <md-header-cell class="col-question" *cdkHeaderCellDef md-sort-header> Question </md-header-cell>
    <md-cell *cdkCellDef="let row" class="col-question" fxLayout="column" fxLayoutAlign="space-between"> 
      <div class="row">
        <div class="col-sm-9 col-xs-12">
          <div class="date">13 May 2017</div>
          <p>{{row.questionText}}</p>
          <ul class="currentans">
            <li>
              <div class="dark">Correct answer :</div>
              <div class="light">
                <span *ngFor="let answer of row.answers">
                  <span *ngIf="answer.correct">{{answer.answerText}}</span> 
                </span>                  
              </div>
            </li>
            <li>
              <div class="dark">Other options :</div>
              <div class="light">
                <span *ngFor="let answer of row.answers">
                  <span *ngIf="!answer.correct">{{answer.answerText}}, </span> 
                </span>                  
              </div>
            </li>
            <li>
              <div class="dark">Category :</div>
              <div class="light">
                <span *ngFor="let id of row.categoryIds">
                  {{categoryDictionary[id].categoryName}}
                </span>
              </div>
            </li>
            <li>
              <div class="dark">Tags :</div>
              <div class="light">
                <span *ngFor="let tag of row.tags">
                  {{tag}},
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-12 textrigth">
          <a href="#" class="btn">{{getDisplayStatus(row.status)}}</a>
        </div>
      </div>

    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="status">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Status </md-header-cell>
    <md-cell class="col-status" *cdkCellDef="let row"> {{row.status}} </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="['questionText']"></md-header-row>
  <md-row class="row-question" *cdkRowDef="let row; columns: ['questionText'];"></md-row>
</md-table>

<md-paginator *ngIf="showPaginator"
    [length]="totalCount"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[25, 50, 100, 200]"
    (page)="pageChanged($event)">
</md-paginator>  
