.row{ font-family: 'hindregular'; }
.row {
  padding: 20px 0;
  border-bottom: 1px solid;
  margin: 0;
  border-color: rgba(204,204,204,0.44);
}
.dark{ font-size: 16px; }
.dark{ font-family: 'hindsemibold'; display: inline-block; }
.light{ display: inline-block; }
.currentans li:nth-child(3) {
  margin-top: 10px;
}

.mat-header-row, .mat-row { 
  border-bottom-style: none;
}

.sort-page-header {
  margin-left: 30px;
  margin-top: 30px;
}
.row-question {
  height: auto;
}
.col-chkbox {
  flex: 1;
}
.col-question {
  flex: 10;
  //display: flex;
  > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.answer {
  flex: 1 50%;
}
.col-status {
  flex: 3;
}
/*
.answer.correct {
  &::before {
    content: '\2713';
    margin-left: -14px;
    color: red;
  }
}
*/
.answer.correct {
  .mat-icon {
    height: auto;
    width: auto;
    font-size: 14px;
    color: red;
    margin-left: -16px;
  }
}
.subtitle {
  font-weight: bold;
}
