<md-sidenav-container>
  <md-sidenav #sidenav class="sidenav">
    <md-nav-list>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <md-icon md-list-icon>Home</md-icon>
        <span md-line>Home</span>
        <span md-line class="secondary">Home</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/my-questions']">
        <md-icon md-list-icon>question_answer</md-icon>
        <span md-line>My Questions</span>
        <span md-line class="secondary">My Questions</span>
      </a>
      <a md-list-item *ngIf="user?.roles.admin" (click)="sidenav.close()" [routerLink]="['/admin']">
        <md-icon md-list-icon>settings</md-icon>
        <span md-line>Admin</span>
        <span md-line class="secondary">Admin</span>
      </a>
      <a *ngIf="user" md-list-item (click)="sidenav.close(); logout()">
        <md-icon md-list-icon>account_circle</md-icon>
        <span md-line>{{user.displayName}}</span>
        <span md-line class="secondary">Logout</span>
      </a>
      <a *ngIf="!user" md-list-item (click)="sidenav.close(); login()">
        <md-icon md-list-icon>mood_bad</md-icon>
        <span md-line>Login</span>
        <span md-line class="secondary">Login</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <div class="my-content">
    <md-toolbar [color]="primary">
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>

      <span>{{title}}</span>
      <span class="fill-remaining-space"></span>
      <span *ngIf="user" md-line class="toolbar-user-name">{{user.displayName}}</span>
    </md-toolbar>

    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
