<!--Header Start Here-->
<div>
<header>        
  <section class="headermain" id="stickyheader">      
    <div class="container">
      <div class="row">
        <div class="logo col-xs-6 col-md-3">
          <a [routerLink]="['/']" title="trivia.com"><img src="/assets/images/logo.png">
          under development</a>
        </div>
        <div class="col-xs-6 pull-right align-right">
          <div class="headerdrop">
            <a (click)="toggleTheme()"><mat-icon mat-list-icon>flip</mat-icon></a>
          </div>
          <div class="headerdrop">
            <a [routerLink]="['/my']"><span class="sprite settingicon"></span><span class="hidden-xs">Profile Setting</span></a>
          </div>
          <div class="headerdrop">
            <a *ngIf="user" class="logout" (click)="logout()"><span class="sprite logouticon"></span><span class="hidden-xs">Logout</span></a>
            <a *ngIf="!user" class="login" (click)="login()"><span class="sprite logouticon"></span><span class="hidden-xs">Sign in</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clear"></div>
</header>
<!--Header End-->

<!-- Page Layout -->
<div class="container pagelayout">
  <nav *ngIf="user && !router.url.startsWith('/admin')" id="nav" tabindex="0">
    <div class="smartphone-menu-trigger" id="nav-icon1" >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <side-nav [user]="user"></side-nav>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<!-- Page Layout End -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <a [routerLink]="['/']" title="Home">Home</a>
        <a *ngIf="user" [routerLink]="['/my/questions']" title="My Questions">My Questions</a>
        <a *ngIf="user?.roles?.admin" [routerLink]="['/admin']">Admin</a>
        <a href="https://blog.realworldfullstack.io/" target="_blank" rel="noopener" title="Blog">Blog</a>
        <a href="https://github.com/anihalaney/rwa-trivia" target="_blank" rel="noopener" title="Github">Github</a>
        <ng-container *ngIf="!user">
          <!--<a class="signup" href="#" title="Sign Up">Sign Up</a>-->
          <a class="logout" (click)="login()" title="Sign in">Sign in</a>
        </ng-container>
        <a *ngIf="user" class="login" (click)="logout()" title="Logout">Logout</a>

        <span *ngIf="!user" class="socialicon-f">
          <a href="#" class="sprite facebookicon-f"></a>
          <a href="#" class="sprite twiticon-f"></a>
          <a href="#" class="sprite linkdenicon-f"></a>
        </span>
        </div>
      <div class="col-sm-4 col-xs-12 copyright textright">bitWiser © 2017. All rights reserved.</div>
    </div>
  </div>
</footer>
<!-- Footer end -->
</div>

<mat-sidenav-container *ngIf="false">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <mat-icon mat-list-icon>Home</mat-icon>
        <span mat-line>Home</span>
        <span mat-line class="secondary">Home</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/my/questions']">
        <mat-icon mat-list-icon>question_answer</mat-icon>
        <span mat-line>My Questions</span>
        <span mat-line class="secondary">My Questions</span>
      </a>
      <a mat-list-item *ngIf="user?.roles?.admin" (click)="sidenav.close()" [routerLink]="['/admin']">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span mat-line>Admin</span>
        <span mat-line class="secondary">Admin</span>
      </a>
      <a *ngIf="user" mat-list-item (click)="sidenav.close(); logout()" class="logout-button">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span mat-line>{{user.displayName}}</span>
        <span mat-line class="secondary">Logout</span>
      </a>
      <a *ngIf="!user" mat-list-item (click)="sidenav.close(); login()" class="login-button">
        <mat-icon mat-list-icon>mood_bad</mat-icon>
        <span mat-line>Login</span>
        <span mat-line class="secondary">Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="my-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{title}}</span>
      <span class="fill-remaining-space"></span>
      <span *ngIf="user" mat-line class="toolbar-user-name">{{user.displayName}}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
