.social-icons{ 
    position: absolute;
    top: 245px;
    left: 255px;
    border-style: solid;
    border-width: 1px;
    width: 18%;
    z-index: 1;
    border-radius: 5px;
  }
  .facebookicon,.twiticon,.linkdenicon
  {
    height: 40px;
    width:40px;
  }
  .icon-spacing
  {
    margin-top: 25%;
  }