<div class="social-icons textcenter">
    <share-button [theme]="'circles-dark'" [button]="'facebook'" [size]="4" [url]="blogUrl" [autoSetMeta]="false"> </share-button>
    <share-button [theme]="'circles-dark'" [button]="'twitter'" [size]="4" [url]="blogUrl" [autoSetMeta]="false"> </share-button>
    <share-button [theme]="'circles-dark'" [button]="'linkedin'" [size]="4" [url]="blogUrl" [autoSetMeta]="false"> </share-button>
    <!-- <span class="facebookicon sprite icon-spacing"></span> -->
    <!-- <span class="twiticon sprite icon-spacing"></span> -->
    <!-- <span class="linkdenicon sprite icon-spacing"></span> -->
    <hr>
    <span class="cross-icon sprite" (click)="closeSocial()"></span>
</div>