/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

// @import '~@angular/material/theming';
// @import '~@ngx-share/button/styles/share-buttons';
// @import '~@ngx-share/button/styles/themes/circles/circles-dark-theme';


@import '~nativescript-theme-core/css/core.light.css';
@import './styles/light.theme.scss';
@import './styles/styles.scss';
@import './styles/rwa-trivia.theme.scss';
@import './styles/global.scss';
@import './styles/light.theme.scss';

.new-btn{
    color: map-get($light-theme-text-color , primary-light);
  }

.material-icon {
  font-family: "Material Icons", MaterialIcons-Regular;
}

.fa {
  font-family: "FontAwesome", fontawesome-webfont;
}
.new-btn-s {
  color: red;
}

.tns-btn{
  font-size: 16;
}

.score2-L {
  width: 50;
  height: 52;
  background-size: 1500 1500;
  background-position: -10 -880;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score1-L {
  width: 50;
  height: 54;
  background-size: 1500 1500;
  background-position: -10 -1110;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score3-L {
  width: 50;
  height: 53;
  background-size: 1500 1500;
  background-position: -160 -1110;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}


.score4-L {
  width: 50;
  height: 53;
  background-size: 1500 1500;
  background-position: -5 -1265;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score5-L {
  width: 50;
  height: 53;
  background-size: 1500 1500;
  background-position: -155 -1265;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score1 {
  width: 26;
  height: 26;
  background-size: 1500 1500;
  background-position: -162 -885;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score2 {
  width: 26;
  height: 26;
  background-size: 1500 1500;
  background-position: -232 -885;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score3 {
  width: 26;
  height: 28;
  background-size: 1500 1500;
  background-position: -300 -885;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score4 {
  width: 26;
  height: 26;
  background-size: 1500 1500;
  background-position: -162 -955;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score5 {
  width: 26;
  height: 26;
  background-size: 1500 1500;
  background-position: -232 -955;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.score0 {
  width: 26;
  height: 26;
  background-size: 1500 1500;
  background-position: -189 -800;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
  color: red;
}

.thumb-up {
  width: 42;
  height: 28;
  background-size: 1500 1500;
  background-position: -255 -785;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
}

.thumb-down {
  width: 42;
  height: 28;
  background-size: 1500 1500;
  background-position: -2 -1030;
  background-repeat: no-repeat;
  background-image: url('~/assets/images/sprite.png');
}