<StackLayout>
    <ScrollView>
        <StackLayout  (tap)="hideKeyboard()" class="Roboto-Regular">
                <GridLayout rows="auto" columns="auto,*" backgroundColor="#3e5b95" padding="15">
                    <Label row="0" col="0" text="Report an issue" horizontalAlignment="left" color="#ffffff" fontSize="20"
                        textWrap="true"></Label>
                    <Label row="0" col="1" text="&#xf057;" horizontalAlignment="right" (tap)="onClose()" class="fa times-circle close-icon"></Label>
                </GridLayout>
                <StackLayout padding="15">
                    <Label class="main-question Roboto-Medium" text="{{question.questionText}}" horizontalAlignment="left" textWrap="true"></Label>
                    <StackLayout>
                        <StackLayout orientation="horizontal">
                            <Label class="reported-details-title Roboto-Medium" text="Correct answer: " textWrap="true"></Label>
                            <Label class="reported-details-content" text="{{correctAnswer}}" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout orientation="horizontal">
                            <Label class="reported-details-title Roboto-Medium" text="Other Option: " textWrap="true"></Label>
                            <Label class="reported-details-content" text="{{otherAnswer}}" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout orientation="horizontal">
                            <Label class="reported-details-title Roboto-Medium" text="Category: " textWrap="true"></Label>
                            <Label class="reported-details-content" text="{{categoryName}}" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout orientation="horizontal">
                            <Label class="reported-details-title Roboto-Medium" text="Tags: " textWrap="true"></Label>
                            <Label class="reported-details-content" text="{{question.tags?.toString()}}" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
                <StackLayout class="hr-light" textWrap="true"></StackLayout>
                <Label class="problem-content" text="If you're having trouble with above question, please use this from to tell us about the issue you're experiencing."
                    textWrap="true"></Label>

                <Label class="extra-content" text="Issues:" textWrap="true"></Label>

                <StackLayout padding="15" row="0" col="0">
                    <StackLayout class="p-10" *ngFor="let option of reportOptions">
                        <StackLayout orientation="horizontal" verticalAlignment="center">
                            <CheckBox #elem [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)"
                                class="checkbox" boxType="circle"></CheckBox>
                            <StackLayout verticalAlignment="center">
                                <Label style="color:#4b4b4b" [text]="option.text" textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <TextView hint="Other" #textField class="textbox" [(ngModel)]="otherReason" height="100"></TextView>
                </StackLayout>
                <Label class="extra-content" text="Thanks for taking the time to submit a issue. We will be in touch with you for more details as we investigate."
                    textWrap="true"></Label>
                <Button text="SUBMIT" class="submit-btn Roboto-Medium" (rippleTap)="saveReportQuestion()" stlRippleEffect></Button>
            </StackLayout>
    </ScrollView>
</StackLayout>