<StackLayout backgroundColor="#fff" (tap)="hideKeyboard()" class="Roboto-Regular">
    <FlexboxLayout class="dialog-title-container" padding="0 20">
        <Label text="Report" class="dialog-title" textWrap="true"></Label>
        <Label text="&#xf00d;" class="fa close-tag" textWrap="true" (tap)="closeDialogReport()"></Label>
    </FlexboxLayout>
    <ScrollView height="100%">
        <StackLayout>
            <FlexboxLayout flexDirection="column" class="border-bottom">
                <GridLayout class="report" marginBottom="10">
                    <render-question [question]="question"></render-question>
                </GridLayout>
                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" class="report" marginBottom="10" style="font-size: 14;"
                        orientation="horizontal">
                        <Label verticalAlignment="top" class="report-text-color Roboto-Medium" text="Correct answer: "
                            textWrap="true"></Label>
                        <FlexboxLayout flexDirection="column" *ngIf="correctAnswer">
                            <ng-container *ngFor="let answer of correctAnswer">
                                <render-answer [answer]="answer" [doPlay]="false" [isUserInteractionEnabled]="false"
                                    [isGameAnswer]="false"></render-answer>
                            </ng-container>
                        </FlexboxLayout>
                    </StackLayout>
                    <StackLayout row="1" class="reported-details-title" orientation="horizontal">
                        <Label verticalAlignment="top" class="Roboto-Medium" text="Other Option: "
                            textWrap="true"></Label>
                        <FlexboxLayout flexDirection="column">
                            <ng-container *ngFor="let wrongAnswers of otherAnswer; let i = index">
                                <render-answer [answer]="wrongAnswers" [doPlay]="false"
                                    [isUserInteractionEnabled]="false" [isGameAnswer]="false"></render-answer>
                            </ng-container>
                        </FlexboxLayout>
                    </StackLayout>
                    <FlexboxLayout row="2" style="font-size: 14;">
                        <Label class="reported-details-title text-grey Roboto-Medium" text="Category: "
                            textWrap="true"></Label>
                        <Label class="reported-details-content text-grey" text="{{categoryName}}"
                            textWrap="true"></Label>
                    </FlexboxLayout>
                </GridLayout>
            </FlexboxLayout>
            <Label class="problem-content"
                text="Report above question, choose from below issue or select other to type any other issue"
                textWrap="true"></Label>
            <FlexboxLayout flexDirection="column" padding="0 15">
                <ng-container *ngFor="let option of reportOptions; let i = index;">
                    <FlexboxLayout *ngIf="option.text !== 'Other'" class="option-border"
                        [ngClass]="{'selected-report': option.selected}" (tap)="selectReasons(i)">
                        <Label [text]="option.text" [ngStyle]="{color: (option.selected ? '#fff': '#000')}"
                            textWrap="true"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="column" *ngIf="option.text === 'Other'" (tap)="selectReasons(i)">
                        <Label marginBottom="10" color="#000" [text]="option.text" textWrap="true"></Label>
                        <TextView hint="Describe your issue" #textField class="textbox" [(ngModel)]="otherReason"
                            height="100">
                        </TextView>
                    </FlexboxLayout>
                </ng-container>

            </FlexboxLayout>
            <Button class="submit-btn btn-blue Roboto-Medium" (rippleTap)="saveReportQuestion()" stlRippleEffect
                text="Submit">
            </Button>
        </StackLayout>
    </ScrollView>
</StackLayout>