
.title {
  color: #3b5998;
  font-weight: bold;
  font-size: 17;
  padding:10 0;
}

.padding-10 {
  padding: 10;
}

.text-black {
  color:black;
}

.text-gray {
  color:gray;
}

.border-bottom{
  border-color: #dfdfdf;
  border-width: 0 0 2 0;
  border-style: solid;
  width: 95%;
  height: 1;
}

.hr{
  border-color: #dfdfdf;
}