@import './theme/theme';

$bg-default: #f1f2f2;

$light-theme-background : (
	primary: $bg-default,
	secondary: $bg-default,
	card: #fff,
	popup-container:  #fff,
	question-list-label: $bg-default,
	current-active: #fff,
	playwith-after: $bg-default,
	overlay: rgba(38, 48, 60, 1), 
	header: #3b5998,
	footer: #0b214f,
	li-hover: #e8e8e8,
	reasons: #ffe8e4,
	form-group: #4285f4,
	form-checkbox-disabled: #bdbdbd,
	button-primary: #71b02f,
	button-important: #f50057,
	button-error: #d54937,
	button-warning: #efbf00,
	input: #fff,
	invitationlist-alt: #fafafa,
	subscribe-email: #fff,

	startgame-hover-lg: #e50051,
	button-hover-lg: #1f7b2b,
	button-error-hover-lg: #af3424,
	button-warning-lg: #d5aa00,
	viewpublic-hover-lg: #71b02f,
	nav-sm: #f1f2f2,
	error-message:#FEE4E7,
	table-header:#f1f2f2,
	hover:#f4f5f7,
	thumb:#EEFCEF,
	button-row:#F0F0F0
);

$light-theme-text-color : (
	primary: #263238,
	primary-light: #8c8c8c,
	primary-dark: #282828,
	secondary: #7c7c7c,
	header: #f1f2f2,
	footer: rgba(255,255,255,0.8),
	copyright: rgba(255,255,255,0.5),
	heading: #1b1c1c,
	heading-alt: #1b1c1c,
	heading-secondary: #1b1c1c,
	tab-text: rgba(66,66,66,0.6),
	btn-text: #fff,
	active: #424242,
	tags: #fe4f20,
	viewall: #3b5998,
	login: #3d3d3d,
	form-focus: #4285f4,
	form-select: #263238,
	login-link: #f50057,
	resubmit: #71b02f,
	placeholder: #7c7c7c,
	question-list-label:  #263238,
	blog-social: #263238,
	hover-lg: #3b5998,
	tag-hover-lg: #424242,
	footer-hover-lg:#fff,
	box-hover-lg: #1f7b2b,
	warning: #FFD04E,
	reject:#e50051,
	error:#ff2d55,
	link:#0b55f9,
	label:#fe4f20,
	pending:#263238,
	answer:#65BBB8,
);


$light-theme-border : (
	card: rgba(204,204,204,0.44),
	default: rgba(204,204,204,0.44),
	primary: #b8b8b8,
	viewall-after: #b8b8b8,
	currentgame-list: #b8b8b8,
	input:#9a9a9a,
	hover: #3b5998,
	active: #3b5998,
	header-block: #dfe0e1,
	header-block-after: #fff,
	form-options: #dfe0e1,
	form-options-label: #fff,
	skyblue-before:#01d5d8,  
	red-before:#ff2d55,
	green-before:#7ec856,  
	form-checkbox:#71b02f,
	form-checkbox-disabled: #bdbdbd,
	secondary: #dddddd,
	secondary-after:#fff,
	login: #d54937,
	timer: #10383d,
	form-checkbox-checked: #1f7b2b,
	gameplay-wrong:#af3424, 
	input-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.06),
	categorybox-lg: #ececec,
	hover-lg: #71b02f,
	download-btn:#b8b8b8,
);

@include apply-theme("", $light-theme-background, $light-theme-text-color, $light-theme-border, 'sprite.png')