<mat-card class="flex-item" class="game-question">
  <mat-card-title class="textcenter">
    <div>
      <span class="title">GAME OVER</span>
    </div>
    <div class="category-div">
      <span class="label category-name">{{categoryName}} </span>
    </div>
    <div fxFlex></div>
    <div></div>
  </mat-card-title>
  <mat-card-content class="textcenter">
    <div class="textcenter clearfix gameOver" *ngIf="game.gameOptions.playerMode == PlayerMode.Single">
      <div class="yourimg">
        <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg">
      </div>
      <a href="#" class="dark text-style">You</a>
      <div class="dark div-top-spacing text-style">Score {{game.stats[user.userId].score}}</div>
      <div class="div-top-spacing">
        <div *ngIf="game.stats[user.userId].score >= 1" class="sprite score1"></div>
        <div *ngIf="game.stats[user.userId].score >= 2" class="sprite score2"></div>
        <div *ngIf="game.stats[user.userId].score >= 3" class="sprite score3"></div>
        <div *ngIf="game.stats[user.userId].score >= 4" class="sprite score4"></div>
        <div *ngIf="game.stats[user.userId].score >= 5" class="sprite score5"></div>

      </div>
    </div>
    <div class="textcenter clearfix gameOver" *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent">
      <div class="col-sm-3 col-sm-offset-3">
        <div class="yourimg" [ngClass]="{'vs': game.playerIds.length>1 }">
          <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg">
        </div>
        <a href="#" class="dark text-style">You</a>
        <div class="dark div-top-spacing text-style">Score {{game.stats[user.userId].score}}</div>
        <div class="div-top-spacing">
          <div *ngIf="game.stats[user.userId].score >= 1" class="sprite score1"></div>
          <div *ngIf="game.stats[user.userId].score >= 2" class="sprite score2"></div>
          <div *ngIf="game.stats[user.userId].score >= 3" class="sprite score3"></div>
          <div *ngIf="game.stats[user.userId].score >= 4" class="sprite score4"></div>
          <div *ngIf="game.stats[user.userId].score >= 5" class="sprite score5"></div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="yourimg">
          <img *ngIf="otherUserInfo?.profilePictureUrl" [src]="otherUserInfo.profilePictureUrl" alt="yourimg">
        </div>
        <a href="#" class="dark text-style">{{otherUserInfo?.displayName}}</a>
        <div class="dark div-top-spacing text-style">Score {{game.stats[otherUserId].score}}</div>
        <div class="div-top-spacing">
          <div *ngIf="game.stats[otherUserId].score >= 1" class="sprite score1"></div>
          <div *ngIf="game.stats[otherUserId].score >= 2" class="sprite score2"></div>
          <div *ngIf="game.stats[otherUserId].score >= 3" class="sprite score3"></div>
          <div *ngIf="game.stats[otherUserId].score >= 4" class="sprite score4"></div>
          <div *ngIf="game.stats[otherUserId].score >= 5" class="sprite score5"></div>
        </div>
      </div>
    </div>
    <div class="div-top-spacing win-icon-div">
      <div class="win-icon" *ngIf="game.gameOptions.playerMode == PlayerMode.Single || game.stats[user.userId].score > game.stats[otherUserId].score">
        <div class="sprite thumb-up"></div>
        <span class="win-text">You Win</span>
      </div>
      <div class="win-icon" *ngIf="game.gameOptions.playerMode != PlayerMode.Single && game.stats[user.userId].score < game.stats[otherUserId].score">
        <div class="sprite thumb-down"></div>
        <span class="win-text">You Lose</span>
      </div>
    </div>
    <div class="button-div">
      <div class="win-icon">
        <button class="btn-share" type="button">Share</button>
        <button class="btn-share" type="button" (click)="reMatch()" [disabled]="disableRematchBtn">Rematch</button>
        <button class="btn-share" type="button" [routerLink]="['/']">Home</button>
      </div>
    </div>
    <div>
      <mat-accordion>
        <mat-expansion-panel (opened)="bindQuestions()">
          <mat-expansion-panel-header>
            <mat-panel-title class="textcenter">
              View questions & answers
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-panel-description>

            <ul class="questions">
              <li class="question-section" *ngFor="let row  of questionsArray;let i=index;">
                <div class="li-section1">
                  <p class="dark text-style">Q{{i+1}}. {{row.questionText}}</p>
                  <div class="answer-text">
                    <span *ngFor="let answer of row.answers">
                      <div class="dark text-style" *ngIf="answer.correct">A{{i+1}}.
                        <label class="answer-label">Correct ans.</label>
                        <span class="text-style">{{answer.answerText}}</span>
                      </div>
                    </span>
                    <span *ngFor="let answer of row.answers;let j=index;">
                      <p *ngIf="answer.answerText === row.userGivenAnswer">
                        <label [ngClass]="answer.answerText === row.userGivenAnswer  && answer.correct? 'answer-label':'label'" class="text-style your-answer-label">Your ans.</label>
                        <span class="text-style" [ngClass]="answer.answerText === row.userGivenAnswer  && answer.correct? '':'label'">{{row.userGivenAnswer}} </span>
                      </p>
                    </span>
                  </div>
                </div>
                <div class="li-section2 textcenter">
                  <button class="btn-share" type="button" (click)="reportQuestion(row)" *ngIf="!game.playerQnAs[i].isReported">Report</button>
                  <label class="status-reported text-style " *ngIf="game.playerQnAs[i].isReported">Reported</label>
                </div>
              </li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>