@mixin apply-theme($theme-class-name, $theme-background, $theme-text, $theme-border) {
	@if $theme-class-name == "" {
		//default theme
		app-root > div {
			@include theme-text-color($theme-text);
			@include theme-background-color($theme-background);
			@include theme-border-color($theme-border);
		}
	}
	@else {
		app-root > div.#{$theme-class-name} {
			@include theme-text-color($theme-text);
			@include theme-background-color($theme-background);
			@include theme-border-color($theme-border);
		}
	}
}

@mixin theme-background-color($theme) {
	input, textarea, select, button { 
		background: map-get($theme, input);
	}
	
	/*Header*/
	.card, nav .smartphone-menu-trigger span, .formfield input[type="checkbox"]:before,.enterquestion .formfield input[type="radio"]:before, .cd-popup-container, .gameplay li, .resubmit, .tag,.avatarimg input[type="file"], #file-name { 
		background: map-get($theme, card);
	}
	body, .playwith a:after, .h1block:after, .question-list li label, .recentlygames li a:hover, .navview #statis li a:hover, .tag .tag-i, .secondbg, .logininner .withsocial { 
		background: map-get($theme, primary);
	}
	.secondbg{ 
		background: map-get($theme, secondary);
	}
	.cd-popup-container{
		background: map-get($theme, popup-container);
	}
	.question-list li label{ 
		background: map-get($theme, question-list-label);
	}
	.question-list li label:hover{ 
		background: map-get($theme, li-hover); 
	}
	#curentactive{ 
		background: map-get($theme, current-active);
	}
	.playwith a:after{ 
		background: map-get($theme, playwith-after);
	}
	.headermain{ 
		background: map-get($theme, header);
	}
	.startgame{ 
		background: map-get($theme, button-important); 
	}
	.btn, .question-list li input:checked ~ label, .optionbox input:checked + label, .formfield input[type="checkbox"]:checked:before,.enterquestion .formfield input[type="radio"]:checked:before, .gameplay li.right,.questionstatus .tabbing li:after{ 
		background: map-get($theme, button-primary); 
	}
	footer{ 
		background:  map-get($theme, footer);
	}
	.landingpage, .loginpage{ 
		background: map-get($theme, overlay); 
	}
	.btn.signup, .logininner .formfield input[type="checkbox"]:checked:before, .gameplay li.wrong, .rejected{ 
		background: map-get($theme, button-error);
	}
	.approval{ 
		background: map-get($theme, button-warning); 
	}
	.reasons{ 
		background: map-get($theme, reasons);  
	}
	.form-group .bar:before{ 
		background: map-get($theme, form-group);
	}
	.invitationlist li:nth-child(odd){ 
		background:map-get($theme, invitationlist-alt);
	}
	.subscrib-cont input[type="email"]{ 
		background: map-get($theme, subscribe-email);
	}

	.cdk-overlay-dark-backdrop {
		background: radial-gradient(ellipse at center, #6d8ac6 1%,#3b5998 100%);
	}
	.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
		opacity: 1;
	}
	@media screen and ( min-width:1000px){
		.startgame:hover{ 
			background: map-get($theme, startgame-hover-lg);
		}
		.btn:hover{
			background: map-get($theme, button-hover-lg);
		}
		.btn.signup:hover, .rejected:hover{ 
			background: map-get($theme, button-error-hover-lg);
		}
		.approval:hover{ 
			background: map-get($theme, button-warning-lg);
		}
		.viewbublic:hover{ 
			background: map-get($theme, viewpublic-hover-lg);
		}
	}

	@media screen and ( max-width:1024px){
		nav { 
			background: map-get($theme, nav-sm);
		}
	}
	
	@media screen and ( max-width:989px){
		.invitationlist li{ 
			background:map-get($theme, invitationlist-list-sm);
		}
	}
}

@mixin theme-text-color($theme) {
	body,.recentlygames h2, .pageheading, main h2, .question-list li label, .blog h2 a, .optionbox h2,.optionbox h2 span, .submitpage textarea, .enterquestion .formfield > input, .formfield select, .cd-popup-container,.viewbublic{ 
		color: map-get($theme, primary);
	}
	.question-list li label{ 
		color: map-get($theme, question-list-label); 
	}
	.copyright{ 
		color: map-get($theme, copyright);
	}
	footer a{ 
		color: map-get($theme, footer);
	}
	.startgame, .btn, .question-list li input:checked ~ label, .optionbox .radiobtn input:checked + label, .optionbox input:checked + label .dark, .optionbox input:checked + label .light, .landinginner, .gameplay li.right, .gameplay li.wrong{ 
		color: map-get($theme, btn-text);
	}

	.headerdrop a, .ladding-copyr{
		color: map-get($theme, header);
	}
	.light, .breadcrumbs span, .tag .tag-i{
		color: map-get($theme, primary-light);
	}
	.dark, .viewtext, .playwith a, .clinton,.card h3, .breadcrumbs a, .optionbox .radiobtn label, .formfield label, .tags p, .questionstatus .tab-content > ul > li p, .questionstatus .light, .saccount select ~ label, .savebox a:nth-child(2){ 
		color: map-get($theme, primary-dark);
	}
	.sec, .vs:after, .opponent, main h2 span, .invitationleft, .subscrib-cont p, .subs-bottom, .chancat, .tag, .popupbottom,.date, .signupfree, .avatarinput p, .saccount .formfield label + p, #file-name, .namefield .formfield > p{ 
		color: map-get($theme, secondary);
	}
	.tabbing li{
		color: map-get($theme, tab-text);
	}
	h1, .gameplay h1, .custom-file-upload{ 
		color: map-get($theme, heading);
	}
	h1 + p{ 
		color: map-get($theme, heading-alt);
	}
	.gameplay p{ 
		color: map-get($theme, heading-secondary);
	}
	.tabbing li.active, .form-group input:focus,.form-group input:valid{ 
		color: map-get($theme, active); 
	}
	.T-tagging{ 
		color: map-get($theme, tags);
	}
	.viewall, .viewcount, a.dark:hover,.gameplay p a, .loginlink a.forgot{ 
		color: map-get($theme, viewall);
	}
	.logininner .heading, .form-group .control-label, .logininner .formfield label, .logininner .withsocial h3{ 
		color: map-get($theme, login); 
	}
	.form-group input:focus ~ .control-label{
		color: map-get($theme, form-focus);
	}
	.loginlink a{ 
		color: map-get($theme, login-link);
	}
	.resubmit{
		color: map-get($theme, resubmit);
	}
	.blog-social{ 
		color: map-get($theme, blog-social);
	}
	.formfield select{ 
		color: map-get($theme, form-select); 
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: map-get($theme, placeholder);
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: map-get($theme, placeholder);
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: map-get($theme, placeholder);
	}
	:-moz-placeholder { /* Firefox 18- */
		color: map-get($theme, placeholder);
	}

	@media screen and ( min-width:1000px){
		.playwith a:hover, .viewall:hover, .blog .card:hover h2 a, .breadcrumbs a:hover, .chancat:hover{ 
			color: map-get($theme, hover-lg);
		}
		.tabbing li:hover, .tag:hover, .tag .tag-i:hover{ 
			color: map-get($theme, tag-hover-lg);
		}
		footer a:hover, .viewbublic:hover{ 
			color: map-get($theme, footer-hover-lg);
		}
		.resubmit:hover, .savebox a:nth-child(2):hover{
			color: map-get($theme, box-hover-lg);
		}
	}
}

@mixin theme-border-color($theme) {
	.card{ 
		border-color: map-get($theme, card);
	}
	.recentlygames li, .viewall, .navview #statis li, .navview #graph li, .blog-social, .time-stats, .pcategories > .col-sm-9, .tag, .btnbox, .form-group .bar, .questionstatus .tab-content > ul > li, nav .card{ 
		border-color: map-get($theme, default);
	}
	.viewall:after{ 
		border-color: map-get($theme, viewall-after);
	}
	#currentgame li .innerli{ 
		border-color: map-get($theme, currentgame-list);
	}
	.gameplay li, .questionstatus .tabbing li, .questionstatus .tabbing li.active,.viewbublic, .tag, .avatarimg, #file-name, .custom-file-upload, .expertise{ 
		border-color: map-get($theme, primary);
	}
	input[type="text"], input[type="email"], .submitpage textarea, .enterquestion .formfield > input, #currentgame li .innerli .yourimg, .invitationlist img, .categorybox img,.withfriends label .labelimg img, .saccount .formfield select, .subscrib-cont input[type="email"]{ 
		border-color: map-get($theme, input);
	}
	.viewall:hover{ 
		border-color: map-get($theme, hover);
	}
	.tabbing li.active{ 
		border-color: map-get($theme, active);
	}
	.h1block{ 
		border-color: map-get($theme, header-block);
	}
	.h1block:after{
		border-color: map-get($theme, header-block-after);
	}
	.optionbox .radiobtn label, .withfriends,.friendsslider .owl-prev,.friendsslider .owl-next, .formfield select{ 
		border-color: map-get($theme, form-options);
	}
	.question-list li input:checked ~ label:before, .optionbox .radiobtn label:after, .formfield input[type="checkbox"]:checked:after,.enterquestion .formfield input[type="radio"]:checked:after, .gameplay li:after{ 
		border-color: map-get($theme, form-options-label);
	}
	.skyblue h3:before{ 
		border-color: map-get($theme, skyblue-before);
	}
	.red h3:before{ 
		border-color: map-get($theme, red-before);
	}
	.green h3:before{ 
		border-color: map-get($theme, green-before);
	}
	.yellow h3:before{ 
		border-color: map-get($theme, yellow-before);
	}
	.orrange h3:before{ 
		border-color: map-get($theme, orange-before);
	}
	.bluegrey h3:before{ 
		border-color: map-get($theme, bluegrey-before);
	}
	.optionbox input:checked + label, .formfield input[type="checkbox"]:before,.enterquestion .formfield input[type="radio"]:before, .gameplay li:hover, .gameplay li.right{
		border-color: map-get($theme, form-checkbox);
	}
	.secondbg{ 
		border-color: map-get($theme, secondary);
		&:before {
			border-color: map-get($theme, secondary) transparent transparent transparent;
		}
		&:after {
			border-color: map-get($theme, secondary-after) transparent transparent transparent;
		}
	}
	.logininner .formfield input[type="checkbox"]:before, .gameplay li.wrong, .reasons{ 
		border-color: map-get($theme, login);
	}
	.timer .dots{ 
		border-color: map-get($theme, timer);
	}
	.optionbox input:checked + label:before, .gameplay li.right:before{ 
		border-top-color: map-get($theme, form-checkbox-checked);
		border-right-color: map-get($theme, form-checkbox-checked);
	}
	.gameplay li.wrong:before{ 
		border-top-color: map-get($theme, gameplay-wrong);
		border-right-color: map-get($theme, gameplay-wrong);
	}
	.submitpage textarea, .enterquestion .formfield > input{ 
		box-shadow: map-get($theme, input-box-shadow);
	}

	@media screen and ( min-width:1000px) {
		.categorybox{
			border-color: map-get($theme, categorybox-lg);
		}
		.withfriends .owl-prev:hover,.withfriends .owl-next:hover, .viewbublic:hover{ 
			border-color: map-get($theme, hover-lg);
		}
	}
}	
