@import './theme/theme';

$dark-theme-background : (
	primary: #1b2431,
	secondary: #273142,
	card: #273142,
	popup-container: #141c26,
	question-list-label: #fff,
	current-active: #141c26,
	playwith-after: #566784,
	overlay: radial-gradient(ellipse at center, #6d8ac6 1%,#3b5998 100%), 
	header: #3b5998,
	footer: #0b214f,
	li-hover: #e8e8e8,
	reasons: #ffe8e4,
	form-group: #4285f4,
	button-primary: #71b02f,
	button-important: #f50057,
	button-error: #d54937,
	button-warning: #efbf00,
	input: #384760,
	invitationlist-alt: #2d384a,
	subscribe-email: #384760,
	
	startgame-hover-lg: #e50051,
	button-hover-lg: #1f7b2b,
	button-error-hover-lg: #af3424,
	button-warning-lg: #d5aa00,
	viewpublic-hover-lg: #71b02f,

	nav-sm: #f1f2f2,
	invitationlist-list-sm: #2d384a,
);

$dark-theme-text-color : (
	primary: #fff,
	primary-light: #7f8fa4,
	primary-dark: #fff,
	secondary: #7c7c7c,
	header: #f1f2f2,
	footer: rgba(255,255,255,0.8),
	copyright: rgba(255,255,255,0.5),
	heading: #fff,
	heading-alt: #7f8fa4,
	heading-secondary: #7c7c7c,
	tab-text: rgba(255,255,255,0.6),
	btn-text: #fff,
	active: #fff,
	tags: #b09724,
	viewall: #5c697c,
	login: #fff,
	form-focus: #4285f4,
	form-select: #8995aa,
	login-link: #f50057,
	resubmit: #71b02f,
	placeholder: #b5b4b1,
	question-list-label: #263238,
	blog-social: #9b9b9b,
	
	hover-lg: #fff,
	tag-hover-lg: #424242,
	footer-hover-lg:#fff,
	box-hover-lg: #1f7b2b,
);

$dark-theme-border : (
	card: #313d4f,
	default: #313d4f,
	primary: #313d4f,
	viewall-after: #b8b8b8,
	currentgame-list: #313d4f,
	input:#384760,
	hover: #fff,
	active: #141c26,
	header-block: #373e46,
	header-block-after: #273142,
	form-options: #384760,
	form-options-label: #fff,
	skyblue-before:#01d5d8,  
	red-before:#ff2d55,
	green-before:#7ec856,  
	yellow-before: #C0CA33,
	orange-before: #FF3D00,
	bluegrey-before: #78909C,
	form-checkbox:#71b02f,
	secondary: #313d4f,
	secondary-after:#141c26,
	login: #d54937,
	timer: #10383d,
	form-checkbox-checked:#1f7b2b,
	gameplay-wrong:#af3424, 
	input-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.06),
	
	categorybox-lg: #354358,
	hover-lg: #71b02f,
);

@include apply-theme("dark", $dark-theme-background, $dark-theme-text-color, $dark-theme-border, 'sprite-dark.png')
