<a class="user card" *ngIf="user && user!=null" (click)="navigateToProfile()">
  <img *ngIf="!user?.profilePictureUrl" [attr.data-src]="defaultAvatar" alt="Default Profile Picture">
  <img *ngIf="user?.profilePictureUrl" [attr.data-src]="(user.profilePictureUrl === defaultAvatarSmall) ? defaultAvatar : user.profilePictureUrl" alt="User Profile Picture" />
  <span class="username">
    <span class="name">{{user.displayName}}</span>
    <span class="userlocation">
      <span class="sprite mapicon"></span>{{location}}</span>
  </span>
</a>