<md-card>
  <button md-fab class="page-action" [routerLink]="['add']">
    <md-icon class="md-24">add</md-icon>
  </button>

  <md-card-content>  
    <md-tab-group>
      <md-tab label="Published">
        <question-table
          [showSort]="false"
          [showPaginator]="false"
          [questions]="publishedQuestions"
          [totalCount]="10"
          [categoryDictionary]="categoryDictObs | async"
          [showApproveButton]="false">
        </question-table>
      </md-tab>
      <md-tab label="Pending">
        <question-table
          [showSort]="false"
          [showPaginator]="false"
          [questions]="unpublishedQuestions"
          [totalCount]="10"
          [categoryDictionary]="categoryDictObs | async"
          [showApproveButton]="false">
        </question-table>
      </md-tab>
    </md-tab-group>
  </md-card-content>    
</md-card>
