<div class="card statsview">
  <ul class="tabbing clearfix">
    <li class="active" data-tab="stats">Stats View</li>
    <li data-tab="graph">Graph View</li>
  </ul>
  <ul id="stats" class="tab-content active">
    <li>
      <a href="#">
        <div class="sprite playedicon"></div>
        <div class="viewtext">Game Played</div>
        <div class="viewcount align-right">18</div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sprite topicsicon"></div>
        <div class="viewtext">Topics</div>
        <div class="viewcount align-right">10</div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sprite winsicon"></div>
        <div class="viewtext">Wins</div>
        <div class="viewcount align-right">15</div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sprite badgesicon"></div>
        <div class="viewtext">Badges</div>
        <div class="viewcount align-right">02</div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sprite losessicon"></div>
        <div class="viewtext">Losess</div>
        <div class="viewcount align-right">01</div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sprite avgicon"></div>
        <div class="viewtext">Avg. answer time</div>
        <div class="viewcount align-right">09
          <div class="sec">sec</div>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sprite contributicon"></div>
        <div class="viewtext">Contribution</div>
        <div class="viewcount align-right">05</div>
      </a>
    </li>
  </ul>          

  <div id="graph" class="tab-content">
    <img style="display: block; margin:0 auto" src="/assets/images/chart.jpg" alt="chart" />          

  </div>

</div>
