<div class="innerli">
  <div class="T-tagging">PROG, NETW, UI/UX</div>
  {{game.gameId}}
  <div class="row">
    <ng-container *ngIf="game.gameOptions.playerMode == 0">
      <div class="col-xs-12 textcenter clearfix">
        <div class="yourimg">
          <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg">
        </div>
        <div class="clear"></div>
        <a href="#" class="dark">{{user.displayName}}</a>
        <div class="light" *ngIf="user?.location">{{user.location}}</div>
        <hr>
        <div class="light">Round {{getRound(user.userId)}}</div>
        <div class="dark">Score {{getScore(user.userId)}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="game.gameOptions.playerMode == 1">
      <div [ngClass]="{'col-xs-12 textcenter clearfix': game.playerIds.length===1,'col-xs-6': game.playerIds.length>1 }">
        <div class="yourimg" [ngClass]="{'vs': game.playerIds.length>1 }">
          <a href="#">
            <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg" />
          </a>
        </div>
        <a class="dark">{{user.displayName}}</a>
        <div class="light" *ngIf="user?.location">{{user.location}}</div>
        <hr>
        <div class="light">
          <span *ngIf="myTurn">Round {{getRound(user.userId)}}</span>
        </div>
        <div class="dark">Score {{getScore(user.userId)}}</div>

      </div>
      <div class="col-xs-6 clearfix" *ngIf="game.playerIds.length>1">
        <div class="yourimg floatright">
          <a href="#">
            <img *ngIf='game.playerIds.length>0' [src]="getOtherUserProfileUrl(game)" />
          </a>
        </div>
        <div class="clear"></div>
        <a href="#" class="dark">{{getOtherUserName(game)}}</a>
        <div class="light">{{getOtherUserLocation(game)}}</div>
        <hr>
        <div class="light">
          <span *ngIf="!myTurn">Round {{getRound(game.playerIds[1])}}</span>
        </div>
        <div class="dark">Score {{getScore(game.playerIds[1])}}</div>
      </div>
    </ng-container>
  </div>
  <a *ngIf="myTurn" [routerLink]="['/game-play', game.gameId]" class="playnow btn">
    <span>Your Turn</span>Play Now
  </a>
  <div *ngIf="!myTurn" class="opponent">Opponent’s Turn</div>
</div>