.textcenter.clearfix .yourimg { margin: 0 auto 16px; }
.innerli{ border:1px solid; border-radius: 4px; padding: 15px; display: block; }
.T-tagging{ font-size: 14px; text-transform: uppercase; letter-spacing: 1px}
.T-tagging{ margin-bottom: 15px;}
.innerli .yourimg{ width: 94%; max-width: 70px; border-radius: 50%; height: auto; /*box-shadow: 0 3px 7px rgba(0,0,0,0.25);*/ margin-bottom: 16px; border:1px solid; padding: 2px}
.yourimg img{ display: block; width: 70px; height: 60px; border-radius: 50% }
.vs:after{ content: "Vs"; position: absolute; right: -10px; top: 25px; font-size: 18px; font-family: 'hindmedium';height:25px; }
.light{font-family: 'hindmedium';}
.owl-item .col-md-3{ width: 100% }
.playnow{  margin-top: 3%; display: block !important; padding: 5px 0; line-height: 1.2}
.playnow span{ display: block; font-size: 12px; font-family: 'hindregular'}
.opponent{ line-height: 43px; height: 43px; margin-top: 18px;  text-align: center;}
hr{height:15px; visibility: hidden; margin: 0;}
.div-right-border
{
    border-right: 1px solid transparent; 
    text-align: left;
    border-color: rgba(204,204,204,0.44);
}
.div-left-border
{
    margin-left: -1px;
    border-left: 1px solid transparent;
    border-color: rgba(204,204,204,0.44);
}
.div-spacing
{
    padding-top: 5%
}
.div-width
{
    width: 50%;
    padding-left: 5%;
}
