<div class="innerli">
  <div class="T-tagging">{{categoryDict[game.gameOptions.categoryIds[randomCategoryId]].categoryName.charAt(0).toUpperCase() + categoryDict[game.gameOptions.categoryIds[randomCategoryId]].categoryName.slice(1)}}</div>
  <div class="row">
    <ng-container *ngIf="game.gameOptions.playerMode == 0">
      <div class="col-xs-12 textcenter clearfix">
        <div class="yourimg">
          <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg">
        </div>
        <div class="clear"></div>
        <a href="#" class="dark">{{user.displayName}}</a>
        <div class="light" *ngIf="user?.location">{{user.location}}</div>
        <hr>
        <div class="light">Round {{game.stats[user.userId].round}}</div>
        <div class="dark">Score {{game.stats[user.userId].score}}</div>
        <div class="">
          <div [ngClass]="game.stats[user.userId].score >= 1?'score1':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 2?'score2':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 3?'score3':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 4?'score4':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 5?'score5':'score0'" class="sprite"></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="game.gameOptions.playerMode == 1 && game.playerIds.length == 1">
      <div class="textcenter clearfix">
        <div class="col-xs-6 div-right-border">
          <div class="yourimg vs">
            <a href="#">
              <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg" />
            </a>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="yourimg ">
            <a href="#">
              <div class="sprite no-opponent"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="col-xs-6" [ngClass]="user.displayName?'div-right-border':''">
          <span class="dark">{{user.displayName}}</span>
        </div>
        <div class="col-xs-6 " [ngClass]="!user.displayName?'':'div-left-border'">
          <span class="light">No Opponent</span>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="col-xs-6 " [ngClass]="user?.location?'div-right-border':''">
          <span class="light" *ngIf="user?.location">{{user.location}}</span>
        </div>
        <div class="col-xs-6 " [ngClass]="!user?.location?'div-left-border':''">
          <span class="light">till now</span>
        </div>
      </div>
      <div class="textcenter clearfix ">
        <div class="col-xs-6 div-spacing" [ngClass]="myTurn?'div-right-border':''">
          <span class="light" *ngIf="myTurn">Round {{game.stats[user.userId].round}}</span>
        </div>
        <div class="col-xs-6  div-spacing" [ngClass]="myTurn?'':'div-left-border'">
          <span class="light" *ngIf="!myTurn"></span>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="col-xs-6 div-right-border">
          <div class="dark">Score {{game.stats[user.userId].score}}</div>
        </div>
        <div class="col-xs-6">
          <div class="dark"></div>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="div-width div-right-border" style="float:left">
          <div [ngClass]="game.stats[user.userId].score >= 1?'score1':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 2?'score2':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 3?'score3':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 4?'score4':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 5?'score5':'score0'" class="sprite"></div>
        </div>

        <div class="div-width " style="float:right">
          <div class="sprite score0"></div>
          <div class="sprite score0"></div>
          <div class="sprite score0"></div>
          <div class="sprite score0"></div>
          <div class="sprite score0"></div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="game.gameOptions.playerMode == 1 && game.playerIds.length > 1">
      <div class="textcenter clearfix">
        <div class="col-xs-6 div-right-border">
          <div class="yourimg " [ngClass]="{'vs': game.playerIds.length>1 }">
            <a href="#">
              <img *ngIf="user?.profilePictureUrl" [src]="user.profilePictureUrl" alt="yourimg" />
            </a>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="yourimg ">
            <a href="#">
              <img *ngIf="otherUserInfo?.profilePictureUrl" [src]="otherUserInfo.profilePictureUrl" />
            </a>
          </div>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="col-xs-6" [ngClass]="user.displayName?'div-right-border':''">
          <span class="dark">{{user.displayName}}</span>
        </div>
        <div class="col-xs-6 " [ngClass]="!user.displayName?'':'div-left-border'">
          <span class="dark">{{otherUserInfo?.displayName}}</span>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="col-xs-6 " [ngClass]="user?.location?'div-right-border':''">
          <span class="light" *ngIf="user?.location">{{user.location}}</span>
        </div>
        <div class="col-xs-6 " [ngClass]="!user?.location?'div-left-border':''">
          <span class="light">{{otherUserInfo?.location}}</span>
        </div>
      </div>
      <div class="textcenter clearfix ">
        <div class="col-xs-6 div-spacing" [ngClass]="myTurn?'div-right-border':''">
          <span class="light" *ngIf="myTurn">Round {{game.stats[user.userId].round}}</span>
        </div>
        <div class="col-xs-6  div-spacing" [ngClass]="myTurn?'':'div-left-border'">
          <span class="light" *ngIf="!myTurn">Round {{game.stats[otherUserId].round}}</span>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="col-xs-6 div-right-border">
          <div class="dark">Score {{game.stats[user.userId].score}}</div>
        </div>
        <div class="col-xs-6">
          <div class="dark">Score {{game.stats[otherUserId].score}}</div>
        </div>
      </div>
      <div class="textcenter clearfix">
        <div class="div-width div-right-border" style="float:left">
          <div [ngClass]="game.stats[user.userId].score >= 1?'score1':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 2?'score2':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 3?'score3':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 4?'score4':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[user.userId].score >= 5?'score5':'score0'" class="sprite"></div>
        </div>

        <div class="div-width" style="float:right">
          <div [ngClass]="game.stats[otherUserId].score >= 1?'score1':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[otherUserId].score >= 2?'score2':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[otherUserId].score >= 3?'score3':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[otherUserId].score >= 4?'score4':'score0'" class="sprite"></div>
          <div [ngClass]="game.stats[otherUserId].score >= 5?'score5':'score0'" class="sprite"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <a *ngIf="myTurn" [routerLink]="['/game-play', game.gameId]" class="playnow btn">
    <span>Your Turn</span>Play Now
  </a>
  <div *ngIf="myTurn" class="opponent">
    <p class="dark">{{remainingHours}}:{{remainingMinutes}} hrs</p>
    <p>remaining to play your turn</p>
  </div>

  <!-- <div *ngIf="!myTurn" class="opponent">Waiting for Opponent</div> -->
  <div *ngIf="!myTurn" class="opponent playnow">
    <button class="btn-share" type="button">Waiting for Opponent</button>
  </div>
</div>