<div class="innerli">
  <div class="T-tagging">PROG, NETW, UI/UX</div>
  {{game.gameId}}
  <div class="row">
    <ng-container *ngIf="game.gameOptions.playerMode == 0">
      <div class="col-xs-12 textcenter clearfix">
        <div class="yourimg">
          <img src="/assets/images/yourimg.png" alt="yourimg">
        </div>
        <div class="clear"></div>
        <a href="#" class="dark">You</a>
        <div class="light">Earth, Milky way</div>
        <hr>
        <div class="light">Round {{questionIndex}}</div>
        <div class="dark">Score {{correctAnswerCount}}</div>                    
      </div>
    </ng-container>
    <ng-container *ngIf="game.gameOptions.playerMode == 1">
    <div class="col-xs-6">
      <div class="yourimg vs">
        <a href="#"><img src="/assets/images/yourimg.png" alt="yourimg" /></a>
      </div>
      <a href="#" class="dark">You</a>
      <div class="light">Earth</div>
      <hr>
      <div class="light"><span *ngIf="myTurn">Round 2</span></div>
      <div class="dark">Score  10</div>                    

    </div>
    <div class="col-xs-6 clearfix">
      <div class="yourimg floatright">
        <a href="#"><img src="/assets/images/opponent.png" alt="Kaanishhk" /></a>
      </div>
      <div class="clear"></div>
      <a href="#" class="dark">Kaanishhk</a>
      <div class="light">hristol</div><hr>
      <div class="light"><span *ngIf="!myTurn">Round 2</span></div>
      <div class="dark">Score  07</div>
    </div>
    </ng-container>
  </div>
  <a *ngIf="myTurn" [routerLink]="['/game-play', game.gameId]" class="playnow btn">
    <span>Your Turn</span>Play Now
  </a>
  <div *ngIf="!myTurn" class="opponent">Opponent’s Turn</div>
</div>
