<div class="card recentlygames">
  <h2>Recently Completed Games</h2>
  <ul>
    <li *ngFor="let result of finalResult| slice:0:4; let i=index">
      <a href="#">
        <div class="sprite architicon" *ngIf="result.winnerPlayerId === user.userId"></div>
        <div class="sprite rogrammingicon" *ngIf="result.winnerPlayerId !== user.userId"></div>
        <div class="datebox">
          <div class="light">{{result.turnAt| date}}</div>
          <div class="dark">{{categoryDict[result._gameOptions.categoryIds[0]].categoryName.charAt(0).toUpperCase() + categoryDict[result._gameOptions.categoryIds[0]].categoryName.slice(1)}}</div>
        </div>
        <div class="scorebox align-right">
          <!-- <div class="light">Score 3</div> -->
          <div class="dark" *ngIf="result.winnerPlayerId === user.userId">Won</div>
          <div class="dark" *ngIf="result.winnerPlayerId !== user.userId">Lost</div>
        </div>
      </a>
    </li>
  </ul>
  <a class="viewall" href="#" title="view all">view all
    <span class="a-arrow"></span>
  </a>
</div>