<div class="card recentlygames">
  <h2>Recently Completed Games</h2>
  <ul>
    <li>
      <a href="#">
        <div class="sprite architicon"></div>
        <div class="datebox">
          <div class="light">Yesterday</div>
          <div class="dark">In Architecture</div>
        </div>
        <div class="scorebox align-right">
          <div class="light">Score 10</div>
          <div class="dark">Won</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="sprite rogrammingicon"></div>
        <div class="datebox">
          <div class="light">1st May, 2017</div>
          <div class="dark">In Programming</div>
        </div>
        <div class="scorebox align-right">
          <div class="light">Score 8</div>
          <div class="dark">Lost</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="sprite rogrammingicon"></div>
        <div class="datebox">
          <div class="light">3rd May, 2017</div>
          <div class="dark">In Architecture</div>
        </div>
        <div class="scorebox align-right">
          <div class="light">Score 6</div>
          <div class="dark">Lost</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="sprite architicon"></div>
        <div class="datebox">
          <div class="light">10th May, 2017</div>
          <div class="dark">In Database</div>
        </div>
        <div class="scorebox align-right">
          <div class="light">Score 10</div>
          <div class="dark">Won</div>
        </div>
      </a>
    </li>
  </ul>
  <a class="viewall" href="#" title="view all">view all<span class="a-arrow"></span></a>
</div>

