.dropdown-android {
    justify-content: space-between;
    margin: 7;
    border-width: 1;
    border-color: #dddddd;
    border-radius: 5;
}

.dropdown-ios{
    justify-content: space-between;
    padding: 12 15;
    margin: 7;
    border-width: 1;
    border-color: #dddddd;
    border-radius: 5; 
}

.filter-dropdown-mobile {
    font-size: 17px;
    border-color: transparent;
    border-width: 5;
    width: 100%;
    padding: 5 0;
}

.dropdown-arrow {
    margin: 5 5 0 0;
}

.profile-no {
    color: rgb(96, 125, 139);
    font-size: 16;
    margin-right: 10;
}

.login-user-hightlight {
  background-color: #f7f7f7;;
}

.question-answered{
    border-bottom-width: 1;
    border-bottom-color: #dddddd;
}

.score{
    font-weight: 500;
    font-size: 16;
    margin: 0 12;
    letter-spacing: 0.05;
}