md-card {
  margin: 15px;
}
.question-container {
  position: relative;
  width: 500px;
  min-width: 450px;
  min-height: 300px;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}
