<div *ngIf="blogId === 1" class="card">
  <a class="blogimg" target="_blank" rel="noopener" href="https://blog.realworldfullstack.io/real-world-app-part-14-faceted-search-with-elasticsearch-and-angular-material-data-table-d90ebaf2ee4b"><img src="https://cdn-images-1.medium.com/max/1000/1*UjNVXzmeURuyXInwvoTzqw.jpeg" alt="Real World Angular: Hiring" /></a>
  
  <div class="blog-cont">
    <div class="T-tagging">Elasticsearch, Angular Material</div>
    <h2><a href="#">Real World App: Faceted search with Elasticsearch and Angular Material data-table</a></h2>
    <p class="minimize">Using Elasticsearch aggregations for faceted search and Angular Material data-table for displaying the results</p>
  </div>
  <div class="blog-social">
    <div class="col-xs-5">
      <div class="commenticon sprite"></div>60
    </div>
    <div class="col-xs-5">
      <div class="viewicon sprite"></div>275
    </div>
    <div class="col-xs-2 align-right">
      <a href="#"><span class="shareicon sprite"></span></a>
    </div>
  </div>
</div>

<div *ngIf="blogId === 2" class="card">
  <a class="blogimg" target="_blank" rel="noopener" href="https://blog.realworldfullstack.io/real-world-app-part-13-elasticsearch-on-google-cloud-with-firebase-functions-8a24fa2b95ed"><img src="https://cdn-images-1.medium.com/max/800/1*MXkjC84TGDIW7tNYbB_e0A.jpeg" alt="Real World Angular - Part 9.1: More Unit Testing" /></a>
  
  <div class="blog-cont">
    <div class="T-tagging">Elasticsearch, Google Cloud, Firebase</div>
    <h2><a href="#">Real World App: Elasticsearch on Google Cloud with Firebase functions</a></h2>
    <p class="minimize">Set up and integrate Elasticsearch with Cloud Functions for Firebase using nginx</p>
  </div>
  <div class="blog-social">
    <div class="col-xs-5">
      <div class="commenticon sprite"></div>71
    </div>
    <div class="col-xs-5">
      <div class="viewicon sprite"></div>1,399
    </div>
    <div class="col-xs-2 align-right">
      <a href="#"><span class="shareicon sprite"></span></a>
    </div>
  </div>
</div>

<div *ngIf="blogId === 3" class="card">
  <a class="blogimg" target="_blank" rel="noopener" href="https://blog.realworldfullstack.io/real-world-app-part-12-cloud-functions-for-firebase-8359787e26f3"><img src="https://cdn-images-1.medium.com/max/800/1*K1Lw_ICO3c8KpWkTw7Hd0A.jpeg" alt="Real World Angular -Part 6.1: Upgrading to 4.0.0-rc.2" /></a>
  
  <div class="blog-cont">
    <div class="T-tagging">Firebase, Cloud Functions</div>
    <h2><a href="#">Real World App: Cloud functions for Firebase</a></h2>
    <p class="minimize">Serverless Architecture and Google Cloud Functions for Firebase</p>
  </div>
  <div class="blog-social">
    <div class="col-xs-5">
      <div class="commenticon sprite"></div>56
    </div>
    <div class="col-xs-5">
      <div class="viewicon sprite"></div>3,678
    </div>
    <div class="col-xs-2 align-right">
      <a href="#"><span class="shareicon sprite"></span></a>
    </div>
  </div>
</div>
