<!-- My setting -->
<div class="mainpage submitpage mysetting" *ngIf="user">
  <div class="row hidden-xs">
    <div class="pageheading col-sm-6 col-xs-12">My Settings</div>
  </div>
  <section id="curentactive" class="card">
    <div class="h1block">
      <h1>My Settings</h1>
      <p>Control You profile information, both what is says and what other people see</p>
    </div>
    <div class="optionbox">
      <!-- Prefered Categories -->
      <div class="pcategories row">
        <div class="col-sm-6 col-xs-12">
          <h2>
            <span>{{user.displayName}}</span>
          </h2>
        </div>
        <div class=" col-sm-6 col-xs-12 textrigth ">
          <a href="#" class="viewbublic">view my public profile</a>
        </div>
      </div>
      <!-- Prefered Categories end -->
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm" novalidate>
      <!-- Profile pik -->
      <div class="enterquestion secondbg">
        <div class="optionbox">
          <h3>Upload Avatar :-</h3>
          <!-- Upload avatar -->
          <div class="row">
            <!--  <div class="col-sm-3 col-xs-12">
                <div class="avatarimg">
                  <img src="images/avatarimg.jpg"  alt="Avatar" />
                </div>
              </div> -->
            <div class="col-sm-3 col-xs-12">
              <label for="file-upload" class="custom-file-upload">
                <img [src]="data.image" [width]="croppedWidth" [height]="croppedHeight" style="width:150px;height:140px" alt="Avatar" />
              </label>
              <div>
                <button class="btn" (click)="saveProfileImage()">Save</button>
              </div>
            </div>
            <div class="col-sm-9 col-xs-12 avatarinput">
              <div>
                <input id="file-upload" name='upload_cont_img' type="file" (change)="fileChangeListener($event)" style="display:none;">
                <!-- <label id="file-name">add tags</label> -->
              </div>
              <!--- <p>Once Uploaded, You can adjust the cropped image Recommed an image 263 px or larger. Allowed formats: jpeg,
                gif and png</p> -->
              <div>
                <div class="file-upload">
                  <!-- <span class="text">upload</span> -->
                  <!-- <input id="custom-input" type="file" (change)="fileChangeListener($event)"> -->
                </div>
                <img-cropper *ngIf="file" #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                <br>
                <!-- <span class="result rounded" *ngIf="data.image">
                  <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                </span> -->
                <!-- <img-cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper> -->
                <!-- <span class="result" *ngIf="data1.image"> -->
                <!-- <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight" style="width:150px;height:140px"> {{data1.image.length}} -->
                <!-- </span> -->
              </div>
            </div>
          </div>
          <div class="clearfix namefield">
            <!-- 
            <div class="formfield">
              <label>Name</label>
              <input matInput formControlName="questionText" placeholder="Enter Name" type="text" value="" required="">
              <p>Enter your real name, so people you know and recogize you</p>
            </div> -->

            <div class="formfield">
              <label>Name</label>
              <input formControlName="name" type="text" placeholder="Enter Name" class="required">
              <p>Enter your real name, so people you know and recogize you</p>
              <p *ngIf="userForm.controls.name.errors && !userForm.controls.name.pristine">Name is required!</p>
            </div>



            <div class="formfield">
              <label>Display Name</label>
              <input formControlName="displayName" placeholder="Enter Display Name" type="text" class="required">
              <p *ngIf="userForm.controls.displayName.errors && !userForm.controls.displayName.pristine" class="error">Display Name is required!</p>
            </div>



            <div class="formfield">
              <label>Location</label>
              <input formControlName="location" placeholder="Enter Location" type="text" class="required">
              <p>Where in the world you are</p>
              <p *ngIf="userForm.controls.location.errors && !userForm.controls.location.pristine" class="error">Location is required!</p>
            </div>

          </div>
          <!-- Upload avatar end -->

          <!-- Categories -->
          <div class="row pcategories">
            <div class="col-sm-3">
              <h3>Categories</h3>
            </div>
            <div class="col-sm-9" formArrayName="categoryList">
              <div class="formfield" *ngFor="let category of categoryList.controls; let i=index" [formGroupName]="i">
                <label>
                  <input formControlName="isSelected" type="checkbox" name="">{{categoryDict[category.value['category']].categoryName}}
                </label>
              </div>
              <div class="tags">
                <p>Tags associated categories</p>
                <div data-tags-input-name="tag" id="tagBox">
                  Social, Unity
                </div>
              </div>
            </div>
          </div>
          <!-- Categories end -->


          <!-- Social Accounts -->
          <div class="row pcategories saccount">
            <div class="col-sm-3">
              <h3>Social Accounts </h3>
            </div>
            <div class="col-md-6 col-sm-9">
              <div class="formfield">
                <input formControlName="facebookUrl" placeholder="Facebook">
              </div>

              <div class="formfield">
                <input formControlName="twitterUrl" placeholder="Twitter">
              </div>

              <div class="formfield">
                <input formControlName="linkedInUrl" placeholder="Linkedin">
              </div>

            </div>

            <div class="col-xs-12">

              <div class="row">
                <!-- Security Setting -->
                <div class="col-sm-3">
                  <h3>Security Setting </h3>
                </div>
                <div class="col-md-6 col-sm-9">
                  <div class="formfield">
                    <label>Profile:</label>
                    <select placeholder="Select Profile" formControlName="profileSetting">
                      <option *ngFor="let profileOption of profileOptions" [value]="profileOption">
                        {{profileOption}}
                      </option>
                    </select>
                  </div>

                  <div class="formfield">
                    <label>Location:</label>
                    <select placeholder="Select Location" formControlName="profileLocationSetting">
                      <option *ngFor="let profileOption of profileOptions" [value]="profileOption">
                        {{profileOption}}
                      </option>
                    </select>
                  </div>

                  <div class="formfield">
                    <label>Privacy:</label>
                    <label>
                      <input formControlName="privateProfileSetting" type="checkbox"> Keep your profile activity private
                    </label>
                    <p>This means no one can invite you or can see you profile.</p>
                  </div>

                  <!-- Security Setting end -->
                </div>
              </div>
            </div>

          </div>
          <!-- Social Accounts end -->

        </div>
      </div>
      <!-- Profile pik end -->
      <div class="savebox">
        <button type="submit" [disabled]="!userForm.valid" class="btn startg">Save</button>
        <button class="btn">Cancel</button>
      </div>
    </form>




  </section>


</div>
<!-- My setting end -->