<div class="card gameplay" *ngIf="question">
  <div class="rocateicon">
    <img src="../../../assets/images/dark-owl.png">
  </div>
  <div class="question-cont">
    <h2>Question of the day!</h2>
    <render-question [question]="question" ></render-question>   
    <div class="question-list col-sm-12">
      <div class="col-xs-12">
        <ul id="list">
          <li class="col-sm-5 col-xs-12 item" *ngFor="let answer of question.answers|slice:0:2;" (click)="answerButtonClicked(answer)"
            [class.players-answer]="answeredText === answer.answerText" [class.wrong]="answeredText === answer.answerText && correctAnswerText !== answer.answerText"
            [class.right]="answeredText !== '' && correctAnswerText === answer.answerText" [class.question-answered]="answeredText!==''">
            <render-answer [answer]="answer"></render-answer>
          </li>
        </ul>
      </div>
      <div class="col-xs-12">
        <ul>
          <li class="col-sm-5 col-xs-12" *ngFor="let answer of question.answers|slice:2:4;" (click)="answerButtonClicked(answer)"
            [class.players-answer]="answeredText === answer.answerText" [class.wrong]="answeredText === answer.answerText && correctAnswerText !== answer.answerText"
            [class.right]="answeredText !== '' && correctAnswerText === answer.answerText" [class.question-answered]="answeredText!==''">
            <render-answer [answer]="answer"></render-answer>
          </li>
        </ul>
      </div>
      <div class=" col-xs-12">
        <div class="col-sm-6 col-xs-12 ellipsis question-tags" title=" {{question.tags?.toString()}}">
          Tags :
          <span>{{question.tags?.toString()}}</span>
        </div>
        <div class="col-sm-6 col-xs-12 alignment">
          <author [userDict]="userDict" [isGamePlay]= false [userId]="question.created_uid"></author>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-sm-6 col-xs-12">
          <a class="btn" (click)="getNextQuestion()" *ngIf="answeredText!==''">Try Another</a>
        </div>
      </div>
    </div>
  </div>
</div>