.privacy-policy h2{
    font-size: 1.71429em;
    font-style: inherit;
    line-height: 1.16667;
    font-weight: 500;
    letter-spacing: -0.01em;    
}

.privacy-policy p{
    font-size: 16px;
    font-weight: 400;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 10px 0 0 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.privacy-policy ul{
    margin: 10px 0 0 0;
    list-style: disc;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
