.friend-list{
  border-color:#fff #fff #E8E8E8 #fff;
  border-width: 0 0 2 0;
  padding:15 0 15 10;
  font-size: 16;
}

.won{
  font-size: 16;
  color: #212121;
  font-weight: bold;
}

.played{
  font-size: 16;
  color: #212121;
  font-weight: bold;
}

.name{
  color: #927c7c;
}

.h-label{
  padding:20 0 20 10;
  font-size: 15px;
  color: #212121;
}

.fab-button1 {
	height: 50;
	width: 50; /// this is required on iOS - Android does not require width so you might need to adjust styles
	margin: 15;
	background-color: #f50057;
	horizontal-align: right;
	vertical-align: bottom;
}