<ns-action-bar title="Friends" class="SF-Pro-Regular" hideHomeIcon="true" showAdd="true"></ns-action-bar>
<GridLayout class="main-container" rows="auto,*" columns="*" *ngIf="renderView">
    <GridLayout marginLeft="10" row="0" rows="*" columns="*,50,70" class="h-label">
        <Label class="SF-Pro-Regular" text="Profile" row="0" col="0"></Label>
        <Label class="SF-Pro-Regular" text="Won" row="0" col="1"></Label>
        <Label class="SF-Pro-Regular" text="Played" row="0" col="2"></Label>
        <!-- <Label class="SF-Pro-Regular" text="Lost" row="0" col="3"></Label> -->
    </GridLayout>
    <GridLayout row="1" tkExampleTitle tkToggleNavButton>
        <RadListView [items]="uFriends">
            <ng-template tkListItemTemplate let-row="item">
                <GridLayout rows="*" columns="*,50,70" class="friend-list">
                    <StackLayout row="0" col="0">
                        <app-user-card *ngIf="row?.userId" [userId]="row.userId" [type]="userCardType.USER_IMAGE_NAME_HORIZONTAL">
                        </app-user-card>
                    </StackLayout>
                    <Label class="won" textAlignment="left" verticalAlignment="top"
                    [text]="row && row.wins ? row.wins : '0'" row="0" col="1"></Label>
                    <Label class="played" textAlignment="left" verticalAlignment="top"
                        [text]="row && row.gamePlayed ? row.gamePlayed : '0'" row="0" col="2"></Label>
                    <!-- <Label class="name SF-Pro-Regular" verticalAlignment="center" textAlignment="center" *ngIf="!row?.gamePlayed"
                        text="0" row="0" col="1"></Label> -->
                    <!-- <Label class="won SF-Pro-Regular" verticalAlignment="center" textAlignment="center" *ngIf="!row?.wins"
                        text="0" row="0" col="2"></Label> -->
                    <!-- <Label class="lost SF-Pro-Regular" verticalAlignment="center" textAlignment="center" *ngIf="row?.losses"
                        [text]="row?.losses" row="0" col="3"></Label> -->
                    <!-- <Label class="lost SF-Pro-Regular" verticalAlignment="center" textAlignment="center" *ngIf="!row?.losses"
                        [text]="0" row="0" col="3"></Label> -->
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</GridLayout>