md-card {
  width: 100%;
  height: 100%;
}
.answer-button {
  text-align: left;
  width: 95%;
}
.answered {
  border: 4px solid red;
}
.correct {
  border: 4px solid green;
}
.correct-text {
  color: green;
  font-size: 2 em;
}
.timeout-text, .incorrect-text {
  color: red;
  font-size: 2 em;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  //background-color: lightgrey;
}