<div class="cd-popup gameplay" id="0" role="alert">
  <div class="cd-popup-container">
    <div class="row">
      <div class="col-sm-3">
        <span class="col-sm-12 light badge-heading">BADGES</span>
        <ng-template *ngIf="game?.gameOptions.isBadgeWithCategory; else showBadge" ngFor let-i="index"  let-badge [ngForOf]="[0,1,2,3,4]" >
          <div class="sprite {{applicationSettings?.badges[earnedBadges[badge]]?.class ? applicationSettings?.badges[earnedBadges[badge]]?.class : 'score0'}}"></div>
        </ng-template>
        <ng-template #showBadge >
          <div [ngClass]="correctCount < 1?'score0':'score1'" class="sprite"></div>
          <div [ngClass]="correctCount < 2?'score0':'score2'" class="sprite"></div>
          <div [ngClass]="correctCount < 3?'score0':'score3'" class="sprite"></div>
          <div [ngClass]="correctCount < 4?'score0':'score4'" class="sprite"></div>
          <div [ngClass]="correctCount < 5?'score0':'score5'" class="sprite"></div>
        </ng-template>
      </div>
      <div class="col-sm-6 category-div-spacing" >
        <div class="col-sm-12">
          <h1>{{categoryName}}</h1>
        </div>
        <div class="col-sm-12" *ngIf="otherPlayer?.displayName">
          <p>Playing with
            <a>{{otherPlayer?.displayName}}</a>
          </p>
        </div>  
       <div class="col-sm-12 textcenter pb-4">
          <span class="light">Round {{questionRound}} / {{totalRound}}</span>
        </div>
        <div class="answer-status" [ngClass]="continueNext ? '' : 'ptb-10'">
            <div [hidden]="!continueNext">
                <p [hidden]="correctAnswerIndex !== answeredIndex" class="correct-text">CORRECT</p>
                <p [hidden]="!(answeredIndex >= 0 && correctAnswerIndex !== answeredIndex)" class="incorrect-text">INCORRECT</p>
                <p [hidden]="answeredIndex !== null && answeredIndex !== undefined" class="timeout-text">TIMEOUT</p>
            </div>
        </div> 
      </div>
      <div class="col-sm-3" [ngClass]="otherPlayer?.displayName ? 'pb-40' : 'pb-20'">
        <div class="timer">
          <svg class="rotate" viewbox="10 10 55 55">
            <path id="loader" #loader transform="translate(25, 25)" />
          </svg>
          <div class="dots">
            <span class="time deg0"></span>
            <span class="time deg90"></span>
          </div>
        </div>
      </div>
      <div *ngIf="turnFlag && threeConsecutiveAnswer" class="col-xs-12 turn-change-reason">
        <span>You have reached the maximum number of correct answers you are allowed to give in the first round.</span>
      </div>
    </div>

    <ng-container>
      <div class="row secondbg">
        <h2>
          <render-question [question]="question" [questionIndex]="questionIndex"></render-question> 
        </h2>
        <ul>
          <li *ngFor="let answer of question.answers; let i=index" (click)="answerButtonClicked(answer, i)"
            [class.question-answered]="answeredIndex >= 0 || continueNext" [class.players-answer]="answeredIndex === i"
            [class.wrong]="answeredIndex === i && correctAnswerIndex !== i" [class.right]=" correctAnswerIndex === i">
              <render-answer [answer]="answer"></render-answer>
          </li>
        </ul>
        <div class=" col-sm-12 col-xs-12">
          <div class=" col-sm-12 col-xs-12 alignment authorPadding">
            <author [isGamePlay]="true" [userId]="question.created_uid"></author>
          </div>
        </div>
      </div>
      <div class="popupbottom">
        <div class="col-md-8 col-xs-8 question-tag question-tag-space">
          Tags : {{question.tags?.toString()}}
        </div>
        <div class="col-md-2 col-xs-2">
          <user-reaction *ngIf="(user && question && showContinueBtn) || answeredIndex>=0 || doPlay === false" [user]='user' [question]='question'></user-reaction>
        </div>
        <div class="col-md-2 col-xs-2 continue-btn-div">  
          <button mat-button *ngIf="!gameOver && (answeredIndex>=0 || doPlay === false)" (click)="continueButtonClicked($event)" class="startgame continue-btn">
            Next Round
            <span *ngIf="showLoader" class="loader"></span> </button>
          <button mat-button  *ngIf="gameOver" (click)="gameOverButtonClicked.emit($event)" class="startgame continue-btn">Next Round</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<mat-card *ngIf="false" class="flex-item" class="game-question">
  <mat-card-title fxLayout="row">
    <div>{{questionIndex}}. {{question.questionText}}</div>
    <div fxFlex></div>
    <div [ngClass]="{abouttoexpire: timer <= 5}">{{timer}}</div>
  </mat-card-title>
  <mat-card-header>
    <mat-card-subtitle>
      {{categoryName}}:
      <span *ngFor="let tag of question.tags">
        #{{tag}}
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item *ngFor="let answer of question.answers; let i=index">
        <button mat-button color="primary" (click)="answerButtonClicked(answer, i)" class="answer-button" [disabled]="answeredIndex >= 0"
          [ngClass]="{answered: answeredIndex === i, correct: correctAnswerIndex === i}">{{answer.answerText}}</button>

      </mat-list-item>
    </mat-list>
  </mat-card-content>
  {{correctAnswerIndex}}
  <mat-card-footer *ngIf="!(correctAnswerIndex === null || correctAnswerIndex === undefined)" fxLayout="row"
    fxLayoutAlign="space-between center">
    <button mat-button>SHARE</button>
    <div fxFlexAlign="center">
      <span [hidden]="correctAnswerIndex !== answeredIndex" class="correct-text">CORRECT</span>
      <span [hidden]="!(answeredIndex >= 0 && correctAnswerIndex !== answeredIndex)" class="incorrect-text">INCORRECT</span>
      <span [hidden]="answeredIndex !== null && answeredIndex !== undefined" class="timeout-text">TIMEOUT</span>
    </div>
    <button mat-button (click)="okClick.emit($event)">OK</button>
  </mat-card-footer>
</mat-card>