<GridLayout>
  <ScrollView id="scrollList">
    <StackLayout marginLeft="10" marginRight="10" [class.m-b-70]="showContinueBtn || ((answeredIndex>=0 || doPlay === false) && !showContinueBtn)" backgroundColor="#ffffff">
      <GridLayout *ngIf="user && user!==null && playerMode == PlayerMode.Single" rows="*,*,*,*" columns="*,*"
        class="sideStackLayoutHeader" paddingTop="10" paddingBottom="10">
        <app-user-card [user]="user" [userId]="user.userId" [isGamePlay]=true
          [type]="userCardType.USER_IMAGE_NAME_WITH_SCORE_IN_GAME_PLAY_SINGLE_PLAYER"
          [otherInfo]="{bits: account.bits, bytes:account.bytes, progressValue: progressValue, correctCount:correctCount,questionRound:questionRound,totalRound:totalRound,actionText:actionText }">
        </app-user-card>
      </GridLayout>
      <GridLayout *ngIf="user && user!==null && playerMode == PlayerMode.Opponent" rows="*,*,*" columns="*"
        class="sideStackLayoutHeader" paddingTop="10">
        <app-user-card [user]="user" [userId]="user.userId" [isGamePlay]=true
          [type]="userCardType.USER_IMAGE_NAME_WITH_SCORE_IN_GAME_PLAY_TWO_PLAYER"
          [otherInfo]="{progressValue: progressValue, correctCount:correctCount,questionRound:questionRound,totalRound:totalRound,otherPlayer:otherPlayer}">
        </app-user-card>
      </GridLayout>
      <Label visibility="{{ turnFlag && threeConsecutiveAnswer ? 'visible'  : 'collapsed'}}" class="Roboto-Regular"
        fontSize="17" marginLeft="15" color="#af3424"
        text="You have reached the maximum number of correct answers you are allowed to give in the first round."
        textWrap="true"></Label>
      <!-- <Label
            visibility="{{ (answeredIndex!==undefined && correctAnswerIndex === answeredIndex)  ? 'visible'  : 'collapsed' }}"
            class="correct-text" text="CORRECT" textWrap="true" style.textAlignment="center"></Label>

        <Label
            visibility="{{(answeredIndex!==undefined && correctAnswerIndex !== answeredIndex) ? 'visible'  : 'collapsed' }}"
            class="incorrect-text" text="INCORRECT" textWrap="true"
            style.textAlignment="center"></Label> -->

      <Label *ngIf="continueNext" visibility="{{ answeredIndex===undefined  ? 'visible'  : 'collapsed' }}"
        class="timeout-text" text="TIMEOUT" textWrap="true" style.textAlignment="center"></Label>
      <render-box [setBackgroundColor]="'#f7f7f7'">
        <StackLayout padding="20 10">
          <render-question [question]="question" [questionIndex]="questionIndex"></render-question>
          <StackLayout margin="15 0 10 0" orientation="horizontal">
            <Label text="Categories:" class="Roboto-Medium" marginRight="5" fontSize="15" textWrap="true"></Label>
            <Label text="{{categoryName}}" class="Roboto-Regular" fontSize="15" textWrap="true" color="#1b1c1c"></Label>
          </StackLayout>
          <FlexboxLayout *ngIf="question && question.tags" margin="7 0 7 -2.5" flexWrap="wrap">
            <StackLayout *ngFor="let tags of question.tags, let i = index">
              <Label [style.backgroundColor]="theme === 'dark' ? '#405177':'#e2e2e2'"
                [style.color]="theme === 'dark' ? '#a5a5a5' : '#808080'" borderRadius="22" margin="2.5 2.5"
                [text]="tags" padding="5 10" textWrap="true"></Label>
            </StackLayout>
            <GridLayout marginTop="15" marginLeft="2.5">
              <Label [style.color]="theme === 'dark' ? '#a5a5a5' : '#000000'" fontSize="17" text="choose any one"
                textWrap="true"></Label>
            </GridLayout>
          </FlexboxLayout>
          <StackLayout #renderView *ngIf="question">
            <StackLayout class="question-answered Hind-Medium" margin="10 0 10 0"
              *ngFor="let answer of question.answers;let i=index" [class.players-answer]="answeredIndex === i"
              [class.wrong]="answeredIndex === i && correctAnswerIndex !== i" [class.right]="correctAnswerIndex === i"
              stlRippleEffect (rippleTap)="answerButtonClicked(answer,i)" [isUserInteractionEnabled]="doPlay"
              borderColor="#a5a5a5" borderWidth="1" borderRadius="2"
              [style.backgroundColor]="answeredIndex === i && correctAnswerIndex !== i ? '#d54937' : ''"
              [style.backgroundColor]="correctAnswerIndex === i ? '#71b02f' : ''">

              <render-answer [answer]="answer" [isWrong]="answeredIndex === i && correctAnswerIndex !== i"
                [isRight]="correctAnswerIndex === i" [doPlay]="doPlay" [isUserInteractionEnabled]="doPlay"
                [isGameAnswer]="true"></render-answer>
            </StackLayout>
          </StackLayout>
          <StackLayout orientation="horizontal" horizontalAlignment="left">
            <author *ngIf="question" [isGamePlay]=true [userId]="question.created_uid"></author>
          </StackLayout>
          <StackLayout orientation="horizontal" horizontalAlignment="center">
            <user-reaction *ngIf="user && question && showContinueBtn" [user]='user' [question]='question'>
            </user-reaction>
          </StackLayout>
        </StackLayout>
      </render-box>
    </StackLayout>
  </ScrollView>
  <AbsoluteLayout backgroundColor="#ffffff" verticalAlignment="bottom">
    <StackLayout width="100%" *ngIf="showContinueBtn || ((answeredIndex>=0 || doPlay === false) && !showContinueBtn)">
      <Button class="Hind-Medium btn-transparent" (rippleTap)="continueClicked.emit($event)"
        *ngIf="answeredText!== null && showContinueBtn" text="Next Round"  stlRippleEffect></Button>
      <FlexboxLayout *ngIf="(answeredIndex>=0 || doPlay === false) && !showContinueBtn" alignItems="center"
        orientation="horizontal" justifyContent="center" backgroundColor="#c0c0c0" class="Hind-Medium" width="100%"
        height="70">
        <Label verticalAlignment="center" text="SAVING GAME STAT" color="#ffffff"></Label>
        <ActivityIndicator marginLeft="10" verticalAlignment="center" color="gray" ios:width="25" ios:height="25"
          android:width="25" android:height="25" busy="true" class="activity-indicator">
        </ActivityIndicator>
      </FlexboxLayout>
    </StackLayout>
  </AbsoluteLayout>
</GridLayout>
