<!-- <mat-card class="flex-container" 
          fxLayoutWrap="wrap"
          fxLayout="row"
          fxLayoutAlign="center" fxLayoutAlign.xs="start">
  <mat-card-content >
    Invite Friends Component
  </mat-card-content>
</mat-card> -->
<div>
  <div class="row">
    <div class="pageheading col-md-9 col-xs-12 hidden-xs">FRIEND LIST</div>
    <div class="col-md-3 col-xs-6 align-right">
      <button class="btn startupload" (click)="inviteMoreFriend()"> Invite More Friends </button>
      <!-- <a [routerLink]="['./upload']" class="pageheading startupload font-size-16">Start New Bulk Upload</a> -->
    </div>
  </div>
  <section class="card">
    Invite Friends Component
  </section>
</div>