<md-card class="flex-item" class="game-question-continue">
    <md-card-title fxLayout="row">
      <div >{{question.questionText}}</div>
      <div fxFlex></div>
      <div></div>
    </md-card-title>
  <md-card-header>
    <md-card-subtitle>
      {{categoryName}}:
      <span *ngFor="let tag of question.tags">
       #{{tag}}
      </span>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content fxLayoutAlign="center center">
    <button md-button (click)="continueClicked.emit($event)">CONTINUE</button>
  </md-card-content>

  <md-card-footer fxLayout="row" fxLayoutAlign="space-between center">
    <button md-button (click)="viewQuestionClicked.emit($event)">VIEW QUESTION</button>
    <div fxFlexAlign="center"></div>
    <button md-button>CLOSE</button>
  </md-card-footer>
</md-card>
 