<mat-card>
  <mat-card-title>Questions</mat-card-title>
  <mat-card-content>    

  <mat-tab-group>
    <mat-tab label="Published">
      <question-search [questionsSearchResults]="(questionsSearchResultsObs | async)" 
                    [categoryDictionary]="categoryDictObs | async"
                    (onPageChanged)="pageChanged($event)"
                    (onCategoryChanged)="categoryChanged($event)"
                    (onTagChanged)="tagChanged($event)"
                    (onSortOrderChanged)="sortOrderChanged($event)"
                    class="flex-container" 
                    fxLayoutWrap="wrap"
                    fxLayout="row"
                    fxLayoutAlign="center" fxLayoutAlign.xs="start">
      </question-search>
    </mat-tab>
    <mat-tab label="Unpublished">
      <question-list [questions]="unpublishedQuestionsObs | async" 
                    [categoryDictionary]="categoryDictObs | async"
                    [showApproveButton]="true"
                    (approveClicked)="approveQuestion($event)"
                    class="flex-container" 
                    fxLayoutWrap="wrap"
                    fxLayout="row"
                    fxLayoutAlign="center" fxLayoutAlign.xs="start">
      </question-list>
    </mat-tab>
  </mat-tab-group>

  </mat-card-content>    
</mat-card>
