<div *ngIf="questions && categoryAggregation && tagsCount" class="question-table-form">
<div fxLayout="row" fxLayoutAlign="space-between">
  <div class="filter-facet-column" fxLayout="column">
    <md-list dense>
      <h3 mdSubheader>Categories</h3>
      <md-list-item *ngFor="let category of categoriesObs | async">
        <md-checkbox 
          [disabled]="!categoryAggregation.hasOwnProperty(category.id) || categoryAggregation[category.id] === 0"
          [value]="category.id"
          (change)="categoryChanged($event, category)"
        >
          {{category.categoryName}} ({{categoryAggregation.hasOwnProperty(category.id) ? categoryAggregation[category.id] : 0}})
        </md-checkbox>
      </md-list-item>
      <md-divider></md-divider>

      <h3 mdSubheader>Tags</h3>
      <md-list-item *ngFor="let tagCount of tagsCount">
        <md-checkbox 
          [checked]="tagsChecked[tagCount.tag]"
          (change)="tagChanged($event, tagCount.tag)">{{tagCount.tag}} ({{tagCount.count}})</md-checkbox>
      </md-list-item>
      <md-input-container>
        <input mdInput placeholder="Enter Tag">
      </md-input-container>
      <md-divider></md-divider>

      <h3 mdSubheader>Status</h3>
      <md-divider></md-divider>
      
      <h3 mdSubheader>Updated By</h3>
      <md-divider></md-divider>
      
      <h3 mdSubheader>Created By</h3>
      <md-divider></md-divider>
      
      <h3 mdSubheader>Updated On</h3>
      <md-divider></md-divider>
      
      <h3 mdSubheader>Created By</h3>
    </md-list>    
  </div>

  <div class="example-container mat-elevation-z8">
    
    <question-table
      [showSort]="true"
      [showPaginator]="true"
      [questions]="questions"
      [totalCount]="totalCount"
      [categoryDictionary]="categoryDictionary"
      [showApproveButton]="false"
      (onApproveClicked)="approveClicked($event)"
      (onPageChanged)="pageChanged($event)"
      (onSortOrderChanged)="sortOrderChanged($event)">
    </question-table>
  </div>

</div>
</div>
