<ns-action-bar title="User Profile" class="Roboto-Regular" showAdd="true"></ns-action-bar>
<StackLayout>
  <ScrollView *ngIf="user">
    <StackLayout  class="profile-settings Roboto-Regular">
      <StackLayout class="input-field ">
        <AbsoluteLayout>
          <Image [src]="userProfileImageUrl" backgroundColor="gray" stretch="aspectFill" height="110" width="110"
            left="130" right="130" top="10" verticalAlignment="center" borderRadius="55" ></Image>
        </AbsoluteLayout>
      </StackLayout>

      <StackLayout class="input-field">

        <Label [text]="user.displayName" class="input title" textWrap="true"></Label>
        <Label [text]="user.name" class="input title" textWrap="true"></Label>
        <Label [text]="user.location" class="input title" textWrap="true"></Label>
        
      </StackLayout>
      <CardView margin="5" android:elevation="20" ios:elevation="40" radius="15" class="gameplay">
        <StackLayout class="cardStyle" orientation="vertical" verticalAlignment="center" backgroundColor="#ffffff" height="100%" padding="0" margin="10">
        <StackLayout marginTop="10">
          <GridLayout rows="*,*,*,*,*,*" columns="auto,*,auto" marginTop="10">
              <Label text="Game Played" row="0" col="0" class="padding-5 text-black Hind-Bold" fontSize="16" verticalAlignment="center" ></Label>
              <GridLayout  row="0" col="2" rows="*, *" columns="*" class="padding-10">
                  <Label [text]="user?.account?.gamePlayed" row="0" col="0" class="text-black" fontSize="16"></Label>
              </GridLayout>

              <Label text="Categories" row="1" col="0" class="padding-5 text-black Hind-Bold" fontSize="16" verticalAlignment="center" ></Label>
              <GridLayout  row="1" col="2" rows="*, *" columns="*" class="padding-10">
                  <Label [text]="user?.account?.categories" row="0" col="0" class="text-black" fontSize="16"></Label>
              </GridLayout>
              
              <Label text="Win-Loss" row="2" col="0" class="padding-5 text-black Hind-Bold" fontSize="16" verticalAlignment="center" ></Label>
              <GridLayout  row="2" col="2" rows="*, *" columns="*" class="padding-10">
                  <Label text="{{user?.account?.wins}}-{{user?.account?.losses}}" row="0" col="0" class="text-black" fontSize="16"></Label>
              </GridLayout>

              
              <Label text="Badges" row="3" col="0" class="padding-5 text-black Hind-Bold" fontSize="16" verticalAlignment="center" ></Label>
              <GridLayout  row="3" col="2" rows="*, *" columns="*" class="padding-10">
                  <Label [text]="user?.account?.badges" row="0" col="0" class="text-black" fontSize="16"></Label>
              </GridLayout>

              
              <Label text="Avg. answer time" row="4" col="0" class="padding-5 text-black Hind-Bold" fontSize="16" verticalAlignment="center" ></Label>
              <GridLayout  row="4" col="2" rows="*, *" columns="*" class="padding-10">
                  <Label [text]="user?.account?.avgAnsTime" row="0" col="0" class="text-black" fontSize="16"></Label>
              </GridLayout>

              <Label text="Contribution" row="5" col="0" class="padding-5 text-black Hind-Bold" fontSize="16" verticalAlignment="center" ></Label>
              <GridLayout  row="5" col="2" rows="*, *" columns="*">
                  <Label [text]="user?.account?.contribution" row="0" col="0" class="text-black" fontSize="16"></Label>
              </GridLayout>
          </GridLayout>
      </StackLayout>
    </StackLayout>
    </CardView>

      <StackLayout class="list-view" iosOverflowSafeArea="false">
        <GridLayout class="grid-label" rows="auto,auto" columns="auto,*" iosOverflowSafeArea="false">
          <Label class="grid-label-text" row="0" col="0" text="PREFERRED CATEGORIES" textWrap="true"
            iosOverflowSafeArea="false"></Label>
          <Label row="0" col="1" class="fa expand-options" horizontalAlignment="right"
            text="{{ showSelectCategory ? '&#xf067;' : '&#xf068;' }}" textWrap="true" padding="4" borderWidth="2"
            borderColor="#A9A9A9" (tap)="showSelectCategory = !showSelectCategory" iosOverflowSafeArea="false"></Label>
        </GridLayout>
        <StackLayout visibility="{{ !showSelectCategory ? 'visible' : 'collapsed' }}">
          <GridLayout rows="auto,auto" columns="auto,*" class="two-player-option"
            *ngFor="let category of  user.categoryIds">
            <Label class="grid-label-text" [text]="categoryDict[category].categoryName" row="0" col="0" textWrap="true"></Label>
          </GridLayout>
        </StackLayout>
      </StackLayout>

      <StackLayout class="list-view" iosOverflowSafeArea="false">

        <GridLayout class="grid-label" rows="auto,auto" columns="auto,*">
          <Label row="0" col="0" text="PREFERRED TAGS" textWrap="true"></Label>
          <Label row="0" (tap)="showSelectTag = !showSelectTag" col="1" class="fa expand-options" horizontalAlignment="right"
            text="{{ showSelectTag ? '&#xf067;' : '&#xf068;' }}" textWrap="true" padding="4" borderWidth="2"
            borderColor="#A9A9A9"></Label>
        </GridLayout>
        <StackLayout visibility="{{ !showSelectTag ? 'visible' : 'collapsed' }}" iosOverflowSafeArea="false">
          <GridLayout rows="auto,auto" columns="auto,*" class="two-player-option" *ngFor="let tag of user.tags"
            iosOverflowSafeArea="false">
            <Label [text]="tag" row="0" col="0" textWrap="true" iosOverflowSafeArea="false"></Label>
          </GridLayout>
        </StackLayout>
      </StackLayout>

      <StackLayout class="list-view social-section" iosOverflowSafeArea="false">
        <StackLayout class="grid-label p-15">
          <Label textWrap="true" text="SOCIAL PROFILE"></Label>
        </StackLayout>
        <StackLayout class="input-field" *ngFor="let profiles of socialProfileSettings; let i=index"
          iosOverflowSafeArea="false">
          <GridLayout  *ngIf="user[profiles.social_name]"  rows="auto,auto,*" columns="*"
            iosOverflowSafeArea="false">
            <Label class="grid-label-text" [text]="profiles.display" row="0" col="0" textWrap="true"></Label>

            <StackLayout row="1" col="0" orientation="horizontal">
              <Label verticalAlignment="center" (tap)="openUrl(profiles.url + user[profiles.social_name])" class="label-link" [text]="profiles.url + user[profiles.social_name]" fontSize="14" textWrap="true"></Label>
            </StackLayout>
        
          </GridLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>