
.round{
    margin-bottom: 20;
    color: #000;
}

.username{
    font-size:22; 
    margin: 10 0 0 0; 
    color: #000;
    text-align: center;
}
.username-double{
    font-size:18; 
    margin: 18 0 0 0; 
    color: #000;
    text-align: center;
    font-weight: bold;
}

.roundandscore{
    font-size:15; 
    color:#000;
    margin-top: 10;
}
.earnedsymbolsStack{
    margin: 10 0 0 0;
}

.vs{
    color: #000;
    font-weight: bold;
}
    
.continue-btn {
    color: #fff;
    background-color: #8ac541;
    border-color: #8ac541;
    font-size: 17;
    border-width: 1;

}