.continue-btn {
  background-color: #3b5998;
  color: #FFF;
  padding: 0 0;
  font-size: 18;
  border-radius: 4;
  margin-top: 20;
}

.vs {
  right: 0;
  font-size: 18px;
  font-family: 'hindmedium';
  color: #000;
  margin-top: 25;
  font-weight: bold;
  vertical-align: top;
}

.game-round-info-container {
  vertical-align: center;
  // margin:0 10 0 20;
  width: 40%;
  height: 24;
  border-radius: 30;
  background-color: #f7f7f7;

  .game-round-info {
    height: 24;
    border-radius: 30;
    horizontal-align: left;
    background-color: #4caf50;

    .main-title {
      fontSize: 16;
      color: #616161;
    }
  }

  .round-info {
    horizontal-align: center;
    vertical-align: center;

    Label {
      font-size: 16;
      color: black;
      horizontal-align: center;
      vertical-align: center;
    }
  }
}

.actionbar-txt {
  color: #000;
  font-size: 24;
  font-weight: bold;
  line-height: 30;
  margin: 10 0 10 0;
}

.result-container {
  margin: 10;
}

.earnedsymbolsStack {
  margin-top: 20;

  Image {
    margin: 0 7 0 7;
    height:30;
    width:30;
    margin-left:2;
    vertical-align:center;
    padding:20;
    // border-radius:50;
    top:10;
    left:80;
  }
}

.roundandscore {
  margin-top: 25;
  font-size: 16;
  color: #000;
}

.badge-label {
  font-size: 16;
  color: #000;
  margin-top: 20;
}

.score-container {
  horizontal-align: center;
  orientation: horizontal;
  margin-top: 10;
  vertical-align: middle;
  align-items: center;

  Image {
    width: 28;
    height: 28;
  }

  Label {
    margin-left: 5;
  }
}

.home-lable {
  color: #3b5998;
  font-size: 18;
  font-weight: bold;
}

.two-player-user {
  font-size: 16;
}


.background-score {
  background-color: #f9f9f9;
  padding: 5;
  border-radius: 30;
  orientation: horizontal;
  horizontal-align: center;
  margin-top: 10;

  Image {
    height: 22;
    width: 22;
    margin-left: 2;
    vertical-align: center;
    padding: 20;
  }
}


.game-result {
  justify-content: space-between;
  margin: 15;
  width: 100%;
}

.game-result-title {
  font-weight: 500;
  font-size: 24;
  width: 100%;
  color: #000000;
}

.game-round-info-container {
  background-color: #4caf50;
  border-radius: 30;
  padding: 10;
  text-align: center;
  color: #ffffff;
}

.game-round-info-container-grey {
  background-color: #f7f7f7;
  border-radius: 30;
  padding: 10;
  width: 100%;
  text-align: center;
}

.main-title {
  z-index: 10;
  text-align: center;
  color: #000000;
}


