<StackLayout height="100%" backgroundColor="#f1f5f7">
    <ScrollView>
        <CardView class="cardStyle Roboto-Regular" android:elevation="20" ios:elevation="20" radius="1" backgroundColor="white"
            margin="8">
            <StackLayout class="game-continue">
                <StackLayout (onloaded)="stackLoaded($event)" backgroundColor="#ffffff" marginTop="30">
                    <StackLayout *ngIf="game.gameOptions?.playerMode == PlayerMode.Single" marginBottom="10">
                        <!-- <StackLayout marginLeft="10" verticalAlignment="center" marginRight="10" borderRadius="50"
                            borderColor="#3b5998" borderWidth="1" height="90" width="90" paddingTop="2" paddingLeft="1"
                            paddingRight="1">
                            <Image src="{{getImageUrl(user)}}" height="90" width="90" backgroundColor="gray"
                                stretch="aspectFill" borderRadius="50" borderWidth="1" borderColor="#fff"
                                horizontalAlignment="center"></Image>
                        </StackLayout>
                        <Label class="username user" horizontalAlignment="center" text="{{playerUserName}}"
                            textWrap="true"></Label> -->
                        <app-user-card [user]="user" [isGamePlay]=true [type]="userCardType.USER_IMAGE_NAME_VERTICAL"> </app-user-card>
                        <Label class="roundandscore" horizontalAlignment="center" text="Score {{game.stats[user.userId]?.score}} / {{game.round}}"
                            textWrap="true"></Label>
                        <StackLayout class="earnedsymbolsStack" orientation="horizontal" horizontalAlignment="center">
                            <Image *ngIf="game.stats[user.userId]?.score>=1" src="~/assets/images/score1.png" height="30"
                                width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" padding="20"
                                borderRadius="50" top="10" left="80"></Image>
                            <Image *ngIf="game.stats[user.userId]?.score>=2" src="~/assets/images/score2.png" height="30"
                                width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" padding="20"
                                borderRadius="50" top="10" left="80"></Image>
                            <Image *ngIf="game.stats[user.userId]?.score>=3" src="~/assets/images/score3.png" height="30"
                                width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" padding="20"
                                borderRadius="50" top="10" left="80"></Image>
                            <Image *ngIf="game.stats[user.userId]?.score>=4" src="~/assets/images/score4.png" height="30"
                                width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" padding="20"
                                borderRadius="50" top="10" left="80"></Image>
                            <Image *ngIf="game.stats[user.userId]?.score>=5" src="~/assets/images/score5.png" height="30"
                                width="30" marginLeft="2" verticalAlignment="center" marginLeft="2" padding="20"
                                borderRadius="50" top="10" left="80"></Image>
                        </StackLayout>
                    </StackLayout>

                    <GridLayout rows="*" columns="*,auto,*" *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent">
                        <StackLayout row="0" col="0" horizontalAlignment="center" width="120">
                            <!-- <StackLayout marginLeft="10" verticalAlignment="center" marginRight="10" borderRadius="50"
                                borderColor="#3b5998" borderWidth="1" height="90" width="90" paddingTop="2" paddingLeft="1"
                                paddingRight="1">
                                <Image src="{{getImageUrl(user)}}" height="90" width="90" backgroundColor="gray"
                                    stretch="aspectFill" borderRadius="50" borderWidth="1" borderColor="#fff"
                                    horizontalAlignment="center"></Image>
                            </StackLayout>
                            <Label class="username-double user-name" paddingTop="10" horizontalAlignment="center" text="{{playerUserName}} teste"
                            textWrap="true"></Label> -->

                            <app-user-card [user]="user" [isGamePlay]=true [type]="userCardType.USER_IMAGE_NAME_VERTICAL"> </app-user-card>

                            <StackLayout textWrap="true">
                                <Label class="roundandscore tagging" horizontalAlignment="center" text="Score {{game.stats[user.userId]?.score}}"
                                    textWrap="true"> </Label>
                            </StackLayout>
                            <StackLayout class="earnedsymbolsStack" orientation="horizontal">
                                <Image *ngIf="game.stats[user.userId]?.score>=1" src="~/assets/images/score1.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                                <Image *ngIf="game.stats[user.userId]?.score>=2" src="~/assets/images/score2.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                                <Image *ngIf="game.stats[user.userId]?.score>=3" src="~/assets/images/score3.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                            </StackLayout>
                            <StackLayout class="earnedsymbolsStack" orientation="horizontal">
                                <Image *ngIf="game.stats[user.userId]?.score>=4" src="~/assets/images/score4.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                                <Image *ngIf="game.stats[user.userId]?.score>=5" src="~/assets/images/score5.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                            </StackLayout>
                        </StackLayout>

                        <Label row="0" col="1" text="V/S" class="vs" verticalAlignment="center" textWrap="true">
                        </Label>

                        <StackLayout row="0" col="2" horizontalAlignment="center" width="120">
                            <!-- <StackLayout marginLeft="10" verticalAlignment="center" marginRight="10" borderRadius="50"
                                borderColor="#3b5998" borderWidth="1" height="90" width="90" paddingTop="2" paddingLeft="1"
                                paddingRight="1">
                                <Image src="{{getImageUrl(otherUserInfo)}}" height="90" width="90" backgroundColor="gray"
                                    stretch="aspectFill" borderRadius="50" borderWidth="1" borderColor="#fff"
                                    horizontalAlignment="center"></Image>
                            </StackLayout>
                            <Label class="username-double user-name" paddingTop="10" horizontalAlignment="center" text="{{otherUserInfo?.displayName}}"
                                    textWrap="true"></Label> -->

                            <app-user-card [user]="otherUserInfo" [isGamePlay]=true [type]="userCardType.USER_IMAGE_NAME_VERTICAL"> </app-user-card>

                            <StackLayout>
                                <Label class="roundandscore tagging" horizontalAlignment="center" text="Score {{game.stats[otherUserId]?.score}}"
                                    textWrap="true"> </Label>
                            </StackLayout>
                            <StackLayout class="earnedsymbolsStack" orientation="horizontal">
                                <Image *ngIf="game.stats[otherUserId]?.score>=1" src="~/assets/images/score1.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                                <Image *ngIf="game.stats[otherUserId]?.score>=2" src="~/assets/images/score2.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                                <Image *ngIf="game.stats[otherUserId]?.score>=3" src="~/assets/images/score3.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                            </StackLayout>
                            <StackLayout class="earnedsymbolsStack" orientation="horizontal">
                                <Image *ngIf="game.stats[otherUserId]?.score>=4" src="~/assets/images/score4.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                                <Image *ngIf="game.stats[otherUserId]?.score>=5" src="~/assets/images/score5.png"
                                    height="36" width="36" marginLeft="2" verticalAlignment="center" marginLeft="2"
                                    padding="20" borderRadius="50" top="10" left="80"></Image>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent" verticalAlignment="center"
                    marginTop="10">
                    <Label class="round" horizontalAlignment="center" text="Round {{game.round}}/{{totalRound}}"
                        textWrap="true"></Label>
                </StackLayout>
                <StackLayout paddingTop="8" marginBottom="60">
                    <Button class="Hind-Medium continue-btn" width="64%" height="60" text="Continue" (tap)="continueClicked()"
                        stlRippleEffect></Button>
                </StackLayout>
            </StackLayout>
        </CardView>
    </ScrollView>
</StackLayout>