.label-success{
    font-size: 17;
    color: #18b58b;
    font-weight: 600;
}

.label-failed{
    font-size: 17;
    color: #fa0909;
    font-weight: 600;
}

.label-category{
    color: #606060;
    font-size: 15;
}

.user-name{
    padding-top:3;
    color:#616161;
    font-size: 17;
}
.label-score{
    color: #8c8c8c;
    font-size: 15;
}

.border-left{
    border-color: #dfdfdf;
    border-width: 0 2 0 0;
    border-style: dotted;
    width: 95%;
    height: 1;
}