<div class="row">
  <div class=" col-sm-3 col-xs-12 clearfix">
    <div class="timestats-icon sprite"></div>
    <h2>Real-time System Stats</h2>
  </div>
  <div class=" col-sm-9 col-xs-12">
    <div class="time-stats">
      Total No of Users
      <div class="time-count unavailable">{{systemStats?.total_users}}</div>
    </div>
    <div class="time-stats">
      Total No Of Questions
      <div class="time-count unavailable">{{systemStats?.total_questions}}</div>
    </div>
    <div class="time-stats">
      Currently Active Games
      <div class="time-count unavailable">{{systemStats?.active_games}}</div>
    </div>
    <div class="time-stats">
      Total Games Played
      <div class="time-count unavailable">{{systemStats?.game_played}}</div>
    </div>
  </div>
</div>