<ns-action-bar
    [title]="userType===0?'Game Profile' : userType === 1 && user?.displayName ? user?.displayName : 'Game Profile'"
    class="Roboto-Regular" [showEdit]="userInfo">
</ns-action-bar>

<StackLayout backgroundColor="#fff" *ngIf="user" [class.user-profile]="userType===0"
    [class.logged-in-profile]="userType===1">
    <ScrollView>
        <StackLayout *ngIf="renderView">
            <GridLayout columns="auto,*,auto" rows="auto,auto" margin="20 20 20 0">
                <app-user-card  col="0" [userId]="user?.userId"
                    [type]="userCardType.USER_IMAGE_NAME_PROFILE_HORIZONTAL" [userType]="0">
                </app-user-card>

                <FlexboxLayout flexDirection="column" row="0" col="1">
                    <Label [text]="user?.displayName" color="#3c5a98" fontSize="20" paddingBottom="10"
                        textWrap="true"></Label>
                    <Label color="#000" class="fa" textWrap="true">
                        <FormattedString>
                            <Span text="&#xf041;">
                            </Span>
                            <Span [text]="user?.location" class="SF-Pro-Regular">
                            </Span>
                        </FormattedString>
                    </Label>
                </FlexboxLayout>
                <FlexboxLayout row="1" col="1" marginTop="10">
                    <FlexboxLayout *ngFor="let profile of socialProfileSettings">
                        <Label *ngIf="profile?.enable" [order]="profile?.position" text="{{getIcon(profile?.icon)}}"
                            fontSize="22" margin="0 5 0 5" class="fa text-black"
                            (tap)="openLink(profile?.socialUrl)"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout *ngIf="userType === 1" rowSpan="2" col="2" flexDirection="column">
                    <FlexboxLayout>
                        <Image src="~/assets/images/mobile/bits.png" height="40" width="40"></Image>
                        <Label alignSelf="center" [text]="account?.bits || 0" class="bits-text" textWrap="true"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout>
                        <Image src="~/assets/images/mobile/bytes.png" height="40" width="40"></Image>
                        <Label alignSelf="center" [text]="account?.bytes || 0" class="bits-text"
                            textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </GridLayout>

            <FlexboxLayout *ngIf="tags.userTags || tags.otherUserTags || categoryText" flexDirection="column" margin="10 20 10 20"
                iosOverflowSafeArea="false">
                <Label *ngIf="userType === 0 && ( tags.userTags || categoryText) " text="Topics" color="#1B1C1C" fontSize="15"
                    fontWeight="500" textWrap="true"></Label>
                <Label *ngIf="userType === 1 && ( tags.otherUserTags || categoryText)" text="Topics" color="#1B1C1C" fontSize="15"
                    fontWeight="500" textWrap="true"></Label>
                <GridLayout rows="*" columns="*,auto" orientation="horizontal" margin="0 -10 0 0"> 
                    <Label row="0" col="0" maxWidth="80%" [text]="(userType === 0 ? topicList : otherUserTopicList)" class="text-blue"
                    fontSize="15" textWrap="false"></Label>
                    <Label row="0" col="1" *ngIf="userType === 0" stlRippleEffect (rippleTap)="updateCategoryTag()" android:padding="0 10 0 5" ios:padding="0 5 0 5"
                        text="&#xe927;" class="ico icon-edit text-blue"  fontSize="18" textWrap="true"></Label>
                </GridLayout>

                <FlexboxLayout row="0" col="0" *ngIf="userType === 1" flexDirection="column">
                    <Label>
                        <FormattedString *ngIf="topicsArray && topicsArray.comparison && topicsArray.comparison.length > 0">
                            <Span text="{{topicsArray.comparison.length | number:'2.0-0'}} matching Topics"
                                style="font-style: italic" color="#ffc107" fontSize="12"></Span>
                        </FormattedString>
                        <FormattedString *ngIf="topicsArray && topicsArray.comparison && topicsArray.comparison.length === 0">
                            <Span text="no matching topics"
                                style="font-style: italic" color="#ffc107" fontSize="12"></Span>
                        </FormattedString>
                    </Label>
                </FlexboxLayout>
            </FlexboxLayout>

            <WrapLayout *ngIf="userType === 0" borderTopWidth="1" padding="10 0" marginBottom="20" borderBottomWidth="2"
                borderColor="#e4e4e4">
                <FlexboxLayout width="50%" justifyContent="space-around">
                    <FlexboxLayout>
                        <Image src="~/assets/images/mobile/bits.png" height="40" width="40"></Image>
                        <Label alignSelf="center" [text]="account?.bits || 0" class="bits-text" textWrap="true"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout>
                        <Image src="~/assets/images/mobile/bytes.png" height="40" width="40"></Image>
                        <Label alignSelf="center" [text]="account?.bytes || 0" class="bits-text"
                            textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </WrapLayout>

            <FlexboxLayout *ngIf="userType === 1" class="friends_box">
                <FlexboxLayout class="friends_box-border" stlRippleEffect
                    *ngIf="loggedInUser?.userId && userInvitations[user?.email]?.status === 'add'"
                    (rippleTap)="sendFriendRequest()">
                    <Label class="friends_box-text" text="Add Friend" textWrap="true"></Label>
                    <ActivityIndicator *ngIf="loader" color="#3b5998" ios:width="25" ios:height="25" android:width="25"
                        android:height="25" busy="true" class="activity-indicator">
                    </ActivityIndicator>
                </FlexboxLayout>
                <FlexboxLayout class="friends_box-border" stlRippleEffect
                    *ngIf="loggedInUser?.userId && userInvitations[user?.email]?.status === 'pending'">
                    <Label class="friends_box-text" text="Friend Request Sent" textWrap="true"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="friends_box-border" stlRippleEffect
                    *ngIf="loggedInUser?.userId && userInvitations[user?.email]?.status==='approved'">
                    <Label class="friends_box-text green" text="Friends" textWrap="true"></Label>
                </FlexboxLayout>

                <FlexboxLayout class="friends_box-no-border" stlRippleEffect (rippleTap)="startNewGame()">
                    <Label class="friends_box-text" text="Invite to Play" textWrap="true"></Label>
                </FlexboxLayout>
            </FlexboxLayout>

            <FlexboxLayout flexWrap="wrap" margin="0 10 20 10" horizontalAlignment="center">
                <FlexboxLayout class="stats-box" margin="0 10 10 0">
                    <FlexboxLayout alignSelf="center" flexDirection="column" alignItems="flex-start">
                        <Label text="{{account?.gamePlayed || 0}}" class="bold-text text-color" textWrap="true"></Label>
                        <Label text="Played" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="stats-box" margin="0 10 10 0">
                    <FlexboxLayout alignSelf="center" flexDirection="column">
                        <Label text="{{account?.wins || 0}}" class="bold-text text-color" textWrap="true"></Label>
                        <Label text="Won" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="stats-box" marginBottom="10">
                    <FlexboxLayout alignSelf="center" flexDirection="column">
                        <Label text="{{account?.badges || 0}}" class="bold-text text-color" textWrap="true"></Label>
                        <Label text="Badges" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="stats-box" marginRight="10">
                    <FlexboxLayout alignSelf="center" flexDirection="column">
                        <Label text="{{account?.categories || 0}}" class="bold-text text-color" textWrap="true"></Label>
                        <Label text="Categories" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="stats-box" marginRight="10">
                    <FlexboxLayout alignSelf="center" flexDirection="column">
                        <Label text="{{user?.totalFriends || 0}}" class="bold-text text-color" textWrap="true"></Label>
                        <Label text="Friends" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="stats-box">
                    <FlexboxLayout alignSelf="center" flexDirection="column">
                        <Label text="{{account?.avgAnsTime || 0}} s" class="bold-text text-color"
                            textWrap="true"></Label>
                        <Label text="Avg. time" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="stats-box" margin="10 10 0 0">
                    <FlexboxLayout alignSelf="center" flexDirection="column">
                        <Label text="{{account?.contribution || 0}}" class="bold-text text-color"
                            textWrap="true"></Label>
                        <Label text="Contribution" class="text-black" fontSize="15" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>

            <GridLayout rows="auto,auto" *ngIf="loggedInUser?.userId && userType === 1 && gamePlayedAgainst"
                margin="0 20 20 20" class="stats-main" iosOverflowSafeArea="false">
                <GridLayout row="0" rows="*" columns="30,*,auto" class="stats padding-10" iosOverflowSafeArea="false">
                    <Label row="0" col="0" fontSize="16" class="fas" verticalAlignment="center" text="&#xf109;"></Label>
                    <Label row="0" col="1" text="Game Played Against You" class="text-black Hind-Bold" fontSize="16"
                        verticalAlignment="center"></Label>
                    <Label row="0" col="2" [text]="gamePlayedAgainst?.gamePlayed || 0" class="text-black"
                        fontSize="16"></Label>
                </GridLayout>
                <GridLayout row="1" rows="*" columns="30,*,auto" class="stats padding-10" iosOverflowSafeArea="false">
                    <Label row="1" col="0" fontSize="16" class="far" verticalAlignment="center" text="&#xf09d;"></Label>
                    <Label row="1" col="1" text="Games Won-Lost" class="text-black Hind-Bold" fontSize="16"
                        verticalAlignment="center"></Label>
                    <Label row="0" col="2" text="{{gamePlayedAgainst?.wins || 0}}-{{gamePlayedAgainst?.losses || 0}}"
                        class="text-black" fontSize="16"></Label>
                </GridLayout>
            </GridLayout>

            <GridLayout rows="auto, auto" *ngIf="userType === 0" margin="0 20 20 20">
                <FlexboxLayout row="0" orientation="horizontal">
                    <Label text="&#xf0c9;" class="fa text-black" fontSize="20" textWrap="true" marginRight="5"></Label>
                    <Label text="Activity Log" class="text-black" fontSize="18" textWrap="true"></Label>
                </FlexboxLayout>
                <GridLayout row="1">
                    <recent-games [hideActionbar]="true"></recent-games>
                </GridLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>