<ns-action-bar title="Game Profile" class="Roboto-Regular" showAdd="true"></ns-action-bar>
<StackLayout backgroundColor="#f1f2f2">
    <ScrollView>
        <StackLayout>
            <GridLayout columns="*, auto" rows="auto, auto" margin="20 40 0 40">
                <app-user-card row="0" col="0" [userId]="user?.userId"
                    [type]="userCardType.USER_IMAGE_NAME_GAME_PROFILE_HORIZONTAL" [userType]="0">
                </app-user-card>
                <StackLayout row="0" col="1" [width]="userType === 0 ? 'auto' : '40'" verticalAlignment="center">
                    <Label [visibility]="userType === 0 ? 'visible' : 'collapsed'" text="&#xf044;" fontSize="22"
                        padding="3" class="fa" [nsRouterLink]="['/user/my/profile', user?.userId]"></Label>
                </StackLayout>
                <StackLayout orientation="horizontal">
                </StackLayout>
                <StackLayout row="1" colSpan="2" *ngIf="socialProfileSettings && socialProfileSettings.length > 0"
                    orientation="horizontal" horizontalAlignment="center">
                    <FlexboxLayout *ngFor="let profile of socialProfileSettings">
                        <Label *ngIf="profile.enable" [order]="profile.position" text="{{getIcon(profile.icon)}}"
                            fontSize="22" margin="0 5 0 5" class="fa" class="fa"
                            (tap)="openLink(profile?.socialUrl)"></Label>
                    </FlexboxLayout>
                </StackLayout>
            </GridLayout>

            <FlexboxLayout justifyContent="space-between" class="border" margin="20" padding="10">
                <StackLayout orientation="horizontal">
                    <StackLayout margin="0 10 0 10">
                        <Label text="bits" textWrap="true"></Label>
                        <Label [text]="account?.bits || 0" class="bold-text" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout margin="0 10 0 10">
                        <Label text="Bytes" textWrap="true"></Label>
                        <Label [text]="account?.bytes || 0" class="bold-text" textWrap="true"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout verticalAlignment="center">
                    <Label text="&#xf05a;" fontSize="22" color="lightgray" padding="3" class="fa"></Label>
                </StackLayout>
            </FlexboxLayout>

            <FlexboxLayout flexWrap="wrap" margin="0 10 20 10" horizontalAlignment="center">
                <!-- Use flexWrapBefore to control explicit line wrapping -->

                <StackLayout orientation="horizontal" horizontalAlignment="center" class="stats-box border"
                    margin="0 10 10 0">
                    <FlexboxLayout flexDirection="column" justifyContent="center">
                        <Label [text]="account?.gamePlayed || 0" class="bold-text" textWrap="true"></Label>
                        <Label text="Played" textWrap="true"></Label>
                    </FlexboxLayout>
                </StackLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center" class="stats-box border"
                    margin="0 10 10 0">
                    <FlexboxLayout flexDirection="column" justifyContent="center">
                        <Label [text]="account?.wins || 0" class="bold-text" textWrap="true"></Label>
                        <Label text="won" textWrap="true"></Label>
                    </FlexboxLayout>
                </StackLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center" class="stats-box border"
                    marginBottom="10">
                    <FlexboxLayout flexDirection="column" justifyContent="center">
                        <Label [text]="account?.badges || 0" class="bold-text" textWrap="true"></Label>
                        <Label text="badges" textWrap="true"></Label>
                    </FlexboxLayout>
                </StackLayout>


                <StackLayout orientation="horizontal" horizontalAlignment="center" class="stats-box border"
                    marginRight="10">
                    <FlexboxLayout flexDirection="column" justifyContent="center">
                        <Label [text]="account?.categories || 0" class="bold-text" textWrap="true"></Label>
                        <Label text="categories" textWrap="true"></Label>
                    </FlexboxLayout>
                </StackLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center" class="stats-box border"
                    marginRight="10">
                    <FlexboxLayout flexDirection="column" justifyContent="center">
                        <Label [text]="user?.totalFriends || 0" class="bold-text" textWrap="true"></Label>
                        <Label text="friends" textWrap="true"></Label>
                    </FlexboxLayout>
                </StackLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center" class="stats-box border">
                    <FlexboxLayout flexDirection="column" justifyContent="center">
                        <Label text="{{account?.avgAnsTime || 0}} sec" class="bold-text" textWrap="true"></Label>
                        <Label text="avg. time" textWrap="true"></Label>
                    </FlexboxLayout>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>