.hidden {
    display: none !important;
}

.visible {
    display: none !important;
}

.fab-button1 {
	height: 50;
	width: 50;
	margin: 15;
	background-color: #8ac541;
	horizontal-align: right;
	vertical-align: bottom;
}