md-card-content>:last-child, md-card>:last-child{
  margin-bottom: 15px;
}
md-card-content>:first-child, md-card>:first-child{
  margin-top: 15px;
}
md-card {
  margin: 15px;
}
.question-card {
  width: 400px;
  min-width: 350px;
}
.question-status {
  float: right;
  margin-right: 15px;
}