md-card {
  margin: 15px;
}
md-card-title {
  margin-bottom: 50px;
}
md-card-actions {
  margin-bottom: 0px;
}
.question-form {
  width: 90%;
}
.full-width {
  width: 100%;
}
.remove-tag {
  cursor: pointer;
}
/deep/md-input-container.ng-invalid.ng-touched .md-input-underline {
  border-color: red;
}
/deep/md-hint.error, .error {
  color: red;
}