.innerli{ border:1px solid; border-radius: 4px; padding: 15px; display: block; }
.T-tagging{ font-size: 14px; text-transform: uppercase; letter-spacing: 1px}
.T-tagging{ margin-bottom: 15px;}
.innerli .yourimg{ width: 94%; max-width: 70px; border-radius: 50%; height: auto; /*box-shadow: 0 3px 7px rgba(0,0,0,0.25);*/ margin-bottom: 16px; border:1px solid; padding: 2px}
.yourimg img{ display: block; width: 100%; height: auto; border-radius: 50% }
.vs:after{ content: "Vs"; position: absolute; right: -10px; top: 25px; font-size: 18px; font-family: 'hindmedium';}
.light{font-family: 'hindmedium';}
.owl-item .col-md-3{ width: 100% }
.playnow{  margin-top: 18px; display: block !important; padding: 5px 0; line-height: 1.2}
.playnow span{ display: block; font-size: 12px; font-family: 'hindregular'}
.opponent{ line-height: 43px; height: 43px; margin-top: 18px;  text-align: center;}
hr{height:15px; visibility: hidden; margin: 0;}
