<div class="row">
  <div class="pageheading col-md-6 col-xs-12 hidden-xs">Bulk Upload</div>
</div>

<mat-horizontal-stepper [linear]="isLinear">
  <mat-step>
    <ng-template matStepLabel>Instructions</ng-template>
    <div class="color-black">
      <p>
        The bulk upload feature allows you to submit your questions in a batch, instead of one at a time. Please read the instructions
        carefully before using this feature.
      </p>
      <div>
        <ul>
          <li>The bulk upload allows you to upload a csv file with multiple questions</li>
          <li>
            The format of the csv file must be similar to the sample file, else your upload will be rejected
            <br /> Sample File:
            <a target="new" href="/assets/Sample Questions.csv">Sample Questions.csv</a>
          </li>
          <li>
            You can only submit questions of a single category in a single file. For questions spanning multiple categories, please use
            multiple files.
          </li>
          <li>
            It is recommended to keep all questions in a file related with a single topic and have a single primary tag.
            <br /> For example you can upload a file with Category: Programming and Primary Tag: React.
            <br /> Another file could have Category: Programming with Primary Tag: Angular.
            <br /> The questions themselves can have additional tags associated with them. This helps us streamline the approval
            workflow which reduces time involved in getting all questions approved.
          </li>
        </ul>
      </div>
    </div>
    <div>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="uploadFormGroup">
    <form [formGroup]="uploadFormGroup">
      <ng-template matStepLabel>Upload Questions</ng-template>
      <br />
      <br />
      <div>
        <div class="color-black">
          <span>Select Your Prefered Category for the Question:</span>
        </div>
        <br />
        <br />
        <mat-form-field>
          <mat-select placeholder="Select Category" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <br />
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Primary Tag" class="matHeader" aria-label="Primary Tag" formControlName="tagControl" [matAutocomplete]="tagAuto">
          <mat-autocomplete #tagAuto="matAutocomplete">
            <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div> 
      <div>
        <br />
        <input type="file" class="matHeader" placeholder="Upload csv file" accept=".csv" (change)="onFileChange($event)" #fileInput>
        <p *ngIf="fileParseError" class="error">
          {{fileParseErrorMessage}} 
        </p>
      </div>
      <div>
        <br />
        <br />  
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext  type="button" [disabled]="bulkUploadFileInfo === undefined || fileParseError" (click)="onUploadSubmit()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <bulk-details *ngIf="parsedQuestions && parsedQuestions.length>0" [parsedQuestions]="parsedQuestions"></bulk-details>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext type="button" [disabled]="bulkUploadFileInfo === undefined || questionValidationError" (click)="onReviewSubmit()">Submit</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <br />
    <div>
      You have submitted questions.
    </div>
    <br /><br />
    <div>
      <button mat-button [routerLink]="['/bulk']">Back To Summary</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>