ul {
  list-style: square inside
}

.error { 
  color: red;
}
.bulk-instuctions h2{ font-size:18px; font-family: 'hindsemibold'; letter-spacing: 0.1px; margin-bottom: 13px;}
.bulk-instuctions h4{ font-family: 'hindsemibold'; letter-spacing: 0.1px; margin-top: 13px;}
.primary-tag
{
  margin-top: 13px;
}
.downloadFile
{
  border: 1px solid transparent;
  border-color: rgba(204, 204, 204, 0.44);
  padding: 5px;
}
.instruction-nextBtn
{
  margin-top: 13px;
  padding: 10px 60px;
}
.upload-questions
{
  margin: 15px 0px;
}