@import '../../../../app-variables';

.submit-question {
  margin: 15;

  .question-section {
    margin-bottom: 10;
  }

  .answer-section {
    margin-bottom: 30;

    .text-box-section {
      margin-bottom: 13;

      .checkbox-section {
        vertical-align: center;
        horizontal-align: center;
      }
    }
  }


  .category-input,
  .max-time-input {
    border-width: 1;
    border-radius: 5;
    border-color: $gray-title;
    padding: 17 23;
    font-size: 18;
    color: $black-title;
    text-align: left;
    margin-bottom: 30;
  }

  .tags-section {
    margin-bottom: 30;
  }

  .tag-input {
    height: 88;
    border-width: 1;
    border-radius: 5;
    border-color: $gray-title;
    color: $black-title;
    padding: 17 23;
    font-size: 21;
  }


  .button-section {
    .question-buttons {
      color: $white;
      border-radius: 3;
      font-size: 20;
      padding: 10;
      font-weight: bold;
      margin-right: 5;
    }

    .enable-btn {
      background-color: $btn-color;
    }

    .enable-btn-preview {
      background-color: #fff;
      color:$btn-color;
      border-color: $btn-color;
      border-width: 1;
    }

    .disable-btn {
      background-color: $gray-title;
      color: white;
      font-size: 16;
      font-weight: bold;
    }
  }

  .error-lbl {
    margin-top: 10;
    margin-bottom: 10;
  }


}


.error {
  color: red;
}

.show-answer-text {
  visibility: visible;
}

.hide-answer-text {
  visibility: hidden;
}

.label-richtext {
  font-size: 22px;
  text-transform: none;
  letter-spacing: .10px;
  padding-left: 0;
  font-family: 'hindmedium';

}

.question-buttons {
  border-radius: 3;
  font-size: 20;
  padding: 10;
  font-weight: bold;
  margin-right: 5;
  // background-color: gray;
}

.edit-label{
  border-width:1;
  border-color:#cccccc;
  border-radius:4;
  horizontal-align: center;
  width: 100%;
  text-align: center;
  margin: 0 20;
}


.add-btn{
  border-color: $btn-color;
  background-color: $white;
  color: $btn-color;
  border-width: 1;
  margin-left:10;
  font-weight:700;
  border-radius:4;
  border-width:1;
}


.question-box {
  border-width: 1;
  border-color: #a5a5a5;
  border-radius: 5;
  padding: 10;
  text-align: left;
  margin: 10 0;
}

.margin-main-stack{
  margin: 0 -7 0 -7;
}

.margin-50 {
  margin-bottom:50; 
}

.dialog {
  .dialogOpen &__wrapper {
    visibility: visible;
  }

  &__wrapper {
    background: #fff;
    visibility: collapse;
    width: 100%;
    z-index: 1;
  }
}