<ns-action-bar [title]="actionBarTxt" class="Roboto-Regular" showAdd="true"></ns-action-bar>

<StackLayout *ngIf="loaderBusy">
    <ActivityIndicator [busy]="loaderBusy" width="100" height="100" marginTop="225" class="activity-indicator">
    </ActivityIndicator>
</StackLayout>
<GridLayout rows="*" columns="*" *ngIf="!loaderBusy">
        <AbsoluteLayout *ngIf="!isWebViewLoaded" row="0" col="0"  verticalAlignment="center">
            <StackLayout width="100%">
                <ActivityIndicator marginLeft="10" verticalAlignment="center" ios:width="500" ios:height="500"
                    android:width="25" android:height="25" busy="true">
                </ActivityIndicator>
            </StackLayout>
        </AbsoluteLayout>
    <ScrollView>
        
        <PreviousNextView [isUserInteractionEnabled]="isWebViewLoaded" row="0" col="0">
             <GridLayout rows="auto,auto,auto,auto,auto,auto" columns="*" (tap)="hideKeyboard()"
                [formGroup]="questionForm" class="submit-question">
                <StackLayout  #questionStack row="0" class="question-section"  iosOverflowSafeArea="false"> 
                        <Label *ngIf="currentWebViewParentId != -1" height="125"  text="Click to add question" textWrap="true" (tap)="showEditor('question')" class="edit-label"></Label>
                </StackLayout>
                <StackLayout row="1" class="answer-section" iosOverflowSafeArea="false">
                    <StackLayout formArrayName="answers">
                        <StackLayout *ngFor="let answer of answers.controls; let i=index" [formGroupName]="i">
                            <GridLayout rows="125"  columns="auto,*" class="text-box-section">
                                <CheckBox row="0" col="0" #elem formControlName="correct"
                                    class="checkbox checkbox-section" fillColor="#71b02f"></CheckBox>
                                <StackLayout #answerStack row="0" col="1">
                                        <Label  height="125"  class="edit-label"  text="Click to add option {{i+1}}" (tap)="showEditor('answer', i)" *ngIf="!answers.controls[i].controls.isRichEditor.value || currentWebViewParentId != i" ></Label>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label *ngIf="!answers.valid && !answers.pristine" class="error-lbl " textWrap="true"
                        text="All answers required !"></Label>
                    <Label *ngIf="answers.valid && questionForm.hasError('correctAnswerCountInvalid')" class="error-lbl"
                        textWrap="true" text="Pick one and only one correct answer !"></Label>
                </StackLayout>

                <StackLayout row="2" class="max-time-input" iosOverflowSafeArea="false">
                    <GridLayout rows="*" columns="*">
                        <DropDown row="0" [items]="playMaxTime" selectedIndex="{{selectedMaxTimeIndex}}"
                            (selectedIndexChanged)="onchange($event)"></DropDown>
                        <Image row="0" src="~/assets/images/dropdown_char.png" class="tick-icon"></Image>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="3" class="category-input" iosOverflowSafeArea="false">
                    <GridLayout rows="*,*" columns="*">
                        <GridLayout row="0" rows="*" columns="*">
                            <DropDown row="0" [items]="questionCategories"
                                selectedIndex="{{selectedQuestionCategoryIndex}}"
                                (selectedIndexChanged)="selectCategory($event)"></DropDown>
                            <Image row="0" src="~/assets/images/dropdown_char.png" class="tick-icon"></Image>
                        </GridLayout>
                        <StackLayout row="1" iosOverflowSafeArea="false"
                            *ngIf="questionForm.valid  && (!categoryIds ||  categoryIds.length===0)">
                            <Label text="Select a category !" textWrap="true" class="error-lbl"></Label>
                        </StackLayout>
                    </GridLayout>

                </StackLayout>

                <StackLayout row="4" class="tags-section" iosOverflowSafeArea="false">
                    <TextView #textField hint="Comma separated tags" class="tag-input"></TextView>
                    <Label *ngIf="questionForm.valid  && enteredTags.length < 3" text="Must have atleast 3 tags !" textWrap="true" class="error-lbl"   ></Label>
                </StackLayout>

                <GridLayout row="5" rows="*" columns="*,*" iosOverflowSafeArea="false" class="button-section">
                    <Button row="0" col="0" text="Preview" (tap)="preview()"
                        [ngClass]="(questionForm.valid && categoryIds && categoryIds.length > 0 && enteredTags.length > 2) ? 'enable-btn' : 'disable-btn' "
                        class="question-buttons"></Button>
                    <Button row="0" col="1" width="100%" [text]="submitBtnTxt" (tap)="submit()"
                        [ngClass]="(questionForm.valid && categoryIds && categoryIds.length > 0 && enteredTags.length > 2) ? 'enable-btn' : 'disable-btn' "
                        class="question-buttons"></Button>
                </GridLayout>

            </GridLayout>
        </PreviousNextView>
     
    </ScrollView>
    <StackLayout height="1"  #webViewParentStack iosOverflowSafeArea="false">
            <WebView height="125" #webView id="questionWebView" 
                (loadFinished)="onLoadFinished($event,-1)"  (loaded)="questionLoaded($event)" (unloaded)="questionUnloaded($event)">
            </WebView>
    </StackLayout>
</GridLayout>