<ns-action-bar [title]="actionBarTxt" class="Roboto-Regular" showAdd="true"></ns-action-bar>

<StackLayout *ngIf="loaderBusy">
    <ActivityIndicator [busy]="loaderBusy" width="100" height="100" marginTop="225" class="activity-indicator"></ActivityIndicator>
</StackLayout>

<StackLayout *ngIf="!loaderBusy">
    <ScrollView>
        <StackLayout class="new-game Roboto-Regular" backgroundColor="#f1f2f2" [formGroup]="questionForm">

            <GridLayout iosOverflowSafeArea="false" rows="auto,auto" columns="auto,*" padding="10" marginTop="5">
                <Label row="0" col="0" text="Select Preferred Category" textWrap="true" class="label" fontSize="18"
                    fontWeight="400" color="#616161"></Label>
                <Label row="0" col="1" class="fa expand-options" horizontalAlignment="right" text="{{ showSelectCategory ? '&#xf067;' : '&#xf068;' }}"
                    textWrap="true" padding="5" borderWidth="1" borderColor="#A9A9A9" (tap)="showSelectCategory = !showSelectCategory"
                    background="#fff"></Label>
            </GridLayout>

            <CardView iosOverflowSafeArea="false" margin="5 10 5 10" visibility="{{ !showSelectCategory ? 'visible' : 'collapsed' }}"
                backgroundColor="white">
                <StackLayout>
                    <GridLayout rows="auto,auto" columns="auto,*" padding="10" class="two-player-option" *ngFor="let category of categories"
                        (tap)="selectCategory(category)" borderBottomWidth="1" borderBottomColor="#e5e5e5">
                        <Label [text]="category.categoryName" row="0" col="0" textWrap="true" padding="8" class="label"
                            fontSize="18" color="#616161"></Label>
                        <Image row="0" col="2" checked="true" horizontalAlignment="right" src="~/assets/images/check.png"
                            height="25" width="25" marginLeft="10" verticalAlignment="center" marginRight="5" *ngIf="category.isSelected"></Image>
                    </GridLayout>

                </StackLayout>
            </CardView>

            <StackLayout iosOverflowSafeArea="false" padding="10" *ngIf="questionForm.valid  && (!categoryIds ||  categoryIds.length===0)">
                <Label text="Select a category !" textWrap="true" class="label error" fontSize="12"></Label>
            </StackLayout>

            <StackLayout iosOverflowSafeArea="false" padding="10">
                <Label text="Enter Your Question" textWrap="true" class="label" fontSize="18" fontWeight="400" color="#616161"></Label>
            </StackLayout>

            <CardView iosOverflowSafeArea="false" margin="5 10 5 10" backgroundColor="white">
                <StackLayout>
                    <StackLayout borderBottomWidth="1" borderColor="#e5e5e5" padding="10">
                        <TextView hint="Enter Your Question" formControlName="questionText" class="input" height="150"
                            borderWidth="1" borderRadius="3" borderColor="#a3a3a3" padding="10"></TextView>
                        <StackLayout *ngIf="!questionForm.controls.questionText.pristine && questionForm.controls.questionText.errors">
                            <Label *ngIf="questionForm.controls.questionText.errors.required" class="error" textWrap="true"
                                text="Answer required !"></Label>
                            <Label *ngIf="questionForm.controls.questionText.errors.maxlength" class="error" textWrap="true"
                                text="{{this.applicationSettings.question_max_length}}  characters are allowed !"></Label>
                        </StackLayout>

                    </StackLayout>
                    <Label text="Enter your answers" textWrap="true" class="label" padding="10" fontSize="16"
                        fontWeight="400" color="#616161"></Label>
                    <StackLayout formArrayName="answers" padding="10">
                        <StackLayout *ngFor="let answer of answers.controls; let i=index" [formGroupName]="i">
                            <GridLayout rows="auto,auto" columns="auto,*" marginBottom="20">
                                <CheckBox row="0" col="0" #elem formControlName="correct" class="checkbox" marginRight="10"
                                    fillColor="#71b02f" ios:marginTop="10"></CheckBox>
                                <StackLayout row="0" col="1">
                                    <TextField [hint]="'Enter Option ' + (i+1)" formControlName="answerText" class="input"
                                        borderWidth="1" borderColor="#a3a3a3" borderRadius="3" paddingLeft="10"
                                        ios:padding="10"></TextField>
                                    <StackLayout *ngIf="!answers.controls[i].controls.answerText.pristine && answers.controls[i].controls.answerText.errors">
                                        <Label *ngIf="answers.controls[i].controls.answerText.errors.required " class="error"
                                            textWrap="true" text="Answer required !"></Label>
                                        <Label *ngIf="answers.controls[i].controls.answerText.errors.maxlength " class="error"
                                            textWrap="true" text="{{this.applicationSettings.answer_max_length}}  characters are allowed !"></Label>

                                    </StackLayout>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label *ngIf="!answers.valid && !answers.pristine" class="error" textWrap="true" text="All answers required !"
                        padding="10"></Label>
                    <Label *ngIf="answers.valid && questionForm.hasError('correctAnswerCountInvalid')" class="error"
                        textWrap="true" text="Pick one and only one correct answer !" padding="10"></Label>
                </StackLayout>
            </CardView>

            <GridLayout iosOverflowSafeArea="false" rows="auto,auto" columns="auto,*" padding="10">
                <Label row="0" col="0" text="Tags Associated Categories" textWrap="true" class="label" fontSize="18"
                    fontWeight="400" color="#616161">></Label>
                <Label row="0" col="1" class="fa expand-options" horizontalAlignment="right" text="{{ showSelectTag ? '&#xf067;' : '&#xf068;' }}"
                    textWrap="true" padding="5" borderWidth="1" borderColor="#A9A9A9" (tap)="showSelectTag = !showSelectTag"
                    background="#fff"></Label>
            </GridLayout>

            <CardView iosOverflowSafeArea="false" margin="5 10 5 10" visibility="{{ !showSelectTag ? 'visible' : 'collapsed' }}"
                backgroundColor="white">
                <StackLayout>
                    <StackLayout *ngIf="enteredTags.length>0" borderBottomWidth="2" borderBottomColor="#686868">
                        <GridLayout rows="auto,auto" columns="auto,*" padding="10" borderBottomWidth="1"
                            borderBottomColor="#e5e5e5" class=" two-player-option label" *ngFor="let tag of enteredTags">
                            <Label [text]="tag" row="0" col="0" textWrap="true" padding="8" fontSize="18" color="#616161"></Label>
                            <Label row="0" col="1" class="fa" text="&#xf00d;" fontSize="18" textWrap="true" padding="8"
                                horizontalAlignment="right" (tap)="removeEnteredTag(tag)"></Label>
                        </GridLayout>
                    </StackLayout>
                    <StackLayout padding="10 20">
                        <Label text="Add Tags" fontSize="16" color="#616161" textWrap="true" class="label"></Label>
                    </StackLayout>
                    <GridLayout rows="auto,auto" columns="*,auto" paddingLeft="20" paddingBottom="20" paddingRight="10"
                        class="two-player-option">
                        <StackLayout row="0" col="0" tkExampleTitle tkToggleNavButton ios:backgroundColor="#ffffff">
                            <RadAutoCompleteTextView #autocomplete hint="Select Tag" [items]="dataItems" completionMode="Contains"
                                showCloseButton="true" (didAutoComplete)="onDidAutoComplete($event)" (textChanged)="onTextChanged($event)"
                                border="none" borderColor="#b7b7b7" borderWidth="1" borderRadius="3" paddingLeft="10"
                                ios:backgroundColor="#ffffff">
                                <SuggestionView tkAutoCompleteSuggestionView>
                                    <ng-template tkSuggestionItemTemplate let-item="item">
                                        <StackLayout orientation="vertical" padding="10">
                                            <Label [text]="item.text"></Label>
                                        </StackLayout>
                                    </ng-template>
                                </SuggestionView>
                            </RadAutoCompleteTextView>
                        </StackLayout>                        
                        <Button row="0" col="1" text="Add" class="Roboto-Bold" (tap)="addCustomTag()" android:padding="5"
                        fontSize="16" android:fontSize="10" ios:padding="10" backgroundColor="#89C24F" color="#ffffff"
                        marginLeft="10" fontWeight="700" borderRadius="2"></Button>
                    </GridLayout>
                </StackLayout>
            </CardView>

            <StackLayout iosOverflowSafeArea="false" padding="10" *ngIf="questionForm.valid  && enteredTags.length < 3">
                <Label text="Must have atleast 3 tags !" textWrap="true" class="label error" fontSize="12"></Label>
            </StackLayout>

            <StackLayout iosOverflowSafeArea="false" padding="10">
                <Button [text]="submitBtnTxt" (tap)="submit()" class="Roboto-Medium" backgroundColor="{{questionForm.valid && categoryIds && categoryIds.length > 0 && enteredTags.length > 2? '#71b02f' : 'silver' }}"
                        color="#ffffff" padding="20" borderRadius="3" fontSize="20" fontWeight="bold"></Button>
                </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>