@import './question-add-update.component.common.scss';


.submit-question {
  .tick-icon {
    width: 18;
    height: 18;
    horizontal-align: right;
    margin-right: 15;
    margin-bottom:5;
  }

}