<div class="card main-div">
  <!-- <mat-card-title class="textcenter">
   
    <div fxFlex></div>
    <div></div>
  </mat-card-title> -->
  <mat-card-content class="textcenter" id="share-content">
    <div>
      <span class="title">GAME OVER</span>
    </div>
    <div class="category-div category-div-height">
      <span class="label category-name">{{categoryName}} </span>
      <div class="round" *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent">
          <span class="round-value" >Round {{game.round}} / {{totalRound}}</span>
      </div>
    </div>
    <div class="textcenter clearfix gameOver" *ngIf="game.gameOptions.playerMode == PlayerMode.Single">
      <app-user-card [userId]="user.userId" [type]="userCardType.USER_WEB_IMAGE_70X60_IMAGE_VERTICAL"></app-user-card>
      <div class="dark div-top-spacing text-style ">Score {{game.stats[user.userId].score}} / {{game.round}}</div>
      <div class="div-top-spacing score-div-height">
        <ng-template *ngIf="game.gameOptions.isBadgeWithCategory; else showBadge" ngFor let-i="index"  let-badge [ngForOf]="totalBadges" >
          <div class="sprite {{applicationSettings?.badges[earnedBadges[i]]?.class ? applicationSettings?.badges[earnedBadges[i]]?.class : 'score0'}}"></div>
        </ng-template>
        <ng-template   #showBadge>
          <div *ngIf="game.stats[user.userId].score>= 1" class="sprite score1"></div>
          <div *ngIf="game.stats[user.userId].score >= 2" class="sprite score2"></div>
          <div *ngIf="game.stats[user.userId].score >= 3" class="sprite score3"></div>
          <div *ngIf="game.stats[user.userId].score >= 4" class="sprite score4"></div>
          <div *ngIf="game.stats[user.userId].score >= 5" class="sprite score5"></div>
        </ng-template>
        

      </div>
    </div>
    <div class="textcenter clearfix gameOver" *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent">
      <div class="col-sm-3 col-sm-offset-3">
        <app-user-card [userId]="user.userId" [type]="userCardType.USER_WEB_IMAGE_70X60_IMAGE_VERTICAL"></app-user-card>
        <div class="dark div-top-spacing text-style">Score {{game.stats[user.userId].score}}</div>
        <div class="div-top-spacing">
          <ng-template *ngIf="game.gameOptions.isBadgeWithCategory; else showBadgeTwoPlayer" ngFor let-i="index"  let-badge [ngForOf]="totalBadges" >
            <div class="sprite {{applicationSettings?.badges[earnedBadges[i]]?.class ? applicationSettings?.badges[earnedBadges[i]]?.class : 'score0'}}"></div>
          </ng-template>
          <ng-template  #showBadgeTwoPlayer>
            <div *ngIf="game.stats[user.userId].score >= 1" class="sprite score1"></div>
            <div *ngIf="game.stats[user.userId].score >= 2" class="sprite score2"></div>
            <div *ngIf="game.stats[user.userId].score >= 3" class="sprite score3"></div>
            <div *ngIf="game.stats[user.userId].score >= 4" class="sprite score4"></div>
            <div *ngIf="game.stats[user.userId].score >= 5" class="sprite score5"></div>
          </ng-template>
          
        </div>
      </div>
      <div class="col-sm-3 yourimg-spacing">
        <app-user-card [userId]="otherUserId" [type]="userCardType.USER_WEB_IMAGE_70X60_IMAGE_VERTICAL"></app-user-card>
        <div class="dark div-top-spacing text-style">Score {{game.stats[otherUserId].score}}</div>
        <div class="div-top-spacing">
          <ng-template *ngIf="game.gameOptions.isBadgeWithCategory; else showBadgeTwoPlayerOpponent" ngFor let-i="index"  let-badge [ngForOf]="totalBadges" >
            <div class="sprite {{applicationSettings?.badges[earnedBadgesByOtherUser[i]]?.class ? applicationSettings?.badges[earnedBadgesByOtherUser[i]]?.class : 'score0'}}"></div>
          </ng-template>
          <ng-template #showBadgeTwoPlayerOpponent >
          <div *ngIf="game.stats[otherUserId].score >= 1" class="sprite score1"></div>
          <div *ngIf="game.stats[otherUserId].score >= 2" class="sprite score2"></div>
          <div *ngIf="game.stats[otherUserId].score >= 3" class="sprite score3"></div>
          <div *ngIf="game.stats[otherUserId].score >= 4" class="sprite score4"></div>
          <div *ngIf="game.stats[otherUserId].score >= 5" class="sprite score5"></div>
        </ng-template>
        </div>
      </div>
    </div>
    <div class="div-top-spacing win-icon-div">
      <div class="win-icon" *ngIf="gameStatus === gameStatusEnum.WON">
        <div class="sprite thumb-up"></div>
        <span class="win-text">{{playerUserName}} Won</span>
      </div>
      <div class="win-icon" *ngIf="gameStatus === gameStatusEnum.LOST">
        <div class="sprite thumb-down"></div>
        <span class="win-text">{{playerUserName}} Lost</span>
      </div>
      <div class="win-icon" *ngIf="gameStatus === gameStatusEnum.TIE">
        <div class="sprite thumb-up"></div>
        <span class="win-text">It's a Tie</span>
      </div>
      <div class="win-icon" *ngIf="gameStatus === gameStatusEnum.DRAW">
        <div class="sprite thumb-up"></div>
        <span class="win-text">It's a Draw</span>
      </div>
    </div>
    <div class="col-xs-12" class="bits-n-bityes-container">
        <span>You have earned</span>
    </div>
    <div class="col-xs-12" class="bits-n-bityes-container">
        <img src="/assets/images/bits-bytes.png"/>
        <span>Earned {{applicationSettings?.tokens?.enable === true && applicationSettings?.tokens?.earn_bits * game.stats[user.userId].score}} bits</span>
        <img class="m-l-28"src="/assets/images/bits-bytes.png"/>
        <span>Earned {{applicationSettings?.tokens?.enable === true && applicationSettings?.tokens?.earn_bytes *  (game.stats[user.userId].score >=5 ? 1 : 0 ) }} bytes</span>
    </div>

  </mat-card-content>
  <mat-card-content class="textcenter">
    <div class="button-div">
      <div class="win-icon safari-icons spacing-bottom" *ngIf="socialFeedData">
        <social-palette *ngIf="socialFeedData.share_status && !loaderStatus" class="spacing position"
          [blogData]="socialFeedData" (notify)="onNotify($event)" [isFromBlog]=false></social-palette>
        <img *ngIf="loaderStatus" src="/assets/images/ajax-loader.gif" class="share-loaderimage" />
        <button class="btn-share" type="button" (click)="shareScore()" [disabled]="socialFeedData.share_status"
          [ngClass]="socialFeedData.share_status?'hide-share-btn':'show-share-btn'">Share</button>
        <button class="btn-share" type="button" (click)="reMatchGame()"
          *ngIf="game.gameOptions.playerMode != PlayerMode.Single">Rematch</button>
        <button class="btn-share" type="button" (click)="reMatchGame()"
          *ngIf="game.gameOptions.playerMode == PlayerMode.Single">Play Again</button>
        <button class="btn-share" type="button" (click)="inviteAsFriend()"
          *ngIf="(game.gameOptions.opponentType == opponentType.Random || game.gameOptions.isChallenge ) && otherUserInfo?.email && userInvitations &&  userInvitations[otherUserInfo?.email]?.status === 'add'">Invite as
          Friend</button>
        <button class="btn-share friend-request-sent" type="button"
          *ngIf="(game.gameOptions.opponentType == opponentType.Random || game.gameOptions.isChallenge ) && otherUserInfo?.email && userInvitations && userInvitations[otherUserInfo?.email]?.status === 'pending'">Friend Request Sent</button>

        <button class="btn-share friends" type="button"
          *ngIf="(game.gameOptions.opponentType == opponentType.Random || game.gameOptions.isChallenge ) && otherUserInfo?.email  && userInvitations && userInvitations[otherUserInfo?.email]?.status === 'approved'">Friends</button>

        <img *ngIf="disableRematchBtn" src="/assets/images/ajax-loader.gif" class="rematch-loaderimage"
          alt="Loader Image">
        <button class="btn-share" type="button" [routerLink]="['/']">Home</button>
      </div>
    </div>
    <div>
      <mat-accordion>
        <mat-expansion-panel (opened)="bindQuestions()">
          <mat-expansion-panel-header>
            <mat-panel-title class="textcenter">
              View questions & answers
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-panel-description>
            <div class="col-xs-12" *ngIf="questionsArray.length == 0">
              <img src="/assets/images/ajax-loader.gif" class="loaderimage" alt="Loader Image">
            </div>
            <ul class="questions" *ngIf="questionsArray.length != 0">
              <li class="question-section" *ngFor="let row  of questionsArray;let i=index;">
                <div class="row fullWidth">
                  <div class="li-section1">
                    <p class="dark text-style">Q{{i+1}}. {{row.questionText}}</p>
                    <div class="answer-text">
                      <span *ngFor="let answer of row.answers">
                        <div class="dark text-style" *ngIf="answer.correct">A{{i+1}}.
                          <label class="answer-label">Correct ans.</label>
                          <span class="text-style">{{answer.answerText}}</span>
                        </div>
                      </span>
                      <span *ngFor="let answer of row.answers;let j=index;">
                        <p *ngIf="answer.answerText === row.userGivenAnswer">
                          <label
                            [ngClass]="answer.answerText === row.userGivenAnswer  && answer.correct? 'answer-label':'label'"
                            class="text-style your-answer-label">Your ans.</label>
                          <span class="text-style"
                            [ngClass]="answer.answerText === row.userGivenAnswer  && answer.correct? '':'label'">{{row.userGivenAnswer}}  
                          </span> 
                          <span [ngClass]="row.className"
                           class="sprite">
                          </span>
                        </p>
                      </span>
                      <div class="row col-sm-12 col-xs-12 alignment">
                        <author [userId]="row.created_uid"></author>
                      </div>
                    </div>
                  </div>
                  <div class="li-section2 textcenter reportMargin">
                    <button class="btn-share reportButton" type="button" (click)="reportQuestion(row)"
                      *ngIf="!game.playerQnAs[i].isReported">Report</button>
                    <label class="status-reported text-style " *ngIf="game.playerQnAs[i].isReported">Reported</label>
                  </div>
                </div>
              </li>
            </ul>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</div>