.category {
    margin-bottom: 20;
    color: #f47c71;
}

.round {
    margin-bottom: 20;
}

.username {
    font-size: 22;
    margin: 10 0 0 0;
    color: #616161;
    text-align: center;
}

.username-double {
    font-size: 18;
    margin: 10 0 0 0;
    color: #616161;
    text-align: center;
}

.roundandscore {
    font-size: 15;
    color: #8c8c8c;
}

.earnedsymbolsStack {
    margin: 10 0 0 0;
}

.gamestatus {
    background-color: #f1fff2;
    border-width: 3px;
    border-color: #d0f5d3;
    margin: 10 0 0 0;
}

.gamestatus-username {
    font-weight: 700;
    font-size: 22;
    color: #000000;
}

.navigate-button {
    color: #000000;
    background-color: #ffffff;
    padding: 10 10 10 10;
    margin: 0 3 0 3;
}

.navigate-button-green{
    color:#FFFFFF; 
    background-color: #4caf50; 
    padding:10 10 10 10; 
    margin: 0 3 0 3;
}

.navigate-button-grey{
    color:#000000; 
    background-color: #808080; 
    padding:10 10 10 10; 
    margin: 0 3 0 3;
}

.question-grid{
    border-bottom-width:2px; 
    border-color:#f3f3f3; 
    padding:10 0 10 0
}

.question-tag {
    vertical-align: top;
    color: #3b444f;
}

.question-text {
    margin: 0 0 5 10;
    color: #3b444f
}

.answer-tag {
    vertical-align: top;
    color: #3b444f
}

.navigate-button:disabled {
    color: gainsboro;
}

Button {
    border-radius: 1;
}

.friend-request-sent {
    background-color: #f50057;
}

.friends {
    background-color: #61d461;
}

.bits-n-bites-lable {
    font-size: 17;
    font-weight: bold;
    color: #333;
  }

  // new 
  .navigate-button{
    color:#3b5998; 
    background-color: #ffffff; 
    padding:5 20; 
    margin: 5 3;
    border-width: 1;
    border-color: #dddddd;
    border-radius: 5;
    text-align: center;
}

.navigate-button-solid{
    color:#ffffff; 
    background-color: #3b5998; 
    padding: 10 10; 
    margin: 5 15;
    border-radius: 5;
    text-align: center;
}

.navigate-button-text{
    color:#3b5998; 
    font-weight: 700; 
    padding:10 20; 
    margin: 5 3;
    text-align: center;
}

.gamestatus-username-color{
    font-weight:700; 
    font-size: 25;
    color:#ffc107;
}

.earnedsymbolsStack{
    margin: 10 0 0 0;
    padding: 5;
    background-color: #f9f9f9;
    border-radius: 20;
}

.score-image{
    margin: 0 3;
}

.vs-text{
    font-weight: 700;
    margin-bottom: 30;
}


.game-result{
    justify-content: space-between;
    margin: 15;
    width: 100%;
  }
  
  .game-result-title{
    font-weight: 500;
    font-size: 24;
    width: 100%;
    color:#000000;
  }
  
  .game-round-info-container{
    background-color: #4caf50;
    border-radius: 30;
    padding: 10;
    text-align: center;
    color: #ffffff;
  }
  .game-round-info-container-grey{
    background-color: #f9f9f9;
    border-radius: 30;
    padding: 10;
    width: 100%;
    text-align: center;
  }
  
  .main-title{
    z-index:10;
    text-align: center;
    color:#000000;
  }
}

.transparent-back {
    background-color: rgba(0, 0, 0, 0.3);
}

.main-dialog {
    background-color: #FFFFFF;
    border-top-left-radius: 20;
    border-top-right-radius: 20;
    padding: 30 20 5 20;
}

.dialog-title-container {
    justify-content: space-between;
    align-items: center;
}

.dialog-title {
    font-size: 24;
    font-weight: 600;
    color: #000000;
}

.close-tag {
    font-size: 22;
    color: #505050;
}

.correct-icon {
    font-size: 25;
    color: #4caf50;
}

.wrong-icon {
    color: #f44336;
    font-size: 25;
}

.question {
    margin: 15 0;
}

.question-details {
    margin-left: 15;

    FlexboxLayout {
        align-items: center;
    }
}

.question-bits {
    margin-left: 10;
}

.question-content {
    color: #283b66;
    font-size: 16;
}

.correct-answer {
    color: #4caf50;
    font-size: 14;
    margin-top: 7;
}

.your-answer {
    color: #f44336;
    font-size: 14;
    margin-top: 7;
}

.dialog {
    // visibility: collapse;
    .dialogOpen &__wrapper {
        visibility: visible;
    }

    &__wrapper {
        background: rgba(0, 0, 0, 0.5);
        visibility: collapse;
        width: 100%;
        z-index: 1;
    }
}
