<GridLayout [class.dialogOpen]="dialogOpen" [class.report__dialogOpen]="openReportDialog">
    <StackLayout>
        <ns-action-bar title="{{actionBarStatus}}" class="Roboto-Regular" showAdd="true" hideHomeIcon="{{isDispayMenu}}"
            hideMenu="{{isDispayMenu}}">
        </ns-action-bar>

        <GridLayout height="100%" backgroundColor="#f1f5f7">
            <ScrollView>
                <StackLayout>
                    <CardView class="cardStyle Roboto-Regular" android:elevation="20" ios:elevation="20" radius="1"
                        backgroundColor="white">
                        <StackLayout>
                            <StackLayout (onloaded)="stackLoaded($event)" backgroundColor="#ffffff">
                                <StackLayout marginTop="10">
                                    <Label class="category" horizontalAlignment="center" text="{{categoryName}}"
                                        textWrap="true"></Label>
                                    <Label *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent" class="round"
                                        horizontalAlignment="center" text="Round {{game.round}}/{{totalRound}}"
                                        textWrap="true"></Label>

                                    <StackLayout *ngIf="game.gameOptions?.playerMode == PlayerMode.Single"
                                        class="game-continue">
                                        <app-user-card [userId]="user.userId"
                                            [type]="userCardType.USER_IMAGE_NAME_VERTICAL">
                                        </app-user-card>
                                        <Label class="roundandscore" horizontalAlignment="center"
                                            text="Score {{game.stats[user.userId]?.score}} / {{game.round}}"
                                            textWrap="true"></Label>
                                        <StackLayout class="earnedsymbolsStack" orientation="horizontal"
                                            horizontalAlignment="center">
                                            <Image *ngIf="game.stats[user.userId]?.score>=1" src="res://badge1"
                                                height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                            </Image>
                                            <Image *ngIf="game.stats[user.userId]?.score>=2" src="res://badge2"
                                                height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                            </Image>
                                            <Image *ngIf="game.stats[user.userId]?.score>=3" src="res://badge3"
                                                height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                            </Image>
                                            <Image *ngIf="game.stats[user.userId]?.score>=4" src="res://badge4"
                                                height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                            </Image>
                                            <Image *ngIf="game.stats[user.userId]?.score>=5" src="res://badge5"
                                                height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                            </Image>

                                        </StackLayout>
                                    </StackLayout>

                                    <GridLayout rows="*" columns="*,auto,*" horizontalAlignment="center"
                                        *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent">
                                        <StackLayout row="0" col="0" class="game-continue">
                                            <app-user-card [userId]="user.userId"
                                                [type]="userCardType.USER_IMAGE_NAME_VERTICAL"> </app-user-card>
                                            <Label class="roundandscore tagging" horizontalAlignment="center"
                                                text="Score {{game.stats[user.userId]?.score}}" textWrap="true">
                                            </Label>
                                            <StackLayout class="earnedsymbolsStack" orientation="horizontal"
                                                horizontalAlignment="center">
                                                <Image *ngIf="game.stats[user.userId]?.score>=1" src="res://badge1"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[user.userId]?.score>=2" src="res://badge2"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[user.userId]?.score>=3" src="res://badge3"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[user.userId]?.score>=4" src="res://badge4"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[user.userId]?.score>=5" src="res://badge5"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                            </StackLayout>
                                        </StackLayout>

                                        <Label row="0" col="1" text="V/S" verticalAlignment="top" textWrap="true">
                                        </Label>

                                        <StackLayout row="0" col="2" class="game-continue">
                                            <app-user-card [userId]="otherUserId"
                                                [type]="userCardType.USER_IMAGE_NAME_VERTICAL"> </app-user-card>
                                            <Label class="roundandscore tagging" horizontalAlignment="center"
                                                text="Score {{game.stats[otherUserId]?.score}}" textWrap="true">
                                            </Label>
                                            <StackLayout class="earnedsymbolsStack" orientation="horizontal"
                                                horizontalAlignment="center">
                                                <Image *ngIf="game.stats[otherUserId]?.score>=1" src="res://badge1"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[otherUserId]?.score>=2" src="res://badge2"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[otherUserId]?.score>=3" src="res://badge3"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[otherUserId]?.score>=4" src="res://badge4"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                                <Image *ngIf="game.stats[otherUserId]?.score>=5" src="res://badge5"
                                                    height="30" width="30" marginLeft="2" verticalAlignment="center"
                                                    marginLeft="2" padding="20" borderRadius="50" top="10" left="80">
                                                </Image>
                                            </StackLayout>
                                        </StackLayout>
                                    </GridLayout>

                                    <StackLayout class="gamestatus" marginTop="10">
                                        <StackLayout *ngIf="
                            (game.gameOptions?.playerMode != PlayerMode.Single && 
                             game.round < 16 &&
                             game.stats[user.userId]?.score > game.stats[otherUserId]?.score)
                            ||
                            (game.gameOptions?.playerMode == PlayerMode.Single &&
                             game.playerQnAs?.length - game.stats[user.userId]?.score !== 4)" orientation="horizontal"
                                            margin="15" horizontalAlignment="center">
                                            <Image src="~/assets/images/thumb-win.png" width="40"></Image>
                                            <Label class="gamestatus-username Roboto-Bold" text="{{playerUserName}} Won"
                                                textWrap="true" marginLeft="10"></Label>
                                        </StackLayout>
                                        <StackLayout *ngIf="
                            (game.gameOptions?.playerMode != PlayerMode.Single &&
                             game.round < 16 &&
                             game.stats[user.userId]?.score < game.stats[otherUserId]?.score)
                            ||
                            (game.gameOptions?.playerMode == PlayerMode.Single &&
                             game.playerQnAs?.length - game.stats[user.userId]?.score === 4)" orientation="horizontal"
                                            margin="15" horizontalAlignment="center">
                                            <Image src="~/assets/images/thumb-lost.png" width="40"></Image>
                                            <Label class="gamestatus-username Roboto-Bold"
                                                text="{{playerUserName}} Lost" textWrap="true" marginLeft="10"></Label>
                                        </StackLayout>

                                        <StackLayout *ngIf="
                            (game.gameOptions?.playerMode != PlayerMode.Single &&
                             game.round < 16 &&
                             game.stats[user.userId]?.score == game.stats[otherUserId]?.score)"
                                            orientation="horizontal" margin="15" horizontalAlignment="center">
                                            <Image src="~/assets/images/thumb-win.png" width="40"></Image>
                                            <Label class="gamestatus-username Roboto-Bold" text="It's a Tie"
                                                textWrap="true" marginLeft="10"></Label>
                                        </StackLayout>

                                        <StackLayout *ngIf="
                            game.gameOptions?.playerMode != PlayerMode.Single &&
                             game.round === 16" orientation="horizontal" margin="15" horizontalAlignment="center">
                                            <Image src="~/assets/images/thumb-win.png" width="40"></Image>
                                            <Label class="gamestatus-username Roboto-Bold" text="It's a Draw"
                                                textWrap="true" marginLeft="10"></Label>
                                        </StackLayout>

                                    </StackLayout>

                                    <GridLayout rows="auto,auto" columns="auto" verticalAlignment="center"
                                        horizontalAlignment="center" marginTop="10">
                                        <GridLayout horizontalAlignment="center" row="0" col="0">
                                            <Label class="bits-n-bites-lable" verticalAlignment="center" marginLeft="10"
                                                text="You have earned" textWrap="true"> </Label>
                                        </GridLayout>
                                        <GridLayout rows="auto" columns="auto,auto,auto,auto" marginTop="12"
                                            marginBottom="10" row="1" col="0">
                                            <Image row="0" col="0" src="~/assets/images/bits-bytes.png" height="32"
                                                width="32" padding="20"></Image>
                                            <Label row="0" col="1" class="bits-n-bites-lable" verticalAlignment="center"
                                                marginLeft="10"
                                                text="Earned {{applicationSettings?.tokens?.enable === true && applicationSettings?.tokens?.earn_bits * game.stats[user.userId].score}} bits"
                                                textWrap="true"> </Label>
                                            <Image row="0" col="2" src="~/assets/images/bits-bytes.png" height="32"
                                                width="32" padding="20" marginLeft="20"></Image>
                                            <Label row="0" col="3" class="bits-n-bites-lable" verticalAlignment="center"
                                                text="Earned {{applicationSettings?.tokens?.enable === true && applicationSettings?.tokens?.earn_bytes *  (game.stats[user.userId].score >=5 ? 1 : 0 ) }} bytes"
                                                textWrap="true" marginLeft="10"></Label>
                                        </GridLayout>
                                    </GridLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout padding="10" backgroundColor="#f3f3f3">
                                <GridLayout rows="auto,auto" columns="auto,auto,auto,auto" horizontalAlignment="center">
                                    <Button row="1" col="0" class="navigate-button Hind-Medium" text="Share"
                                        (rippleTap)="screenshot()" stlRippleEffect></Button>
                                    <button row="1" col="1" class="navigate-button Hind-Medium" text="Rematch"
                                        (rippleTap)="reMatchGame()"
                                        *ngIf="game.gameOptions?.playerMode != PlayerMode.Single"
                                        stlRippleEffect></button>
                                    <Button row="1" col="1" class="navigate-button Hind-Medium" text="Play Again"
                                        (rippleTap)="reMatchGame()"
                                        *ngIf="game.gameOptions?.playerMode == PlayerMode.Single"
                                        stlRippleEffect></Button>
                                    <Button row="1" col="2" class="navigate-button Hind-Medium" text="Invite as Friend"
                                        (rippleTap)="inviteAsFriend()" isEnabled="{{!disableFriendInviteBtn}}"
                                        *ngIf="(game.gameOptions.opponentType == opponentType.Random || game.gameOptions.isChallenge ) && otherUserInfo?.email && userInvitations &&  userInvitations[otherUserInfo?.email]?.status === 'add'"
                                        stlRippleEffect></Button>

                                    <Button row="1" col="2" class="navigate-button Hind-Medium friend-request-sent"
                                        text="Friend Request Sent"
                                        *ngIf="(game.gameOptions.opponentType == opponentType.Random || game.gameOptions.isChallenge ) && otherUserInfo?.email && userInvitations && userInvitations[otherUserInfo?.email]?.status === 'pending'"></Button>

                                    <Button row="1" col="2" class="navigate-button Hind-Medium friends" text="Friends"
                                        *ngIf="(game.gameOptions.opponentType == opponentType.Random || game.gameOptions.isChallenge ) && otherUserInfo?.email  && userInvitations && userInvitations[otherUserInfo?.email]?.status === 'approved'"></Button>

                                    <Button row="1" col="3" class="navigate-button Hind-Medium" text="Home"
                                        (rippleTap)="gotoDashboard()" stlRippleEffect></Button>
                                </GridLayout>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                    <CardView class="cardStyle" android:elevation="20" ios:elevation="20" radius="1"
                        backgroundColor="white" margin="15">
                        <StackLayout class="Hind-Medium">
                            <GridLayout rows="auto,auto" columns="auto,*" padding="5" margin="10 5">
                                <Label row="0" col="0" text="View questions & answers" textWrap="true" color="#000000"
                                    fontSize="18" class="label Roboto-Medium"></Label>
                                <Label row="0" col="1" class="fa expand-options" horizontalAlignment="right"
                                    text="{{ showQuesAndAnswer ? '&#xf067;' : '&#xf068;' }}" textWrap="true" padding="7"
                                    borderWidth="2" borderColor="#A9A9A9" color="#A9A9A9" background="#fff"
                                    (tap)="bindQuestions();showDialog();showQuesAndAnswer=!showQuesAndAnswer;"
                                    stlRippleEffect></Label>
                            </GridLayout>
                        </StackLayout>
                    </CardView>

                </StackLayout>

            </ScrollView>
            <AbsoluteLayout verticalAlignment="center" horizontalAlignment="center">
                <ActivityIndicator *ngIf="disableRematchBtn" busy="true" ios:width="100" ios:height="50"
                    android:width="50" android:height="50" class="activity-indicator"></ActivityIndicator>
            </AbsoluteLayout>
        </GridLayout>
    </StackLayout>

    <StackLayout height="100%" class="dialog__wrapper">
        <AbsoluteLayout width="100%" height="100%">
            <GridLayout rows="200,*" height="100%" width="100%">
                <StackLayout row="1" class="main-dialog">
                    <FlexboxLayout class="dialog-title-container">
                        <Label text="Game summary" class="dialog-title" textWrap="true"></Label>
                        <Label text="&#xf00d;" class="fa close-tag" textWrap="true" (tap)="closeDialog()"></Label>
                    </FlexboxLayout>
                    <ScrollView height="100%">
                        <StackLayout>
                            <GridLayout rows="*" columns="auto,*" class="question"
                                *ngFor="let row  of questionsArray;let i=index;">
                                <Label row="0" col="0" *ngIf="row?.ansStatus" text="&#xf00c;" verticalAlignment="top"
                                    class="fa correct-icon" textWrap="true"></Label>
                                <Label row="0" col="0" *ngIf="!row?.ansStatus" text="&#xf00d;" verticalAlignment="top"
                                    class="fa wrong-icon" textWrap="true"></Label>
                                <StackLayout row="0" col="1" class="question-details">
                                    <Label text="{{row.questionText}}" class="question-content" textWrap="true"></Label>
                                    <GridLayout rows="*" columns="*,auto">
                                        <StackLayout row="0" col="0">
                                            <StackLayout *ngFor="let answer of row.answers">
                                                <FlexboxLayout *ngIf="row?.ansStatus && answer.correct">
                                                    <image src="~/assets/images/bits.png" width="30" height="30">
                                                    </image>
                                                    <Label class="quetion-bits"
                                                        text="+{{applicationSettings?.tokens?.enable === true && applicationSettings?.tokens?.earn_bits}}"
                                                        textWrap="true"></Label>
                                                </FlexboxLayout>
                                                <Label *ngIf="answer.correct" class="correct-answer"
                                                    text="Correct Answer: {{answer.answerText}}"
                                                    textWrap="true"></Label>
                                            </StackLayout>
                                            <Label *ngIf="!row?.ansStatus" class="your-answer"
                                                text="Your Answer: {{row.userGivenAnswer ? row.userGivenAnswer : 'No answer' }}"
                                                textWrap="true"></Label>
                                        </StackLayout>
                                        <StackLayout row="0" col="1" horizontalAlignment="right"
                                            verticalAlignment="center">
                                            <Button col="3" rowSpan="3" verticalAlignment="center"
                                                style="color:#3b444f; border-width:2px; border-color:#f3f3f3; padding:10"
                                                text="Report" marginRight="10" *ngIf="!game.playerQnAs[i].isReported"
                                                (rippleTap)="openDialogReport(row)" stlRippleEffect></Button>
                                            <Label col="3" rowSpan="3" text="Reported" verticalAlignment="center"
                                                marginRight="10" color="red" fontWeight="600" textWrap="true"
                                                *ngIf="game.playerQnAs[i]?.isReported"></Label>
                                        </StackLayout>
                                    </GridLayout>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </GridLayout>
        </AbsoluteLayout>
    </StackLayout>

    <StackLayout *ngIf="reportQuestion" height="100%" class="dialog__wrapper--report">
        <AbsoluteLayout width="100%" height="100%">
            <GridLayout rows="25,*" height="100%" width="100%">
                <StackLayout row="1" class="main-dialog" padding="30 0 5 0">
                    <report-game (closePopUp)="closeDialogReport($event)" [question]="reportQuestion" [user]="user"
                        [game]="game" [userDict]="userDict">
                    </report-game>
                </StackLayout>
            </GridLayout>
        </AbsoluteLayout>
    </StackLayout>
</GridLayout>