<ng-container>
    <div class="col-xs-12 textcenter clearfix">
        <div>
            <div *ngIf="game.gameOptions.playerMode == PlayerMode.Single">
                <div class="success result" *ngIf="game.winnerPlayerId && game.winnerPlayerId === user.userId">Won</div>
                <div class="label result" *ngIf="game.winnerPlayerId || game.winnerPlayerId !== user.userId">Lost</div>
            </div>

            <div *ngIf="game.gameOptions.playerMode == PlayerMode.Opponent">
                <div class="success result" *ngIf="game.winnerPlayerId && game.winnerPlayerId === user.userId">Won</div>
                <div class="label result" *ngIf="game.winnerPlayerId && game.winnerPlayerId !== user.userId">Lost</div>
                <div class="success result" *ngIf="!game.winnerPlayerId">Tie</div>
            </div>

        </div>
        <div class="dark">{{categoryDict[game.gameOptions.categoryIds[0]].categoryName.charAt(0).toUpperCase() + categoryDict[game.gameOptions.categoryIds[0]].categoryName.slice(1)}}</div>
        <div class="col-xs-12 no-padding card-bottom-spacing" *ngIf="game.gameOptions.playerMode==PlayerMode.Opponent">
            <div class="col-xs-6 no-padding card-center-position" *ngIf="game.winnerPlayerId === user.userId">
                <p class="light">Your</p>
                <p class="light">Score {{game.stats[game.winnerPlayerId]?.score}}</p>
            </div>
            <div class="col-xs-6 no-padding" [ngClass]="game.winnerPlayerId !== user.userId?'card-border-right':'card-border-left'">
                <div class="yourimg">
                    <img *ngIf="!userDict[getOpponentId(game)]?.profilePictureUrl" src="assets/images/default-avatar.png" alt="user1" />
                    <img *ngIf="userDict[getOpponentId(game)]?.profilePictureUrl" [src]="userDict[getOpponentId(game)]?.profilePictureUrl" alt="user1"
                    />

                </div>
                <p class="light">{{userDict[getOpponentId(game)]?.displayName}}</p>
                <p class="light">Score {{game.stats[getOpponentId(game)]?.score}}</p>
            </div>
            <div class="col-xs-6 card-left-border no-padding card-center-position" *ngIf="game.winnerPlayerId !== user.userId">
                <p class="light">Your</p>
                <p class="light">Score {{game.stats[user.userId]?.score}}</p>
            </div>
        </div>
        <div class="col-xs-12 no-padding card-bottom-spacing" *ngIf="game.gameOptions.playerMode==PlayerMode.Single">
            <div class="yourimg">
                <img *ngIf="!user?.profilePictureUrl" src="assets/images/default-avatar.png" alt="user" />
                <img *ngIf="user?.profilePictureUrl" [src]="user?.profilePictureUrl" alt="user" />

            </div>
            <p class="light">{{user?.displayName}}</p>
            <p class="light">Score {{game.stats[game.winnerPlayerId]?.score}}</p>
        </div>
    </div>
</ng-container>