<div class="row">
  <div class="col-md-2  col-sm-2 col-xs-12 user-img">
    <img [src]="getImageUrl(userDict[invitation.created_uid])" alt="User Profile Picture" />
  </div>
  <div class="col-md-7 col-sm-2  col-xs-12 text-align">
    <div class="dark ellipsis col-xs-12" title="{{userDict[invitation.created_uid]?.displayName}}">{{userDict[invitation.created_uid]?.displayName}}</div>
    <div class="light col-xs-12">{{invitation.status}}</div>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-12 text-align">
    <a class="btn" (click)="acceptFriendInvitation()">Accept </a>
    <a class="reject-btn" (click)="rejectFriendInvitation()">Reject </a>
  </div>
</div>