<mat-dialog-content>
  <!-- <div *ngIf="!currentQuestion && !gameOver" class="cd-popup-container"> -->
  <img class="no-card" *ngIf="!currentQuestion && !gameOver && !showBadge" src="/assets/images/loader.jpg">
  <!-- </div> "-->
  <div class="" *ngIf="!currentQuestion && !gameOver && showBadge">
    <div class=" main-div textcenter">
      <div class="badge-icon">
        <div class="circle">
          <div class="sprite begde1 circle-image"></div>
        </div>
      </div>
      <div class="text textcenter">
        <span> Give the right answer & with this badge</span>
      </div>
    </div>
  </div>

  <game-question *ngIf="currentQuestion" [categoryName]="categoryName" [question]="currentQuestion" [questionIndex]="questionIndex"
    [timer]="timer" [continueNext]="continueNext" [correctCount]="correctAnswerCount" [noOfQuestions]="questionIndex" [showContinueBtn]="showContinueBtn"
    [otherPlayer]="otherPlayer" (answerClicked)="answerClicked($event)" (okClick)="okClick($event)" (continueClicked)="continueClicked($event)"
    (viewQuestionClicked)="viewQuestionClicked($event)">
  </game-question>

  <game-question-continue *ngIf="false" class="overlay" [categoryName]="categoryName" [question]="currentQuestion" (continueClicked)="continueClicked($event)"
    (viewQuestionClicked)="viewQuestionClicked($event)">
  </game-question-continue>

  <game-over *ngIf="gameOver" class="overlay" [correctCount]="correctAnswerCount" [noOfQuestions]="questionIndex" (gameOverContinueClicked)="gameOverContinueClicked($event)"
    (viewQuestionClicked)="viewQuestionClicked($event)">
  </game-over>
</mat-dialog-content>