<mat-dialog-content>
<div *ngIf="!currentQuestion && !gameOver" class="cd-popup-container">
  Loading
</div>

<game-question *ngIf="currentQuestion && !turnStatus " 
  [categoryName]="categoryName"
  [question]="currentQuestion"
  [questionIndex]="questionIndex"
  [timer]="timer"
  [continueNext]="continueNext"
  [correctCount]="correctAnswerCount"
  [noOfQuestions]="questionIndex"

  (answerClicked)="answerClicked($event)"
  (okClick)="okClick($event)"
  (continueClicked)="continueClicked($event)"
  (viewQuestionClicked)="viewQuestionClicked($event)">
</game-question>
<div *ngIf="turnStatus">
  <h2>Waiting for my turn</h2>
</div>
<game-question-continue *ngIf="false" class="overlay"
  [categoryName]="categoryName"
  [question]="currentQuestion"
  (continueClicked)="continueClicked($event)"
  (viewQuestionClicked)="viewQuestionClicked($event)">
</game-question-continue>
<game-over *ngIf="gameOver" class="overlay"
  [correctCount]="correctAnswerCount"
  [noOfQuestions]="questionIndex"
  (gameOverContinueClicked)="gameOverContinueClicked($event)"
  (viewQuestionClicked)="viewQuestionClicked($event)">
</game-over>
</mat-dialog-content>
