<div class="card">
  <div class="subscrib-cion sprite"></div>
  <div class="subscrib-cont">
    <h2>Sign up for our newsletter to stay connected </h2>
    <p>Subscribe to our bi-weekly email newsletter for useful tips and valuable resources.</p>
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <input placeholder="enter your email ID" type="email" name="enter your email ID" value="" required="">
        </div>
        <div class="col-sm-5 col-xs-12">
          <button class="btn">Subscribe</button>
        </div>
      </div>
    <div class="subs-bottom">2145 Subscribers</div>
    <div class="subs-bottom">powered by Mailchimp</div>
  </div>
</div>
