<GridLayout rows="auto,auto,auto" columns="auto,*,auto" padding="5">
    <Image row="0" col="0" rowSpan="3" [src]="getImageUrl(userDict[game.playerIds[0]])" 
    stretch="aspectFill" height="50" width="50"
    marginLeft="10" verticalAlignment="center" marginRight="10"  borderRadius="50" paddingLeft="10" paddingTop="10"></Image>
    <Label row="0" col="1" text="{{userDict[game.playerIds[0]]?.displayName}}" textWrap="true" class="sub-title"></Label>
    <Label row="1" col="1" text="{{categoryDict[game.gameOptions?.categoryIds[randomCategoryId]]?.categoryName?.charAt(0)?.toUpperCase()
            + categoryDict[game.gameOptions?.categoryIds[randomCategoryId]]?.categoryName?.slice(1)}}" fontSize="12"></Label>
    <Label row="2" col="1" text="{{remainingDays}} days left to accept invitation" marginBottom="11"
        horizontalAlignment="left" textWrap="true" color="#fe4f20" fontSize="12"></Label>
    <Button row="0" col="2" rowSpan="2" text="Accept" tap="" verticalAlignment="top" backgroundColor="#71b02b" color="#fff" [nsRouterLink]="['/game-play', game.gameId]"></Button>
    <Button row="2" col="2" text="Reject" tap="" verticalAlignment="top" backgroundColor="#f50057" color="#fff" (tap)="rejectGameInvitation()"></Button>
</GridLayout>