<StackLayout margin="15" class="mobile">
    <!-- <StackLayout orientation="horizontal">
        <AbsoluteLayout height="50" width="50" backgroundColor="#f9f9f9" borderRadius="8" class="buddy-icon-container">
            <Image src="~/assets/images/mobile/user-blue.png" top="15" right="15" left="10" width="18" height="18"
                class="buddy-icon"></Image>
            <Image src="~/assets/images/mobile/user-blue.png" top="15" right="15" left="25" width="15" height="15"
                class="buddy-icon"></Image>
        </AbsoluteLayout>
        <Label padding="10" text="Bitwiser is more fun with your best buddies" textWrap="true" class="invite-main-title"></Label>
    </StackLayout> -->

    <GridLayout rows="*, *" columns="auto, *">
        <AbsoluteLayout row="0" col="0" class="buddy-icon-container">
            <Image src="~/assets/images/mobile/user-blue.png" top="15" right="15" left="10" width="18" height="18"
                class="buddy-icon"></Image>
            <Image src="~/assets/images/mobile/user-blue.png" top="15" right="15" left="25" width="15" height="15"
                class="buddy-icon"></Image>
        </AbsoluteLayout>
        <Label row="0" col="1" padding="0 10 10 10" text="Bitwiser is more fun with your best buddies" class="invite-main-title"
            textWrap="true"></Label>
        <Label *ngIf="uFriends && uFriends.length > 0" class="invite-sub-title" text="Invite your friend to play along with you"
            row="1" col="1" textWrap="true"></Label>
    </GridLayout>

    <GridLayout *ngIf="uFriends && uFriends.length > 0" rows="*" columns="*,*,*,*,*, auto" iosOverflowSafeArea="false">
        <StackLayout (rippleTap)="startNewGame('friend',frienduser?.userId )" stlRippleEffect *ngFor="let frienduser of uFriends| slice:0:5; let i =index"
            row="0" col="{{i}}">
            <app-user-card [userId]="frienduser?.userId" [type]="userCardType.USER_IMAGE_WITH_ONLINE_STATUS">
            </app-user-card>
        </StackLayout>
            <Label row="0" col="6" text="&#xf054;" color="gray" class="fa" (rippleTap)="startNewGame('random')" stlRippleEffect  marginLeft="10" verticalAlignment="middle"  fontSize="20" ></Label>
    </GridLayout>
    <StackLayout marginTop="20" orientation="horizontal">
        <Label *ngIf="uFriends && uFriends.length > 0" verticalAlignment="bottom" marginRight="10" text="or" class="invite-sub-title"></Label>
        <Label text="Find a friend for me  >" class="btn-transparent blue-border" stlRippleEffect (rippleTap)="startNewGame('random')"></Label>
    </StackLayout>
</StackLayout>