<StackLayout  marginTop="10" marginBottom="10">
    <Label padding="10" text="Bitwiser is more fun with your best buddies" textWrap="true" class="invite-main-title" ></Label>
    <Label   *ngIf="uFriends && uFriends.length > 0" padding="0 10 20 10" text="Invite your friends to play" class="invite-sub-title" ></Label>
    <GridLayout   *ngIf="uFriends && uFriends.length > 0" rows="*" columns="*,*,*,*,*"   iosOverflowSafeArea="false">
        <StackLayout (rippleTap)="startNewGame('friend',frienduser?.userId )" stlRippleEffect *ngFor="let frienduser of uFriends| slice:0:5; let i =index" row="0" col="{{i}}">
            <app-user-card   [userId]="frienduser?.userId" [type]="userCardType.USER_IMAGE_WITH_ONLINE_STATUS">
            </app-user-card>
        </StackLayout>
        <!-- <StackLayout row="0" col="5"  verticalAlignment="middle">
                <Label   text="&#xf054;" class="fa" fontSize="20" ></Label>
        </StackLayout> -->
    </GridLayout>
    <FlexboxLayout margin="10">
            <Label *ngIf="uFriends && uFriends.length > 0" marginRight="10" text="OR" class="invite-sub-title" ></Label>
            <Label (rippleTap)="startNewGame('random')" stlRippleEffect text="Find a friend for me  >" class="find-friend"></Label>
    </FlexboxLayout>
</StackLayout>