.invite-main-title {
    font-size: 25;
    color: #000000;
    font-weight: bold;
}

.invite-sub-title {
    font-size: 18;
    color: #a7a7a7;
    font-weight: 500;
}

.find-friend{
    font-size: 20;
    color: #4773b8;
    font-weight: bold;
}

.sub-title{
    color: #7c7c7c;
    margin-top: 5px;
    margin-bottom: 17px;
    font-size: 16px;
}

.find-a-friend-link{
    color: #3b5998;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.user-card-container{
    display: flex;
    overflow-y: auto;
    margin-left: -15px;
    margin-right: -15px;
}

.user-card-container-sub{
    width: 20%;
}

@media screen and ( max-width:524px){
	.user-card-container-sub{
        width: auto;
    }

    .user-card-container{
        justify-content: space-between;
    }
}

.buddy-icon-container{
     transform: rotate(18deg);
     -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); 
}

.buddy-icon{
    transform: rotate(-18deg);
    -ms-transform: rotate(-18deg); /* IE 9 */
    -webkit-transform: rotate(-18deg); 
    // top:30;
    position: absolute;
}

.mobile {
    .invite-main-title{
        color: #212121;
        font-size: 18;

    }
    .invite-sub-title{
        color:#a5a5a5;
        font-size: 14;
        padding:0 0 15 10;
    }
    
}