.rejection-reason h4{ font-family: 'hindsemibold'; letter-spacing: 0.1px; margin-top: 13px;}
.rejection-reason{
    padding: 15px 18px;
    font-size: 16px;
    font-family: 'hindseminormal';
    padding-left: 36px;
    height: 191px;}
.cancelicon{float: right;cursor: pointer}
.message{max-width: 850px;}