<div class="col-md-4 col-xs-12 info" *ngFor="let blog of blogData;let i=index;">
  <div class="card" [ngClass]="blog.share_status?'card-opacity':''">
    <a class="blogimg" target="_blank" rel="noopener" [href]="blog.link">
      <img attr.data-src="{{ blog.thumbnail }}" alt="{{blog.title}}" alt="Blog Picture" />
    </a>
    <a target="_blank" [href]="blog.link" rel="noopener">
      <div class="blog-cont">
        <div class="T-tagging">
          <p class="block-with-text title-line-height">{{blog.title}}</p>
        </div>
        <h2 class="subtitle">
          <p class="block-with-text subtitle-line-height">{{blog.subtitle}}</p>
        </h2>
        <h1 class="subtitle blog-tags">
          <p class="minimize block-with-text category-line-height">{{blog.categories }}</p>
        </h1>
      </div>
    </a>
    <div class="blog-social" [ngClass]="blog.share_status?'hide-top-border':''">
      <div class="col-xs-4" [ngClass]="blog.share_status?'hide-bottom':''">
        <div class="commenticon sprite "></div>{{blog.commentCount}}
      </div>
      <div class="col-xs-6" [ngClass]="blog.share_status?'hide-bottom':''">
        <div class="viewicon sprite"></div>{{blog.viewCount}}
      </div>
      <div class="col-xs-2 align-right share" (click)="blog.share_status=!blog.share_status">
        <span class="shareicon sprite"></span>
      </div>
    </div>
  </div>
  <social-palette *ngIf="blog.share_status" [blogData]="blog" (notify)="onNotify($event)" [isFromBlog]=true class="spacing"></social-palette>
</div>