<mat-dialog-content class="cd-popup">
  <mat-card class="cd-popup-container">
    <mat-card-content>
      <div class="sprite cancelicon col-sm-1" (click)="closeModel()"></div>
      <mat-card-title>
        <span>Enable location in browser</span>
      </mat-card-title>
      <mat-card-subtitle>
        <P class="cd-popup-container"> Please enable location in you browser. please follow this link to enable it</P>
      </mat-card-subtitle>

    </mat-card-content>
  </mat-card>

</mat-dialog-content>