<div class="row" *ngIf="scoreList.length>0 && userDict">
  <div *ngFor="let result of scoreList | slice:0:3; let i=index">
    <div class="col-md-4 col-xs-12 categorybox skyblue">
      <h3>{{categoryDict[result.catId].categoryName.charAt(0).toUpperCase() + categoryDict[result.catId].categoryName.slice(1)}}</h3>
      <ul>
        <li *ngFor="let user of result.users | slice:0:3;let i=index;">
          <div class="row" >
            <div class="col-xs-2 has">#{{index}}</div>
            <div class="col-xs-3">
              <a href="#">
                <img *ngIf="userDict[user]?.profilePictureUrl" [src]="userDict[user]?.profilePictureUrl" alt="user1" />
              </a>
            </div>
            <div class="col-xs-4">
              <a href="#" class="dark">{{userDict[user]?.displayName}}</a>
              <div class="light">{{userDict[user]?.location}}</div>
            </div>
            <div class="col-xs-3">
              <div class="dark">{{result.count[i]}}</div>
              <div class="light">points</div>
            </div>
          </div>
        </li>       
      </ul>
    </div>
  </div> 
</div>