<GridLayout>
  <GridLayout [class.dialogOpen]="dialogOpen"  rows="*" columns="*">
      <GridLayout row="0" col="0" padding="15 15" rows="auto,auto,auto,*" columns="*">
        <StackLayout row="0" col="0" orientation="horizontal">
          <Label  text="&#xe906;"  ios:paddingTop="10" android:paddingTop="3" fontSize="20" class="ico icon-back back-btn" (rippleTap)="back()" stlRippleEffect></Label>
          <Label  marginLeft="20" fontWeight="600" color="#000" fontSize="20" marginTop="0" text="Invite for play together" *ngIf="gameOptions.playerMode === 1 && chooseOptionsStep == 1" textWrap="true"></Label>
        </StackLayout>
          <GridLayout row="1" col="0"  rows="auto" columns="*,90" marginBottom="10">
            <FlexboxLayout class="main-title" flexDirection="column" row="0" col="0">
              <Label *ngIf="gameOptions.playerMode === 0" text="Play as a"  color="#000000">
              </Label>
              <Label *ngIf="gameOptions.playerMode === 0" text="single player" color="#3b5998">
              </Label>
              <Label  *ngIf="gameOptions.playerMode === 1 && chooseOptionsStep == 0" textWrap="true">
                <FormattedString>
                  <Span text="Play" color="#000000" ></Span>
                  <Span text=" together" color="#3b5998"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>
            <StackLayout (rippleTap)="changePlayGameWith(gameOptions.playerMode === 0 ? 1 : 0)" stlBackgroundColor="transparent" *ngIf="chooseOptionsStep == 0" col="1" row="0" stlRippleEffect>
                <Label text="&#xe929;" class="ico icon-friends btn-player"></Label>
                <Label  class="btn-player-text" [text]="gameOptions.playerMode === 0 ? 'Switch to two player' : 'Switch to single player'" textWrap="true" ></Label>
            </StackLayout>
          </GridLayout>
          <GridLayout *ngIf="chooseOptionsStep == 1 && gameOptions.playerMode === 1" row="2" col="0" rows="auto,auto" columns="*, 70">
            <Label text="Your opponent" paddingBottom="15" color="#a5a5a5" row="0" col="0" textWrap="true"></Label>
            <StackLayout row="1" col="0"  >
              <app-user-card [userId]="friendUserId" [otherInfo]="{lastGamePlayed: userDict[friendUserId]?.date, isRandom: gameOptions.opponentType === 0}"
              [type]="userCardType.USER_IMAGE_NAME_LAST_GAME_PLAYED_HORIZONTAL"> </app-user-card>
            </StackLayout>
            <Label text="CHANGE" (rippleTap)="changePlayGameWith()" color="#3b5998" fontWeight="600" fontSize="14" verticleAlignment="center" row="1" col="1"  rowSpan="2" textWrap="true" stlBackgroundColor="transparent" stlRippleEffect></Label>
          </GridLayout>
          <GridLayout *ngIf="gameOptions.opponentType === 1 && gameOptions.playerMode === 1 && chooseOptionsStep === 0" row="3" col="0" rows="auto,auto,*" columns="*">
            <Label text="Choose opponent" paddingBottom="15" color="#a5a5a5" row="0" col="0" textWrap="true"></Label>
            <TextField row="1"  col="0" hint="Search in your friend list" (textChange)="onSearchFriendTextChange($event)" returnKeyType="next" class="text-field"></TextField>
            <RadListView pullToRefresh="false" row="2"  col="0" separatorColor="#00000000" [filteringFunction]="filterFriendFunc"  #friendListView [items]="uFriends" height="100%" ios:minHeight="100">
                <ng-template  tkListItemTemplate  let-item="item">
                  <GridLayout paddingTop="20" rows="*,auto" columns="*" (tap)="selectFriendIdApp(item)">
                    <app-user-card row="0" col="0" [userId]="item.userId" [otherInfo]="{lastGamePlayed: item?.date}"
                    [type]="userCardType.USER_IMAGE_NAME_LAST_GAME_PLAYED_HORIZONTAL"> </app-user-card>
                    <StackLayout row="1" col="0" marginTop="15" row="1" col="0" colSpan="3" ios:backgroundColor="#f2f2f2" android:backgroundColor="#e2e2e2" height="1"></StackLayout>
                  </GridLayout>
                </ng-template>
              </RadListView>
              <AbsoluteLayout backgroundColor="#fff" verticalAlignment="bottom" row="2"  col="0" >
                <StackLayout width="100%">
                  <Label text="Play with a random friend" class="info-text" padding="10 0 10 0" textWrap="true"></Label>
                  <Button  text="Find a friend for me" borderRadius="4" class="btn-transparent Roboto-Medium"
                  (rippleTap)="chooseRandomPlayer()" height="70" stlRippleEffect></Button>
                </StackLayout>
              </AbsoluteLayout>
          </GridLayout>
          <ScrollView *ngIf="gameOptions.playerMode === 0 || (chooseOptionsStep == 1 && gameOptions.playerMode === 1 && (gameOptions.opponentType == 0 || gameOptions.opponentType == 1))" row="3" col="0">
              <GridLayout rows="auto,auto,auto,auto" columns="*">        
                <Label class="info-text" row="0" col="0"  text="Based on your profile below are categories, you unselect and select categories. This won't effect your profile" textWrap="true"></Label>
                <FlexboxLayout row="1" col="0" flexWrap="wrap" margin="0 -10 0 -5" horizontalAlignment="center">
                    <FlexboxLayout *ngFor="let item of filteredCategories, let i = index" stlRippleEffect flexDirection="column" justifyContent="center" alignItems="center"
                      (rippleTap)="selectCategory(i)"
                      [ngStyle]="{background: (item.requiredForGamePlay || item.isSelected ? '#48b24e' : '#fafafa'), color : (item.requiredForGamePlay || item.isSelected ? '#fff' : '#6c63ff') }"
                      borderRadius="5" class="stats-box border">
                      <Label [text]="item.categoryName" padding="15 10" ></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <StackLayout marginTop="10" *ngIf="applicationSettings && applicationSettings.game_play_show_tags" row="2" col="0" iosOverflowSafeArea="false">
                    <StackLayout *ngIf="selectedTags.length>0" marginBottom="5">
                            <FlexboxLayout *ngIf="selectedTags" flexWrap="wrap">
                                <StackLayout *ngFor="let tags of let tag of selectedTags, let i = index">
                                    <FlexboxLayout  alignItems="center" [style.backgroundColor]="theme === 'dark' ? '#405177':'#e2e2e2'"
                                    [style.color]="theme === 'dark' ? '#a5a5a5' : '#808080'" borderRadius="22" margin="2.5 2.5" padding="5 10" >
                                        <Label  [text]="tags" textWrap="true"></Label> 
                                        <Label  color="#000000" text="&#xe922;" fontSize="10" class="ico icon-close" padding="7 5 7 7" (tap)="removeEnteredTag(tag)"></Label>  
                                    </FlexboxLayout>
                                </StackLayout>
                            </FlexboxLayout>
                    </StackLayout>
                    <GridLayout rows="auto" columns="*,85" paddingBottom="10" class="two-player-option">
                        <StackLayout marginRight="5" row="0" col="0" tkExampleTitle tkToggleNavButton ios:backgroundColor="#ffffff">
                            <RadAutoCompleteTextView borderWidth="1" borderColor="#a5a5a5" color="black"  #autocomplete hint="Select Tag" [items]="dataItems" completionMode="Contains"
                                showCloseButton="true" (didAutoComplete)="onDidAutoComplete($event)" (textChanged)="onTextChanged($event)"
                                borderRadius="3" height="60" paddingLeft="10"
                                ios:backgroundColor="#ffffff">
                                <SuggestionView tkAutoCompleteSuggestionView>
                                    <ng-template tkSuggestionItemTemplate let-item="item">
                                        <StackLayout orientation="vertical" padding="20">
                                            <Label [text]="item.text"></Label>
                                        </StackLayout>
                                    </ng-template>
                                </SuggestionView>
                            </RadAutoCompleteTextView>
                        </StackLayout>
                        <Button marginRight="5" row="0" col="1" (tap)="addCustomTag()" stlBackgroundColor="white"  text="Add" class="Roboto-Bold btn-transparent blue-border" 
                            fontSize="16" android:fontSize="10" borderRadius="4" stlRippleEffect></Button>
                    </GridLayout>
                </StackLayout>
                <Button  marginRight="5" row="3" col="0" text="START A NEW GAME" class="btn-blue Roboto-Medium"
                  (rippleTap)="showDialog()" height="70" stlRippleEffect></Button>
              </GridLayout>
          </ScrollView>
      </GridLayout>
    <AbsoluteLayout (tap)="stopEventPropogation()" style="z-index: 1;" row="0" col="1" rowSpan="2" class="dialog__wrapper">
        <FlexboxLayout  width="100%" height="100%" style="z-index: 1;" justifyContent="space-around" alignItems="center">
            <StackLayout  class="main-dialog">
              <GridLayout width="auto" rows="auto" columns="auto" horizontalAlignment="right">
                  <AbsoluteLayout  row="0" col="0">
                      <Label  text="&#xe922;" fontSize="18" backgroundColor="transparent" class="ico icon-back" (rippleTap)="dialogOpen = false"  stlRippleEffect></Label>
                  </AbsoluteLayout>
              </GridLayout>
          <Label color="#9ccc65" text="&#xe93d;" fontSize="80" class="ico icon-back mountainwithflag"></Label>
          <Label text="Collect all badges to win" class="sub-title" textWrap="true"></Label>
          <FlexboxLayout class="badge-container">
            <Image src="res://badge1" class="badges"></Image>
            <Image src="res://badge2" class="badges"></Image>
            <Image src="res://badge3" class="badges"></Image>
            <Image src="res://badge4" class="badges"></Image>
            <Image src="res://badge5" class="badges"></Image>
          </FlexboxLayout>

          <FlexboxLayout (rippleTap)="startGame()" class="Hind-Medium continue-btn" stlRippleEffect>
            <Label text="Start Game" color="white"></Label>
            <ActivityIndicator *ngIf="showGameStartLoader" marginRight="-30"   marginRight="-30" ios:width="25" ios:height="25" android:width="25"
              android:height="25" busy="true" class="activity-indicator"></ActivityIndicator>
          </FlexboxLayout>
        </StackLayout>
      </FlexboxLayout>
    </AbsoluteLayout>
  </GridLayout>
  </GridLayout>
