@import '../../../../../../trivia/src/app-variables';
.new-game {
  .selected-player {
    background-color: #89C24F;
    color: #fff;
  }

  .player-type {
    background-color: #ffffff;
  }

  .player-type, .label{
    color:#616161;
  }

  .two-player-option{
    border-color: #D2D2D2;
    border-width: 0 0 1 0;
    border-style: solid;
  }

  .singlep-icon-mobile {
    background-position: -88px -200px;
    height: 53px;
    width: 53px;
    margin-right: 10px;
    background-repeat: no-repeat;
  }

  .bottom-border{
    border-color: #D2D2D2;
    border-width: 0 0 1 0;
    border-style: solid;
  }

  .friend-list{
    border-color: #D2D2D2;
    border-width:  1 1 0 1;
    border-style: solid;
    height: 130;
  }

  .expand-options{
    color: #A9A9A9;
    font-size: 11;
  }
  .main-label{
    color: red;
  }
}
Button {
  border-radius: 1;
}

.transparent-back{
  background-color: rgba(0, 0, 0, 0.3);
}

.main-dialog{
  z-index: 1000;
  background-color: #FFFFFF;
  border-radius: 4;
  padding: 25 20 30 30;
  .mountainwithflag {
    text-align: center;
  }
  .sub-title {
      font-weight: 600;
      font-size: 18;
      text-align: center;
      margin: 25 0 25 0;
      color: #212121;
  }
}

.continue-btn {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
  font-size: 22;
  border-width: 1;
  border-radius: 4;
  // width:60%;
  padding: 10 30;
  height:70;
  align-items:center;
  orientation:horizontal;
  justify-content:center;
  Label {
    vertical-alignment:center;
    margin:0;
    font-size:20;
    color: #fff;
  }

  .activity-indicator {
    margin-left:10;
    horizontal-alignment:right;
    vertical-alignment:center;
    color:#fff;
  }
}

.badges {
  height:41;
  width:41;
  vertical-alignment:center;
  margin: 0 5 0 5;
  border-radius:50;
  top:10;
  left:80;
}

.badge-container {
  justify-content:center;
  margin-bottom: 45;
}

.action-bar{
  padding: 0 10 0 10;
  background-color: #fff;
  color: #000;
  font-size: 20;
  Label {
    vertical-align: center;
  }
  width: 100%;
}

.dialog {
  .dialogOpen &__wrapper {
      visibility: visible;
  }

  &__wrapper {
      background: rgba(0, 0, 0, 0.5);
      visibility: collapse;
      width: 100%;
      z-index: 1;
  }
}

.stats-box {
  width: 45%;
  height: 100%;
}

.border {
  margin: 0 10 10 0;
}

.back-btn{
  padding-bottom:10;
  color:#000000;
}

.main-title {
  Label{
    font-size:35;
    font-weight:600;
  }
}

.btn-player {
  width:46;
  height:46;
  color:#3b5998; 
  padding:10; 
  border-width:1;
  border-radius:40;
  border-color:#3b5998;
  font-size:20;
}

.btn-player-text{
  font-size:14;
  text-alignment:center;
  margin-top:5;
  color:#3b5998;
}

.info-text{
  margin-right:10%;
  color:#A5A5A5;
  font-size:16;
  padding:10 0 20 0;
}

.btn-blue {
  font-size: 18;
  background-color: $btn-color;
  color: $font-color;
  margin: 20 0 10 0;
  padding: 15 0 15 0;
  border-radius: 4;
}