<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        <b>Invite your friends</b>
      </mat-card-title>
      <mat-card-subtitle>
        Ask your friends to join you on bitwiser
      </mat-card-subtitle>
      <mat-tab-group>
        <mat-tab label="Facebook friends">
          <mat-card-title>
            <b>Facebook friends</b>
          </mat-card-title>
        </mat-tab>
        <mat-tab label="Email contacts">
          <app-invite-mail-friends [user]="user"></app-invite-mail-friends>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</mat-dialog-content>