<div class="row">
  <div class="col-md-1 col-xs-12 usreimg"><a href="#"><img src="/assets/images/user1.jpg" alt="user1" /></a></div>
  <div class="col-md-2 col-xs-12">
    <a href="#" class="dark">Edhas</a>
    <div class="light">Friend</div>
  </div>
  <div class="row col-md-4 col-xs-12">
    <div class="col-lg-6 col-md-12 col-xs-8 T-tagging">Programming</div>
    <div class="col-lg-6 col-md-12 col-xs-4 clinton">Clinton</div>
  </div>                                
  <div class="col-md-3 col-xs-12"><a href="#" class="btn">Accept Inviatation</a></div>
  <div class="col-md-2 col-xs-12 invitationleft">1 days left to accept invitation</div>
</div>
