<div class="row">
  <div class="col-md-1 col-xs-12 usreimg">
    <a href="#">
      <img *ngIf="userDict[game.playerIds[0]]?.profilePictureUrl" [src]="userDict[game.playerIds[0]].profilePictureUrl" alt="user1"
      />
    </a>
  </div>
  <div class="col-md-2 col-xs-12">
    <a href="#" class="dark">{{userDict[game.playerIds[0]]?.displayName}}</a>
    <div class="light">{{gameStatus}}</div>
  </div>
  <div class="row col-md-4 col-xs-12">
    <div class="col-lg-6 col-md-12 col-xs-8 T-tagging">{{categoryDict[game.gameOptions.categoryIds[randomCategoryId]].categoryName.charAt(0).toUpperCase() + categoryDict[game.gameOptions.categoryIds[randomCategoryId]].categoryName.slice(1)}}</div>
    <div class="col-lg-6 col-md-12 col-xs-4 clinton">{{userDict[game.gameOptions.categoryIds[0]]?.location}}</div>
  </div>
  <div class="col-md-3 col-xs-12">
    <a class="btn" [routerLink]="['/game-play', game.gameId]">Accept Invitation</a>
  </div>
  <div class="col-md-2 col-xs-12 invitationleft">1 days left to accept invitation</div>
</div>