<div class="row">
  <div class=" col-sm-3 col-xs-12 clearfix">
    <div class="timestats-icon sprite"></div>
    <h2>Real-time System Stats</h2>
  </div>
  <div class=" col-sm-9 col-xs-12">
    <div class="time-stats">
      Total No of Users
      <div class="time-count unavailable">Too soon</div>
    </div>
    <div class="time-stats">
      Total No Of Questions
      <div class="time-count">570</div>
    </div>
    <div class="time-stats">
      Users Currently playing
      <div class="time-count unavailable">Too soon</div>
    </div>
    <div class="time-stats">
      Current Server Load
      <div class="time-count unavailable">Hardly any</div>
    </div>
  </div>
</div>
