<div>
  <div class="row">
    <div class="pageheading col-md-4 col-xs-12 hidden-xs">Questions</div>
    <div class="archive-div col-md-5 col-xs-6 hidden-xs align-right" *ngIf="selectedTab==1">
      <label>Show Bulk Questions</label>
      <mat-button-toggle-group #group="matButtonToggleGroup" value="{{toggleValue}}">
        <mat-button-toggle value=true (click)="tapped(true)">
          On
        </mat-button-toggle>
        <mat-button-toggle value=false (click)="tapped(false)" selected>
          Off
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="card">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedTab">
      <mat-tab label="Published">
        <question-search [questionsSearchResults]="(questionsSearchResultsObs | async)" [categoryDictionary]="categoryDictObs | async"
          [categoriesObs]="categoriesObs" (onPageChanged)="pageChanged($event)" (onCategoryChanged)="categoryChanged($event)"
          (onTagChanged)="tagChanged($event)" (onSortOrderChanged)="sortOrderChanged($event)" class="flex-container"
          fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start" [quillConfig]="quillConfig" [applicationSettings]="applicationSettings">
        </question-search>
      </mat-tab>
      <mat-tab label="Unpublished">
        <h4 class="filter-h4">Question Filter</h4>
        <section class="filter-section">
          <mat-checkbox class="filter-margin" [value]="PENDING" [checked]="filteredStatus.indexOf(PENDING)!==-1"
            (change)="applyFilter(PENDING, $event)">Pending</mat-checkbox>
          <mat-checkbox class="filter-margin" [value]="REJECTED" (change)="applyFilter(REJECTED, $event)">Rejected</mat-checkbox>
          <mat-checkbox class="filter-margin" [value]="INACTIVE" (change)="applyFilter(INACTIVE, $event)">Inactive</mat-checkbox>
          <mat-checkbox class="filter-margin" [value]="REQUIRED_CHANGE" (change)="applyFilter(REQUIRED_CHANGE, $event)">Required
            Change</mat-checkbox>
        </section>

        <mat-divider></mat-divider>

        <question-table [showSort]="false" [showPaginator]="true" [questions]="unpublishedQuestionsObs | async"
          [totalCount]="10" [categoryDictionary]="categoryDictObs | async"  [categoriesObs]="categoryDictObs"  [showApproveButton]="true" [showButtons]="true"
          [userDict]="userDict" [user]="user" [clientSidePagination]="true" [tagsObs]="tagsObs" [categoriesObs]="categoriesObs"
          (approveUnpublishedQuestion)="approveUnpublishedQuestions($event)" (updateUnpublishedQuestions)="updateUnpublishedQuestions($event)" [quillConfig]="quillConfig" [applicationSettings]="applicationSettings">
        </question-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>