mat-card-content>:last-child, mat-card>:last-child{
  margin-bottom: 15px;
}
mat-card-content>:first-child, mat-card>:first-child{
  margin-top: 15px;
}
mat-card {
  margin: 15px;
}
.archive-div
{
  font-size: 16px;
  font-family: 'hindsemibold';
}

.filter-h4 {
  margin: 5px;
}

.filter-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.filter-margin {
  margin: 0 10px;
}