<div class="container footer">
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <div class="col-xs-12 menu" [ngClass]="!user?'col-lg-6 col-md-6 col-sm-6 ':'col-md-12 col-sm-12 col-lg-12'">
      <a [routerLink]="['/']" title="Home">Home</a>
      <a *ngIf="user?.roles?.admin" href="{{hostname}}">Admin</a>
      <a *ngIf="user" [routerLink]="['/user/my/questions']" title="My Questions" class="myQuestion">My
        Questions</a>
      <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
      <a [routerLink]="['/terms-and-conditions']">Terms of Use</a>
      <a *ngIf="user?.roles?.admin || user?.roles?.bulkuploader" [routerLink]="['/bulk']">Bulk</a>
      <a href="https://blog.realworldfullstack.io/" target="_blank" rel="noopener" title="Blog">Blog</a>
      <a href="https://github.com/anihalaney/rwa-trivia" target="_blank" rel="noopener" title="Github">Github</a>
      <ng-container *ngIf="!user">
        <a class="login" (click)="loginClicked.emit($event)" title="Sign in">Sign in</a>
      </ng-container>
      <a *ngIf="user" class="logout" (click)="logoutClicked.emit($event)" title="Logout">Logout</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 menu">
      <div *ngIf="!user" class="footer-social-icon pull-left icon-container">
        <share-button [theme]="'circles-dark'" [button]="'facebook'" [size]="4" [url]="blogUrl" [autoSetMeta]="false">
        </share-button>
        <share-button [theme]="'circles-dark'" [button]="'twitter'" [size]="4" [url]="blogUrl" [autoSetMeta]="false">
        </share-button>
        <share-button [theme]="'circles-dark'" [button]="'linkedin'" [size]="4" [url]="blogUrl" [autoSetMeta]="false">
        </share-button>
       
      </div>
      <div *ngIf="!user && (appStoreUrl !==''|| playstoreUrl!=='')"  class="store-icon-div pull-left">
        <a *ngIf="appStoreUrl!==''" [href]="appStoreUrl" target="_blank"><img class="app-store-img" src="/assets/images/appstore-badge.svg"/></a>        
        <a *ngIf="playstoreUrl!==''" target="_blank" [href]='playstoreUrl'><img alt='Get it on Google Play' class="play-store-img" src='assets/images/google-play-badge.png'/></a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 copyright textright">bitWiser © 2017. All rights reserved.</div>
</div>