.footer{ font-size: 13px; line-height: 45px; padding:15px 0}
.footer a{ display: inline-block; margin-right: 2.9%; letter-spacing: 0.2px }
.footer a:last-child{ margin-right: 0px; }
.signup, .logout, .login, .myQuestion {
  cursor: pointer;
}
.store-icon-span { 
  height: 20px;
  a {
    height: 22px;
    margin-left: 4px;
    margin-right: 4px;
      img {
        height: 35px;
      }
  }
} 

.menu {padding-right : 0px;}
.store-icon-span:hover img {
  opacity: 1.0; 
}
@media screen and ( min-width:768px){      
  .textright{text-align: right;}
}
@media screen and ( max-width:768px){      
  .footer{ text-align: center; line-height: 2 }
}
