<ns-action-bar title="Login" showAdd="true" (open)="openDrawer()"></ns-action-bar>
<RadSideDrawer #drawerComponent tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <ns-drawer-component (output)="onCloseDrawerTap()"></ns-drawer-component>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent backgroundColor="#f8f8f8">
        <StackLayout>
            <Button class="new-btn" text="Login with Google" (tap)="googleLogin()"></Button>
            <Button class="startgame" text="Login with Facebook" (tap)="facebookLogin()"></Button>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>



