@media screen and ( min-width:400px){
	.headerdrop{ margin-left: 35px; }
	.settingicon, .logouticon{ margin-right: 12px; vertical-align: -3px;}
}
@media screen and ( min-width:767px){
	.breadcrumbs{ padding-left: 0 }
	.btn{display: inline-block; padding: 10px 25px}	
	h2{ font-size: 22px; }
	.clinton, .invitationlist .T-tagging{ line-height: 65px; }	
	main h2 span{ display: inline-block; padding-left: 15px; }

	.startgame{ padding: 0 15px; width: auto;}
	.h1block{padding:0 30px 20px; }
	.sunicon{vertical-align: -4px; }
	.has { line-height: 50px;; height: 50px; }
	.question-cont{ float: left; width: calc(100% - 65px) ;}
	.question-list li{ width: 48%; margin-right: 4%; float: left; }
	.question-list li:nth-child(2n +2){ margin-right: 0 }
	.time-stats{ border-width: 1px; float: left; padding: 8px 18px; width: 48%}

	.optionbox h2{ margin-top: 17px }
	.optionbox h2 span{ font-size: 22px }
	.optionbox .radiobtn label { width: calc(50% - 17px); margin-right:30px }
	.optionbox .radiobtn label:nth-child(4),.optionbox .radiobtn .towplayer label:nth-child(6) { margin-right:0; }

	.optionbox .radiobtn .towplayer label{ width: calc(33.33% - 10px); margin-right: 10px; }
	.optionbox .towplayer .withfriends label{ width: 100%; margin-right: 0 }

	.withfriends .owl-prev{ left: -100px }
	.withfriends .owl-next{ right: -100px }
	.withfriends:hover .owl-prev{ left: -35px }
	.withfriends:hover .owl-next{ right: -35px }

	.formfield, .mysetting .formfield { display: inline-block; }
	.pcategories .formfield select{  width: 300px	}
	/*langin page*/
	.landinginner, .logininner{ position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%); padding:0 }
	.landinginner img{  height:auto; }
	.landinginner p{ font-size: 48px; line-height: 58px }
	.landinginner .btn, .logininner .btn{ width: 217px; margin: 35px 10px; }
	.ladding-copyr{ position: absolute; bottom: 30px; width: 100% }
	.logininner .btn{ margin: 35px 0 25px; }

	/*Game Play*/
	.gameplay ul{ max-width: 576px; margin: 0 auto}
	.gameplay li{ display: inline-block; padding: 15px 0; width: 219px }
	.timer{position: absolute; right: 48px; top: 33px;}	
	.resubmit{ border-radius: 0 5px 5px 0;}
	.signupinner .btn{ display: block; margin: 35px auto 25px;}
	.heading{ font-size: 30px;}
	.textrigth{text-align: right !important; }	

	/*My setting*/
	.viewbublic{ padding: 10px 20px; display: inline-block; margin-top: 30px;}
	.saccount .formfield select{ width: calc(100% - 94px) }
	.mysetting .formfield{ padding:0 30px 0 0;}	
	.saccount .col-xs-12	{ margin-top: 30px }
	.card .saccount .col-xs-12 h3{ margin-top: 34px; }
	.saccount .col-xs-12 .col-sm-9{ padding: 10px 0;}
	.saccount .formfield label + p{ padding-left:90px; }
	.savebox a.btn.startg{ display: inline-block; margin-right: 70px}
	#file-name{min-width: 280px;}
	.card .enterquestion h3{margin-top: 40px}
	.card .saccount h3{ margin-top: 53px }
	.custom-file-upload { display: inline-block;}
	.namefield .formfield > label{ width: 25% }
	.namefield .formfield > input{ width: 55% }
	.namefield .formfield > p{ margin-left: calc(25% + 4px ) }


	/*User Profile*/
	.badges{ height: 262px }

	
}
@media screen and ( min-width:1000px){	
	main h2 span{ display: block;}
	main .pageinner h2 span{ display: inline-block;}
	.innerpage main{ display: block; padding: 0 }
	a img{ transition: 0.3s ease-in-out }
	a:hover img{ opacity: 0.7 }
	.headerdrop a:hover{ opacity:1;}
	.headerdrop a:hover .settingicon{transform: rotate(-45deg)}
	.viewall:hover:after{ right: 12px; }
	.playwith a:hover:after{ right: 30px; }
	.playwith a:hover:before{ right: 40px; }
	.socialicon a:hover{ opacity: 0.8 }
	.categorybox{ margin-top: 16px }
	.mainpage { width: 730px;}
	.innerpage .mainpage{ width: inherit; padding:0 15px ; }
	h1{ font-size: 40px;}
	.btn:hover{box-shadow: 0 4px 5px rgba(0,0,0,0.3)}
	.invitationlist li{ margin-bottom: 0 }
	.invitationlist li .dark, .invitationlist li .light{ width:100%; float: none; padding-left:0;}
	.invitationlist  .usreimg{ margin-bottom: 0 }
	.invitationlist img { width: 100%;max-width: inherit; }
	.invitationlist .btn{ margin: 0 }
	.clinton, .invitationlist .T-tagging{ line-height: 45px; }
	.invitationlist img, .categorybox img{ padding: 1px }
	.invitationleft{ text-align: left; }
	.invitationlist li{ margin:0 0 20px  }
	.blog .card{margin:0 0 30px }
	.blog .card:hover .blogimg{ opacity: 0.7 }

	
	.timestats-icon{margin-top: 9px}
	.timestats-icon + h2{ margin-bottom: 0 }
	
	.user:hover:after{height: 100%; background: linear-gradient(to bottom, rgba(41,53,59,0.7) 0%, rgba(41,53,59,0.7) 50%, rgba(41,53,59,0.9) 100%)}
	#currentgame{ margin-top: 70px }
	.btnbox{ padding: 32px 0 35px;}


	.optionbox{width: 765px; margin: 60px auto 0;}	
	.tag .tag-i:hover{ text-decoration: none }
	.optionbox > .row > .col-sm-3{ padding-left: 15px; padding-right: 15px; }
	.chancat{ margin-top: 0 }
	.chancat span:nth-child(2){ vertical-align: -12px; }
	.optionbox h2{ font-size: 16px; text-transform: uppercase; margin-bottom: 0 }
	.optionbox .pcategories h2{ margin-top: 40px}
	.submitpage .optionbox h2{ margin-bottom: 7px }
	.btn.startg{ width: 216px; margin:0 auto; padding: 20px 0  }	
	.submitpage .optionbox{ margin-top: 0; padding: 0 }
	.secondbg{ padding-top: 35px }
	.submitpage .enterquestion .optionbox h2{ margin-bottom: 15px }

	.enterquestion .formfield{ width: calc(50% - 3px) }
	.enterquestion .formfield:nth-child(2n + 2){ text-align: right; }
	.enterquestion .formfield > input{width: calc(85% - 34px) }

	/*loginpage*/
	.logininner{  width: 800px; right: 0; margin: auto;  }
	.logininner .withsocial, .logininner .col-sm-7.col-xs-12{ display: table-cell; float: none; }
	.loginlink a:hover{ border-bottom:1px solid transparent; }
	.signupinner{width: 405px;}

	/*Game Play*/
	.gameplay p a:hover{text-decoration: underline;}
	.gameplay h2{ width: 80% }	

	/*Question Status*/
	.questionstatus .btn{ width: 190px }
	.questionstatus .tabbing li{ font-size: 22px; line-height: 57px; padding: 0 }
	.loginlink a.forgot:hover{border-bottom: 1px solid; }
	.subscrib-cont{ min-height: 232px }	

	/*my setting*/
	.avatarimg{ margin: 0}
	.mysetting .formfield{ width: auto; }
	.saccount .formfield{ width: 100% }
	.saccount .formfield > input{ width: 100% }
	.saccount .formfield:nth-child(2n + 2), .namefield .formfield:nth-child(2n + 2){ text-align: left; }
	.namefield .formfield{ width: 100% }
	.namefield .formfield > input{ width: 55% }
	.custom-file-upload:hover{ box-shadow: 0 2px 5px rgba(0,0,0,.30)}

	/*User Profile*/
	.badges{ height: 365px }

}

@media (min-width: 1200px){
	.pagelayout{ display: table; }	
	main { padding: 0 26px; display: table-cell; }
	.mainpage, .innerpage .mainpage { width: 100%; max-width: 984px;}	
	.innerpage .mainpage{ max-width: none; }	
	nav .card{ margin-bottom: 14px; border-bottom: 0;  box-shadow: 0 2px 6px rgba(0,0,0,0.12);}
	.time-stats{ border-width: 1px; width: auto;}
	.time-stats:last-child{ border-right:0; padding-right: 0}
	.time-stats:first-child{ padding-left: 0}
}
@media (min-width: 1365px){
	.mainpage { max-width: 1068px;}
	.innerpage .mainpage{ max-width: none; }
}
@media screen and ( max-width:1024px){
.logo a { display: inline-block; padding-left: 40px;}
	.innerhead .logo a{ padding-left: 0 }
	.logo a img{ height: 100%; max-width: none;  }
	nav { position: absolute; top: 15px; z-index: 99999; box-shadow: 0 0 0 100em rgba(0, 0, 0, 0); transform: translate3d(-263px, 0, 0); transition: all 0.3s ease-in-out;}
	nav .smartphone-menu-trigger {width: 40px; cursor: pointer; height: 40px; position: absolute; left: 100%;}
	nav .smartphone-menu-trigger span { content: ''; width: 50%; height: 2px; border-radius: 10px; position: absolute; left: 50%; transform: translate3d(-50%, -50%, 0);}
	nav .smartphone-menu-trigger span:first-child { top: 35%;}
	nav .smartphone-menu-trigger span:first-child { top: 35%; }
  	nav .smartphone-menu-trigger span:nth-child(2) { top: 48%; }
  	nav .smartphone-menu-trigger span:last-child { top: 61%; }
  	nav:focus .smartphone-menu-trigger span:nth-child(1) { top: 18px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); background: #fff; }
  	nav:focus .smartphone-menu-trigger span:nth-child(2) { opacity: 0; left: -60px; }
 	nav:focus .smartphone-menu-trigger span:nth-child(3) { top: 18px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); background: #fff; }
 	nav ul li { margin-left: -200px; }
  	nav:focus ul li { margin-left: 0; }
 	nav:focus .smartphone-menu-trigger span { left: 30%; }
 	nav .smartphone-menu-trigger:after { transform: translate3d(-50%, -50%, 0); }
 	nav:focus { transform: translate3d(0, 0, 0); box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.8); }
 	nav:focus .smartphone-menu-trigger { pointer-events: none; }

 	#curentactive{ overflow: hidden;}

}
@media screen and ( max-width:999px){	
	main h2{ line-height: 1.2 }
	.hidden-xs{ display: none; }
	.visible-xs{ display: block; }
 	#curentactive + section, #curentactive + section + section{ position: relative; padding-bottom: 70px; overflow: hidden;}
 	.callicon{ vertical-align: middle; }
	.headtopright li{ margin-left: 20px }
	.headtopright {  margin-right: 65px;  padding-top: 20px;}
	.nav-list{  box-shadow: -4px 0 15px 0 #373435; -webkit-box-shadow: -4px 0 15px 0 #373435; box-sizing: border-box; -webkit-box-sizing: border-box;  height: 100%;  overflow-x: hidden;  overflow-y: scroll;  padding: 0;  position: fixed;  right: -300px;  top: 0;  transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;  width: 250px;  z-index: 9999;}
	.nav-mobile {  cursor: pointer;  display: block;  position: absolute;  right: 25px;  top: -45px;  z-index: 99;}
	.menuicon {  background-position:-154px 0;  height:22px;  width:30px;}
	.menuicon {  background-position:-154px 0;  height:22px;  width:30px;}
	.open > .nav-list {  display: block;  height: 100%; right: 0;  position: fixed;  top: 0;  z-index: 9999; width: 75%}
	.open > .nav-mobile {  background: rgba(225, 225, 225, 0.85);  display: block;  height: 100%;  right: 0;  position: fixed;  top: 0;  width: 100%;  z-index: 99; text-align: right;}
	#service{ padding-top: 60px }
	.callicon, .mailicon{ cursor: pointer; }
	.blog{ margin: 0; overflow: hidden;}
	.owl-item > div{ padding: 0 }

	.questionstatus .btn{ margin-top: 15px; }
	.owl-carousel .owl-wrapper-outer{ overflow: visible; }
	.friendsslider .owl-wrapper-outer{ overflow: hidden; }
	.invitationlist { margin: 16px -15px 0  }
	.tagging input{ width: 100% }
	.ladding-copyr{ padding-bottom: 20px }
	.invitationlist .btn{ display: block; }
	.invitationlist li{ border-radius: 4px }
}
@media screen and ( max-width:760px){
	.pageinner .col-sm-3.col-xs-12.textrigth{ position: absolute; bottom: 20px; text-align: center; }
	.subscrib-cont .btn{ margin-top: 15px; width: 100% }
	footer{ text-align: center; line-height: 2 }
	.questionstatus .tabbing li{ display: flex; align-items: center; justify-content: center; }
	#curentactive .btnbox.fixed{position: fixed;bottom: 0; width: 100%; left: 0; padding: 0 15px; background: #fff; box-shadow: 0 -1px 2px rgba(0,0,0,0.1);}
	.mysetting .row{ margin: 0 }
	.mysetting .row .row{ margin-left: -15px; margin-right: -15px; }
	.mysetting .formfield{ display: inline-block;}
	.mysetting .formfield > label{ font-size: 14px; }
	.saccount .formfield label{font-size: 18px; margin-bottom: 5px}
	.mysetting .saccount .formfield{ width: 100% }
	.mysetting .formfield > input{ width: 100% }
	.saccount .col-xs-12 .col-sm-3, .saccount .col-xs-12 .col-sm-9{ padding: 0 }
	.savebox a.btn.startg{ width: 90%; margin: 0 auto 30px; }
	.cd-popup-container{ padding-top: 10px }
	.gameplay h1{ font-size: 20px; }
	.cd-popup-container h1 + p { font-size: 16px; margin-bottom: 5px }
	.cd-popup-container .secondbg{ margin-top: 15px; padding-top: 20px;}
	.gameplay h2{ font-size: 16px; line-height: 1.4}
	.gameplay li{ margin-top: 15px; }
}